[2018-06-03 09:14] dineshadepu commented on #173
By the way I don't have a GPU. Will this example still work?

[2018-06-03 10:52] 9prady9 commented on #173
Even if you don't have GPU, the example should be able to run on CPU. Can you trying setting the AF_PATH to ArrayFire installation root?

[2018-06-03 11:51] dineshadepu commented on #173
This is the updated config

`bashrc` as

[code]

Now I am running a little simpler example.

[code]

Still I get the same output

[2018-06-03 12:16] 9prady9 commented on #173
Which versions of the crate and ArrayFire are you using ? Can you try and check if you are able to run any examples for `arrayfire-rust` crate ?

[2018-06-03 12:39] 9prady9 commented on #173
I am sure of one thing based on the output. Either the arrayfire libs or its dependencies are not being found. Can you please paste the output of `ldd` command on the `libafcpu.so`  under `$AF_PATH/lib`.
`ldd $AF_PATH/lib/libafcpu.so`

[2018-06-03 12:41] dineshadepu commented on #173
Here we go.

[code]

[2018-06-03 13:37] 9prady9 commented on #173
I believe ldd usually prints out path to the so files if it was able to locate them on your machine. None of the following dependencies needed by `libafcpu.so` are found based on the above output.

[code]
Just curious, can you show me the command you ran for ldd. The reason I am confused is why does the first line say `linux-vdso.so.1`.

[2018-06-03 13:39] dineshadepu commented on #173
[code]

[2018-06-03 13:41] 9prady9 commented on #173
@dineshadepu Can you come over on [slack](https://join.slack.com/t/arrayfire-org/shared_invite/enQtMjI4MjIzMDMzMTczLWM4ODIyZjA3YmY3NWEwMjk2N2Q0YTQyNGMwZmU4ZjkxNGU0MjYzYmUzYTg3ZTM0MDQxOTE2OTJjNGVkOGEwN2M), it would easy to exchange messages directly.

[2018-06-06 06:34] #173 closed

[2018-06-12 08:10] #60 closed

[2018-06-12 08:12] 9prady9 commented on #141
This is being addressed on an upstream issue https://github.com/arrayfire/arrayfire/issues/1818

[2018-06-12 08:12] #141 closed

[2018-06-12 08:13] 9prady9 commented on #145
Closing due to inactivity. Please reopen if the question is still pertinent.

[2018-06-12 08:13] #145 closed

[2018-06-14 03:11] #164 closed

[2018-06-25 06:34] 9prady9 commented on #98
fyi - I have started working on typed arrays, hopefully I will have something usable by the end of this week or much earlier if possible.

[2018-08-04 18:08] Aidan24 opened #176 "rust version 1.28 forwards seems to break new array creation"
From rust version 1.28.0 forwards statements that create new arrays like
 let weights: af::Array = randu::<f64>(wdims);
fail at runtime for me. Downgrading to 1.27.2 and below they work again. I have tried multiple versions of the arrayfire wrapper and different versions of Arrayfire and it doesn't seem to make a difference.

Windows 10 version 1803 build 17134.191
2017 C++ buildtools

[2018-08-05 01:43] 9prady9 commented on #176
@Aidan24 Thank you for reporting this. I will check 3.5.0 release tag against 1.28.0 rust version. I am surprised though about how rust version increment is breaking the crate at runtime and not at compile time.

I would also like you to know that, I have been working on typed arrays (#175) for the past couple of days. I can assure you that 3.6.0 (being worked on #175 - will be released in couple

[2018-08-05 03:31] 9prady9 commented on #176
I have tried 3.5.0 with rust-1.28.0 on Arch Linux and that didn't have any issue. May be it is a problem with MSVC toolchain only.

[2018-08-05 07:33] Aidan24 commented on #176
@9prady9 Thanks for looking into this. I think you're right, it's probably a windows related thing. At first I assumed it was either an Nvidia drivers update or a Windows update that caused it as BACTRACE=1 pinpointed a new_empty statement failing first. Then after trying other simpler, previously fine, code it looks like anything that actually allocates memory fails. Creating a constant array doe

[2018-08-05 07:51] 9prady9 commented on #176
From what you have experienced, it definitely looks like the problem is specific to MSVC toolchain. Sure, I will let you know if there is anything else that you can help out here.

[2018-08-14 19:30] 9prady9 commented on #176
We don't test it with GNU toolchain in Windows, so I don't really have much data on how GNU toolchain on windows works for rust.

I won't be working for next week or so on this, but I will get back to it once I resume work. Thanks for sharing the feedback.

[2018-09-12 11:09] Aidan24 commented on #176
Probably should add that the exit code is 3221225501 and that it still exists with the latest nightly build.

[2018-09-17 06:56] 9prady9 commented on #176
@Aidan24 Have you tried it again with Rust 1.29 ?

[2018-09-17 11:47] Aidan24 commented on #176
Hi 9prady9 yes and it doesn't work for me. For a more concrete example here is an example code and output, first from 1.27.2 then from the latest stable. The results are the same from nightly too:

`extern crate arrayfire as af;
use af::*;

fn main() {
    let num_rows: u64 = 8;
    let num_cols: u64 = 8;
    let dims = Dim4::new(&[num_rows, num_cols, 1, 1]);
    let be:Backend = Backend::OPENCL;

[2018-09-17 12:38] 9prady9 commented on #176
@Aidan24 Would it be possible for you to try your example with the changes from PR #175 and please let me know how that works out.

[2018-09-17 12:45] Aidan24 commented on #176
@9prady9 How do I do that? In the dependencies I'm using the below:

[dependencies]
arrayfire = { git = "https://github.com/arrayfire/arrayfire-rust" }

So I think I'm using the latest 3.6 version.

[2018-09-17 13:17] 9prady9 commented on #176
The PR hasn't been merged as I have requested community feedback on [slack](https://join.slack.com/t/arrayfire-org/shared_invite/MjI4MjIzMDMzMTczLTE1MDI5ODg4NzYtN2QwNGE3ODA5OQ) channel.

you can use the following instead of what you have now
[code]

These changes might break some of your code as Arrays are typed/generic over a given type now. If you have any trouble compiling, please let me know.

[2018-09-17 13:54] Aidan24 commented on #176
Sorry no that didn't work for me:

Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

PS C:\Users\gibsona\rust\af_test> rustup default stable
info: using existing install for 'stable-x86_64-pc-windows-msvc'
info: default toolchain set to 'stable-x86_64-pc-windows-msvc'

  stable-x86_64-pc-windows-msvc unchanged - rustc 1.29.0 (aa3ca1994 2018-09-11)

PS C:\Users\gibsona\r

[2018-09-17 14:15] 9prady9 commented on #176
Thanks for trying it out. I will check both master and the PR on windows tomorrow and let you know how that goes for me.

[2018-09-17 14:27] Aidan24 commented on #176
Thanks 9prady9, I really appreciate it. I am having the same issue on two different Windows machines which have different processors and different graphics cards (although they are both Nvidia).

[2018-09-17 14:38] 9prady9 commented on #176
Well, I have a NVIDIA card myself. So, hopefully I will be able to reproduce it on my end as well.

[2018-09-20 05:48] #98 closed

[2018-09-20 14:49] 9prady9 commented on #176
@Aidan24 Sorry about the delay, was busy with other tasks. I think I was able to reproduce this on Windows, interestingly this isn't happening on Linux, not sure about OSX. I am going to try using gnu-toolchain and see what happens with that toolchain.

[2018-09-20 14:55] Aidan24 commented on #176
Hi 9prady9, I did try this with the gnu-toolchain on Windows using MinGW and got the same results as MSVC.

[2018-09-20 15:00] 9prady9 commented on #176
Yeah, looks like it, for some weird reason my first run with gnu toolchain ran fine although from then on I got segfaults consistently.

[2018-09-27 09:33] Aidan24 commented on #176
That's excellent news. Thanks for your help.

[2018-09-27 13:05] 9prady9 opened #178 "Segfault on Arch Linux with GNU 8 series toolchain"
As of now, this seems to be an issue only on Arch Linux. Doesn't happen on Ubuntu 16.04 or with Windows MSVC toolchain.

[2018-09-27 13:05] #176 closed

[2018-09-27 13:06] 9prady9 commented on #171
@csheaff I have fixed a FFI related bug that was causing segfaults. I think that fixes this also. Can you please give your code a try with latest master.

[2018-09-27 17:32] Aidan24 commented on #176
@9prady9 I'm still having problems with randu, I think I'm picking up the latest master branch, is there something else I need to do? Thanks

[2018-09-27 17:38] Aidan24 commented on #176
With AF_PRINT_ERRORS = 1 I get:
In function af_err __cdecl af_randu(void **,const unsigned int,const __int64 *const ,const af_dtype)
In file src\api\c\random.cpp:324
Invalid type for argument 3

I think this is for the line
let c = randu::<f64>(dims);

Maybe I'm doing something stupid...

[2018-09-28 05:03] 9prady9 commented on #176
Shouldn't it be randu::<f32>() ? Where is the generic type ?

On Thu 27 Sep, 2018, 23:08 Aidan24, <notifications@github.com> wrote:

[2018-09-28 05:14] 9prady9 commented on #176
Which version of the wrapper are you using?

[2018-09-28 05:15] Aidan24 commented on #176
Sorry I had f64 in there but github formatted it out because I originally forgot to quote it as code and I guess it removes stuff in angled brackets

[2018-09-28 05:33] 9prady9 commented on #176
@Aidan24 Did you change the version of rust wrapper crate to 3.6 ? Or if you are doing this `arrayfire = { git = "https://github.com/9prady9/arrayfire-rust", branch = "master" }`, may be you should do cargo update ?

[2018-09-28 06:11] Aidan24 commented on #176
I'm using arrayfire = { git = "https://github.com/9prady9/arrayfire-rust", branch = "master" }. I have done cargo update, but no dice. I can create arrays from new, it seems to be just randu that fails

[2018-09-28 06:34] 9prady9 commented on #176
My bad, can you change it to following
`https://github.com/arrayfire/arrayfire-rust`
instead of
`https://github.com/9prady9/arrayfire-rust`

I may not have updated master on my fork.

[2018-09-28 06:58] Aidan24 commented on #176
That did it. Thank you so much.

[2018-10-08 13:53] 9prady9 commented on #171
@csheaff Closing due to inactivity, feel free to reopen if you are still facing similar issue with latest crate too. thank you.

[2018-10-08 13:53] #171 closed

[2018-11-12 19:23] 9prady9 opened #180 "Unit tests of library crate using arrayfire crate fails"
Reported on slack channel by Victor Tashkov.

`arrayfire-rust` crate if used by an executable project , seems to work just fine. However, if used by a library crate from it's own unit tests, the tests fail to finish successfully.

The user is using actually PyCharm with rust plugin, similar to using IntelliJ IDEA with rust. The results are similar from command line project.

OS: Windows

[2018-11-12 20:16] vtashkov commented on #180
The actual failure message I've got is

The test does almost nothing to do with the library, it just invokes info() .
The whole point is just to use(link/build) the arrayfire-rust inside my own library crate.

[2018-11-13 09:28] 9prady9 commented on #180
@vtashkov Here is what I have tried.

With `arrayfire` as dev-dependency in cargo toml file and `af::info` call inside a test, neither a bin crate nor a lib crate is giving me an issue. Both version seems to be executing fine.

I used Rust 1.30.1 MSVC toolchain on Windows 10 Pro. I ran all commands from Windows powershell.

Which version of rust did you use ?

[2018-11-20 13:31] 9prady9 commented on #180
@vtashkov Is this still an active issue ?

[2018-11-20 17:01] vtashkov commented on #180
It depends on your criteria. ArrayFire doesn't work when you execute it simultaneously. Rust unit tests by default are run in parallel. Therefore, tests in Rust language that use ArrayFire do not work. Of course, you can say that there is an easy workaround - just use single thread.

[2018-11-20 17:18] 9prady9 commented on #180
Let me look into it once again. I don't remember if I tried two tests using
test attribute hint. I thought I did and it worked. Anyway, will check
again.

On Tue 20 Nov, 2018, 22:31 Victor Tashkov <notifications@github.com wrote:

[2018-11-21 15:19] 9prady9 commented on #180
@vtashkov

I am fraid whatever it is you are experiencing, it is specific to your development setup.

I unable to replicate the issue with rust wrapper using arrayfire `v3.6` branch on Windows.

If this issue is present in 3.6.1 release of ArrayFire, looks like it is fixed in lastest master and v3.6 branch. We will soon being doing a 3.6.2 release of ArrayFire and you can probably try your code wi

[2018-12-15 13:12] michael-p opened #181 "Examples crash on Mac OS X"
Dear all,

I installed Arrayfire using the official installer, verified that the C++ helloworld example works (including OpenCL support), but now when I try to run any of the Rust examples I get various crashes (Segmentation fault, Illegal instruction, Abort trap).
For instance, running the helloworld example in Release-mode with `AF_PRINT_ERRORS=1`:
[code]
With `AF_PRINT_ERRORS=1 AF_DISABLE_GRAPH

[2018-12-15 14:17] 9prady9 commented on #181
@michael-p I will correct the README to use DYLD path for OSX.

As far as the crash goes, unfortunately I do not have a Intel Integrated card to test this. Similar segfaults are not happening on AMD cpu or NVIDIA GPU. I think it is OpenCL graphics related issue but I can't say for sure without proper testing. Do you have any other OpenCL capable device on your OSX system where you run the examples

[2018-12-15 18:47] michael-p commented on #181
Sadly not, no. Is there a way to tell it to use the CPU based backend instead of the OpenCL one?

The thing that I find interesting is that the C++ demo works just fine. If the problem really was due to bad/broken OpenCL drivers I would have expected the C++ example to fail as well, but that one is totally fine.
Do you have any further ideas about how I could debug this?

[2018-12-15 19:01] michael-p commented on #181
I just tried a really minimal example:
[code]
and ran that using the CPU backend, but still got a Segmentation fault:
[code]

[2018-12-15 20:43] 9prady9 commented on #181
Yes, you can use [set_backend](http://arrayfire.org/arrayfire-rust/arrayfire/fn.set_backend.html) to change the backend before calling any arrayfire functions.

The way you tried using environment variables, that actually didn't run on CPU backend.

I am not sure what's going until I can replicate it somewhere. It seems to be failing at random points from you issue description or is it failing alw

[2018-12-15 20:58] michael-p commented on #181
Yes it fails at random points. But also this minimal example (with CPU) fails with Segmentation fault, even though it's not doing any real work:
[code]
Same thing when choosing `af::Backend::OPENCL`, but interestingly, when I try `af::Backend::CUDA` (which cannot work since I do not have a Nvidia card) I get a message telling me that it could not find the library as expected and then `Illegal inst

[2018-12-17 22:12] michael-p commented on #181
Closing this as there's probably not much you (or I) can do about this (probably some weird issue with the driver or linked libraries).

[2018-12-17 22:12] #181 closed

[2018-12-24 06:12] 9prady9 commented on #180
@vtashkov Did you get a chance to check your code against latest 3.6.2 release binary of ArrayFire ?

[2018-12-26 02:35] dchammond opened #182 "Why is the FloatingPoint trait private?"
I am trying to write a generic library on top of arrayfire-rust. For most `Array::*` functions, having `T: arrayfire::HasAfEnum` is enough but for functions like `arrayfire::dot`, that has the additional bound of `FloatingPoint`, I cannot write a wrapping function since that trait is implemented in `utils` but `utils` is a private module.

Is there a reason this is the case?

[2019-01-11 08:21] karasjoh000 opened #183 "error: linking with `cc` failed: exit code: 1"
I am running a example

[code]

and I am getting this error:
[code]

[2019-01-11 08:48] 9prady9 commented on #183
What command is giving this error? `cargo run -example`??

Were you able to run the stock examples from ArrayFire-rust crate?

[2019-01-11 18:08] karasjoh000 commented on #183
`cargo run`

[2019-01-15 19:02] nilgoyette commented on #183
I had the same problem as @karasjoh000. I have this simple program

    use arrayfire::info_string;
    fn main() {
        println!("infoString: {}", info_string(true));
    }

but it refuses to compile because of some random link errors. After playing with it for a while, I discovered that arrayfire installation and env must be done BEFORE any `cargo` commands. It seems obvious when I write it..

[2019-01-18 13:57] czotti commented on #183
I agree with @nilgoyette solution, at first I wasn't able to make it build after adding `AF_PATH` and update `LD_LIBRARY_PATH` and reload my terminal configuration.
I made a `cargo clean` and everything was working perfectly after.

[2019-01-18 15:51] fmorency commented on #183
I also would like to point out that I needed to create a symlink in the ArrayFire installation folder `lib → lib64` to make Rust link properly.

[2019-01-18 16:00] 9prady9 commented on #183
@fmorency I have fixed that issue in my one of local branches, which will soon get merged into master.

[2019-01-21 11:41] 9prady9 opened #184 "Explore how to expose pinned memory"

[2019-01-22 05:56] vadixidav opened #185 "Comparison operations return incorrect array type"
In the code for macro `overloaded_binary_func` [here](https://github.com/arrayfire/arrayfire-rust/blob/ea5759478a5bb15846de0f5c668affb644f818ee/src/arith/mod.rs#L304) the trait bound is present:

[code]

The macro then is used for comparison operators:

[code]

This results in the output array erroneously no longer being `Array<u8>` or `Array<bool>` (in Rust versions where bool is guaranteed to be

[2019-01-22 05:58] 9prady9 commented on #185
I thought I had it covered, I will look into it. Thank you for reporting.

[2019-01-22 06:03] vadixidav commented on #185
@9prady9 Also consider using `bool` now thanks to [this](https://github.com/rust-lang/rust/pull/46176#issuecomment-359593446).

[2019-01-23 05:35] 9prady9 commented on #183
Original issue has been addressed and issue mentioned by @fmorency is taken care of in #186

[2019-01-23 05:35] #183 closed

[2019-01-23 05:51] 9prady9 commented on #185
Size of bool wasn't guaranteed to be of 1 byte earlier and hence I avoided that. Changing to `bool` may be a much bigger change. I will try to make the shift for next release if possible.

[2019-01-23 06:05] 9prady9 commented on #185
I was mistaken about my earlier comment about bool, we are using bool wherever possible.

[2019-01-23 08:16] #185 closed

[2019-01-23 08:46] 9prady9 commented on #182
@dchammond I have fixed this in https://github.com/arrayfire/arrayfire-rust/pull/188 can you please test the changes and let me know if that fixed the problem for you. Thank you.

[2019-01-24 17:44] #182 closed

[2019-02-08 21:39] vadixidav opened #189 "Remove core feature"
The `core` feature in `Cargo.toml` should be removed. If you try to build without it then the build fails:

[code]

Unless this is just a bug (which would need to be fixed anyways), I would recommend removing this feature. All features of a cargo package should be additive and compatible with each other without breaking the build.

[2019-02-09 04:13] 9prady9 commented on #189
I am not sure I understand your concern. I added these features to enable compiling sections/modules of code without having to change entire code base when repo-wide changes are being implemented.

Also, as the name suggests core is mandatory feature that is needed to build any other feature. That is the idea.

Why do you think it needs to be removed?

[2019-02-09 04:16] 9prady9 commented on #189
Ah, so if it is not included in any feature, it would be considered mandatory for any other feature being compiled? Is that what you mean?

[2019-02-09 04:49] vadixidav commented on #189
Perhaps. I mean that core should just be included always and should not have a feature. The reason I say this is because if you omit all features then the crate does not build. If I cannot remove the core module then it shouldn't be an option. It should just always be on.

[2019-02-09 05:03] 9prady9 commented on #189
I will look into what can be done. Core is useful in certain Dev situations like the one I explained earlier. I will check cargo docs if we can retain but it but make that feature mandatory

[2019-02-09 12:08] vadixidav commented on #189
@9prady9 Basically my suggestion is to remove the core feature and all `cfg` statements for it in the code. Those pieces of code are necessary for `arrayfire` to build, therefore it is not useful as a feature since it cannot be turned on or off. Since it can't be turned on or off, it isn't a feature, but rather something required for `arrayfire`, thus it should not be possible to turn off by disab

[2019-02-09 13:16] 9prady9 commented on #189
I understood your point. May I see the the cargo command that lead you to the error? Is it with `--no-default-features`

[2019-02-09 13:45] vadixidav commented on #189
Actually, it is downstream:

[code]

[2019-02-09 14:00] 9prady9 commented on #189
That's fine, just wanted to how did it happen. So you are using cargo equivalent of command line option for no default feature set.

[2019-02-09 14:02] 9prady9 commented on #189
Interesting, where are specifying the required features then? In the command line?

[2019-02-09 14:06] vadixidav commented on #189
I am specifying them in my `Cargo.toml`. I have to include the `core` feature for it to build:

[code]

Naturally, I will be adding more features to the features list, but I thought it was weird that `arrayfire` failed to compile with all the features off, and it took me a while to figure out why. It is definitely unexpected and the error is not helpful in determining the cause.

[2019-02-09 14:09] vadixidav commented on #189
I can submit a PR to remove the feature if you are okay with the removal.

[2019-02-09 15:55] 9prady9 commented on #189
I was just wondering if there is way to specify mandatory feature in cargo. Sure send the PR. You just need to edit couple of lines in `src/lib.rs`.

I am still not sure what should happen when we compile empty crate in rust which is essentially what you were earlier.

[2019-02-10 04:01] 9prady9 commented on #189
Fixed in #190

[2019-02-10 04:01] #189 closed

[2019-02-18 10:41] tedil opened #191 "Missing unary_func macro invocation for af_not"
It seems like `arith/mod.rs` is missing an invocation of `unary_func!` for `af_not` (though I'm not sure if that's deliberate?).

[2019-02-18 10:56] 9prady9 commented on #191
@tedil That was a deliberate choice. [Array](http://arrayfire.org/arrayfire-rust/arrayfire/struct.Array.html) object implements [`Not`](https://doc.rust-lang.org/nightly/core/ops/trait.Not.html) trait

[2019-02-18 11:33] tedil commented on #191
Ah okay. I was confused by this as it seemed somewhat inconsequential considering binary functions such as `and` are explicitly available so I was wondering why there was no `not`.

[2019-02-18 11:45] 9prady9 commented on #191
I understand your confusion. The idea is to have as much terse syntax as possible. `Not` traits allows us to do that. However, I don't think there are traits that allows us to do `Array && Array -> Array`. Hence, we had to take the function route for those.

Kindly close the issue if you feel all your queries have been addressed.

[2019-02-18 11:47] 9prady9 commented on #191
We took the traits approach where ever it was possible essentially. Please look at BitAnd, BitOr etc.

[2019-02-18 11:48] #191 closed

[2019-02-28 14:54] vadixidav opened #192 "Statically linking arrayfire"
Right now arrayfire has to be used by linking to the DLL. Since the only parts of arrayfire that are included in the Rust bindings are BSD 3-clause, there should be no problem statically linking arrayfire. Is it possible that we could choose whether or not arrayfire is statically linked to ease distribution? Also, is there any downside to just always statically linking arrayfire? I feel like that

[2019-02-28 14:59] 9prady9 commented on #192
There is one major problem with doing that I think. Rust crates can't go beyond a certain size. ArrayFire binaries are big right now, definitely not in the range of crate size, the last time I checked it was 10MB

[2019-02-28 15:01] 9prady9 commented on #192
Whether you use static or dynamic binaries of ArrayFire, the size can't go to 10MB for sure.

[2019-02-28 15:03] 9prady9 commented on #192
Looks like per crate limits were added but I don't know yet if it's released.

[2019-02-28 15:07] 9prady9 commented on #192
Also, I am not really sure if it's good idea to club binary along with crate using static linking. Because right now there is an advantage : user can ibstall/modify ArrayFire installation independent of crate version and as long as crate <major.minor> version matches ArrayFire's <major.minor> version, it is ready for use.

[2019-02-28 17:32] vadixidav commented on #192
A feature could be added to enable dynamic linking as well. By default it could be statically linked, but for deployment it could then be dynamically linked by enabling the feature.

[2019-03-01 06:19] 9prady9 commented on #192
@vadixidav I have no experience doing such packaging(involving static linking but handling all OSes) in rust crates. Can you please point to another crate that does this.

[2019-03-01 16:32] vadixidav commented on #192
@9prady9 Sure, I actually just did this for the Rust flann bindings [here](https://github.com/rust-flann/rust-flann). Check the `flann-sys` directory. This was being built using CMake, which it looks like ArrayFire is as well. If you would like, I can attempt this myself. This would make it so that, by default, ArrayFire would be built by Cargo and statically linked, but if you enabled the special

[2019-03-01 17:04] 9prady9 commented on #192
I am concerned by build times of ArrayFire - it takes to much time to be honest. Let me check flann-sys. Sure, give it a try and feel free to contact on slack for quick response if you face problems during static build.

[2019-03-12 19:24] hajsf commented on #66
I just installed `ArrayFire-v3.6` at my mac, with latest rust version:
[code]

And copied this example:
[code]
But got the below error:
[code]
In my `Caro.toml` I've:
[code]

[2019-03-12 19:40] 9prady9 commented on #66
@hajsf Regarding image not found, you need to have the `$AF_PATH/lib64` added to your `DYLD_LIBRARY_PATH` for the program to be able to load required libraries at runtime. This is bug which was fixed in master after current `3.6.0` tag has been published.

As far as the `af_print` macro, I am not sure what is missing there. In fact using latest rust version, Rust 2018 edition`, you don't even need

[2019-03-12 22:12] 9prady9 commented on #180
@vtashkov Did you get a chance to check against latest release ?

[2019-03-12 23:22] vtashkov commented on #180
No, I am sorry, I lost interest in the project. Will let you know if I try it in the future, but for now you are on your own,

[2019-03-12 23:25] 9prady9 commented on #180
Sorry to hear that. Please do leave feedback if possible. I will close this issue for now as I am unable to reproduce this on my end. If you do revisit, feel free to reopen this issue if you still facing problems similar to this issue.

[2019-03-12 23:25] #180 closed

[2019-05-21 11:54] 9prady9 commented on #178
Tests are passing with Rust 1.34 series now. Closing this issue for now, if anyone faces similar segfaults on running `cargo test` using GCC 8 toolchain, please reopen.

[2019-05-21 11:54] #178 closed

[2019-06-06 05:30] 9prady9 opened #197 "Syntactic Niceties for Indexing"
- [x] Indexing an Array using Array, Seq or a combination of both
- [ ] Assignment of indexed Array from another Array or indexed Array

[2019-06-18 11:56] Tzeroxik opened #198 "0xc000001d, STATUS_ILLEGAL_INSTRUCTION"
Hello, I'm using arrayfire and today I was running a project I've been working on for some months now. When running I got this error (exit code: 0xc000001d, STATUS_ILLEGAL_INSTRUCTION).

It had never happened to me or my colleague so far, on any of the 3 computers we tested. But today it happens in all of them.

I suspect pherhaps some dependency is broken?

[2019-06-18 14:48] 9prady9 commented on #198
Whats the upstream (arrayfire) version you are using ? What is the tag/branch of arrayfire-rust you are using ?
A stack trace of the execution would also help.

[2019-06-18 14:53] Tzeroxik commented on #198
I'll send the stack trace as soon as I can.
I'm using 3.6.0 and installed arrayfire via the (windows) installer on the arrayfire website.

[2019-06-18 15:09] 9prady9 commented on #198
So, you are using 3.6.0 tag of arrayfire-rust with arrayfire 3.6.4 that you downloaded from our website ?

[2019-06-18 15:21] Tzeroxik commented on #198
Yes, that is correct.

On Tue, 18 Jun 2019, 16:09 pradeep, <notifications@github.com> wrote:

[2019-06-18 15:21] Tzeroxik commented on #198
Yes that's correct

[2019-06-18 15:48] 9prady9 commented on #198
There are couple of things that changed upstream and in the rust wrapper which probably could have resulted in this. I am going to publish a new crate in the next hour or so. You can try with the next version once it is out.

Sorry about the inconvenience.

[2019-06-18 16:42] 9prady9 commented on #198
@Tzeroxik I have published 3.6.1 crate, please check your application against that using 3.6.4 ArrayFire.

[2019-06-18 17:06] Tzeroxik commented on #198
thanks you, I can only test it tomorow, but I'll post feedback as soon as I do.

[2019-06-18 23:33] Tzeroxik commented on #198
Hello, switching to the new version worked for me, thanks!

[2019-06-19 02:29] #198 closed

[2019-06-19 03:15] 9prady9 commented on #198
@Tzeroxik Can you please tell which version of ArrayFire worked fine with rust 3.6.0 crate ?

[2019-06-19 12:01] Tzeroxik commented on #198
It was 3.6.3 if I'm not mistaken.

[2019-06-19 13:17] 9prady9 commented on #198
Thank you, Would be useful for anyone else facing the problem in future.

[2019-06-28 16:48] Tzeroxik opened #199 "Diferent results running the same code (without any randomness involved)"
I'm using arrayfire in this project "https://github.com/fica-ps/fica" and running the test separate_functions on lib.rs ("cargo test separate_functions -- --nocapture").

The test is giving me diferent results on every other run. Which is strange since it has no random component.

---
[2 2 1 1]
   -0.2660     0.9640
    0.2064    -0.9785
---
[2 2 1 1]
   -0.2660     0.9640
   -0.8619     0.5071
--

[2019-06-29 08:56] 9prady9 commented on #199
@Tzeroxik I have cloned your repository and tried the cargo test separate_functions command couple of times. In all the attempts, the following is the output of it.
[code]

Perhaps, you can setup your project in a docker file and reproduce it and share that docker file here. I will try the docker file. We should be able to reliably reproduce it that way.

[2019-06-29 09:17] Tzeroxik commented on #199
@9prady9 okay I'll do it as soon as I can.

[2019-06-29 15:04] Tzeroxik commented on #199
Sorry I couldn't send the docker file yet, but I had a colleague run some tests and he found out that only backend where it happens is the CPU.

[2019-06-29 15:39] 9prady9 commented on #199
It is odd that only CPU backend is giving incorrect result. I could reproduce the random output while running CPU backend. I was letting it choose the backend earlier when it used CUDA backend, hence I wasn't seeing the issue.

I will check your project code to understand what functions are being called.

[2019-06-29 15:42] Tzeroxik commented on #199
Thank you, we'll keep trying to figure it out on our end too, and await to hear from you.

[2019-07-08 05:24] 9prady9 commented on #199
@Tzeroxik Sorry about the delay, I was busy with some personal work last week. Did you find anything on your end ? Can you also please tell me from which version you found this behavior ?

[2019-07-08 07:16] 9prady9 commented on #199
It seems like fica_impl is using quite a few arrayfire functions (of course no random number generation related). Have you tried finding out where the outcome is deviating on each iteration ? I have tried with `max_iter=2`  and the variable `nw` inside `fica_impl` `max_iter` loop seems to be producing some `NaN` values in `nw` matrix (irrespective of the backend in usage). Have you looked into tha

[2019-07-08 12:56] Tzeroxik commented on #199
I was using arrayfire-rust 3.6.1, and didn't have any NaN values, still couldn't find the cause.
Sadly we have been forced to switch to another library because of the project deadline.

[2019-07-08 13:02] 9prady9 commented on #199
Sad to hear that! I will keep the issue open and update here once I find something.

[2019-07-08 13:08] Tzeroxik commented on #199
Thank you, best of lucks! Hopefuly this can be resolved soon as i'd love to use this in future projects.
I'll sure try to find out more about it when I'm free.

[2019-07-22 07:34] acm0055 opened #201 "Num Complex Issue"
It appears that the "num" crate has restructured its code causing compile errors for more recent versions of the "num" crate. This would not be an issue if older versions of the num crate compiled with recent versions of Rust. It appears "complex" within "num" has been moved to "num_complex". This causes issues like the following.

[code]

This appears a simple issue of updating the "num" package

[2019-07-22 07:50] acm0055 commented on #201
Nevermind. I see the issue.

[2019-07-22 08:17] acm0055 commented on #201
This actually appears to still be an issue. For further reference the original issue was the I was trying to make an arrayfire array of Vec's which is clearly not possible. However, I still seemed to have the issue after fixing this.
[code]
I have a local version compiling, but it is hacked together from before I noticed my first issue. When I have time I will try a fresh clone and minimal change.

[2019-07-22 16:32] 9prady9 commented on #201
@acm0055 When are you exactly facing that issue ? Have you changed `num` crate version ? I built the crate locally using current master and it builds fine. I haven't changed num version recently.

[2019-07-23 03:04] acm0055 commented on #201
@9prady9 This is when interacting with another version of the num crate locally in my program compared to the one locally in the arrayfire crate. It seems like their was conflict between my version of the num crate and the one included within the arrayfire crate. I have not had time to rerun through things yet and see what issues are persisting.

[2019-07-23 08:30] 9prady9 commented on #201
That's probably it - difference in versions of num crate used by ArrayFire
create and your project.

The work around for now is to use num=0.1 in your project as well.

I will look into the issue and get back to you.

On Tue 23 Jul, 2019, 08:34 Chase Minor, <notifications@github.com> wrote:

[2019-07-23 08:37] acm0055 commented on #201
@9prady9 I can confirm that downgrading my packages num_complex to 0.1 works yet causes issues with other packages that use num_complex 0.2. Can you confirm?

Should be a simple "main.rs"
[code]
"cargo.toml"
[code]

Then checking for these compilation errors. I have tested this locally and it presents the problem. The problem goes away if you downgrade the num-complex package to "0.1"

[2019-07-23 11:59] 9prady9 commented on #201
@acm0055 I have merged https://github.com/arrayfire/arrayfire-rust/pull/200 I have tested it on my end. Can you please verify using master in your project as well. Thank you!

[2019-07-25 07:16] 9prady9 commented on #201
I have tested this in third party example using the following
[code]
and it works fine now. I am going to push a new release as soon as I can.

For any new visitors of this issue:

Please use **3.6.1** crate version of arrayfire-rust if you project uses num crate version **0.1.***
Please use **3.6.2 or later crate** versions of arrayfire-rust if you project uses num crate version **0.2**

[2019-07-25 07:29] 9prady9 commented on #201
Published a new crate version that addresses this issue
https://github.com/arrayfire/arrayfire-rust/releases/tag/v3.6.2

[2019-07-25 07:29] #201 closed

[2019-07-26 06:37] acm0055 commented on #201
@9prady9 I got a chance to test this on my dummy project. I have not had time to go back through and rework for things on my other project.

[2019-09-21 01:01] srenevey opened #202 "Fix reorder documentation for second argument"
Using reorder() with what seems to be valid inputs makes the thread panic.

MWE:
[code]

Results in:

[code]

[2019-09-21 14:40] 9prady9 commented on #202
@srenevey the target output dimensions (axes) should be 0-based index i.e. they are values from 0 to 3

Your example is basically transpose and thus dim4 you pass to reorder should be dim4(1, 0, 2, 3) because you want to swap data along dimension 0 and 1. It is not an failure, rather a proper check done. Notice how the error message is checking `rdims[i] == allDims[rdims[i]]` I understand it is no

[2019-09-22 15:49] srenevey commented on #202
It wasn't clear that the second argument was how the axes should be reordered. I thought it was the number of elements per dimension. Thanks for the clarification.

[2019-09-22 15:55] 9prady9 commented on #202
I shall keep this issue open until I make it clear in the documentation. Thanks once again for reporting it!.

[2019-09-29 05:27] #202 closed

[2019-10-01 07:11] 9prady9 commented on #170
@pravic I have addressed this differently couple of days ago. I have refactored tutorials to use mdbook and just hyperlinking in the main documentation.

http://arrayfire.org/arrayfire-rust/arrayfire/index.html

I have also added the following to cargo.toml
[code]

Docs.rs shouldn't have any issue generating the documentation now.

[2019-11-19 12:50] 9prady9 commented on #199
@Tzeroxik It seems fica code moved away from rust code base altogether. Is that correct ? I am unable to the find the old code in git history as well.

If it is possible, please send me an archived version of your rust code base so that I can try reproducing it on my end.

[2019-11-24 20:01] Tzeroxik commented on #199
Hello, sorry for taking so long to respond, here's the latest archived version we have:

[oldfica.zip](https://github.com/arrayfire/arrayfire-rust/files/3884064/oldfica.zip)

[2019-11-26 01:53] 9prady9 commented on #199
@Tzeroxik Thank you for the archived code, I will look into it.

[2019-11-26 13:06] 9prady9 commented on #199
I found the problem - it is the call sites where `Matrix::new_empty` is being used. The arrays/matrices created using this call are usually created as mutable variables, however they are being passed around as non-mutable references even before any data is populated into the memory allocated for those arrays. I have verified this from one of the variables `ret_weights` which is created from `Matri

[2019-11-26 13:06] #199 closed

[2019-11-30 02:17] Tzeroxik commented on #199
I see, we didn't try the C++ backend because of some requirements in favor of Eigen (not having additional runtime was a plus in this situation). But that's good to know, I'll surely use this on other projects. I do prefer Rustb to C++, even if it's a bit more verbose. Cheers on the good work!

[2019-12-20 11:56] 9prady9 commented on #144
Not sure if these are the right candidates for further improvements. If anyone feels otherwise or suggestions, please reopen with the details.

[2019-12-20 11:56] #144 closed

[2020-01-02 14:00] 9prady9 commented on #197
I have tried to use `std::ops::IndexMut` to enable some better syntax but that doesn't seem to fit the bill because of the way how ArrayFire's C API way of handling indexing.

Moving to timeless milestone, perhaps a compiler plugin might help but I am not sure it is worth the effort at this point.

[2020-01-26 02:48] BA8F0D39 opened #211 "Fix no error message seg fault"
For example: matrix addition
[code]
Results in a segmentation fault

[2020-01-27 09:50] 9prady9 commented on #211
@BA8F0D39 Can you please share the following
- Rust version
- ArrayFire binary installation version
- Rust wrapper Version
- OS

[2020-01-28 11:01] 9prady9 commented on #211
A quick update, I was able to reproduce it. I am looking into if this is lack of feature or something else. Either way, some sort of error message should have been printed instead of silent seg fault.

[2020-01-28 11:15] 9prady9 commented on #211
One thing is sure, this operation (sparse + sparse addition) is not supported 3.6.4 version of ArrayFire library which is what you seem to be using - need your confirmation on that front. Latest development branch - master - has this feature and it should be automatically available in the wrapper when our next ArrayFire release is made.

Having said, I will look into this no message seg fault howe

[2020-01-28 11:38] 9prady9 commented on #211
@BA8F0D39 I have renamed the issue to reflect the actual issue. With the fix I made in https://github.com/arrayfire/arrayfire-rust/pull/212 you should a proper error message such as the following for your example using ArrayFire-upstream-version 3.6.4
[code]

[2020-01-28 11:48] #211 closed

[2020-02-04 03:14] BA8F0D39 commented on #211
Thanks.
I'll wait for the new arrayfire version for rust.

[2020-03-14 09:56] 9prady9 opened #214 "Update supported type list in mdbook"
The hyperlinked enum shows correct set of types, but the list the book is missing f16.

[2020-03-14 09:58] 9prady9 commented on #170
All issues related to docs-rs documentation generation are fixed now. the mdbook is being redirected to the one hosted on our gh-pages.

[2020-03-27 22:59] IvanChepurnyi opened #215 "Converting RGB8 buffer into ArrayFire compatible layout"
I was trying to implement GPU accelerated image resize function by using ArrayFire with the code like this:

[code]

Although the compute run successfully the result is far from the expected.
It appears that colors and pixel layout are different in ArrayFire image processing functions and require the prior transformation of RGB8 byte layout into something different.

The problem is that the layout

[2020-03-30 06:59] 9prady9 commented on #215
[ArrayFire's built-in imageio functions](http://arrayfire.org/arrayfire-rust/arrayfire/index.html?search=image) automatically convert input color pixels, triplets(RGB) or quartets(RGBA), to a non-interleaved data i.e. for example, a bunch of RGB(s) will get converted to three sets of R(s) followed by G(s) and then by B(s). Another way to think about this is, a matrix of RGB triplets is converted t

[2020-03-30 09:19] #214 closed

[2020-03-30 10:46] IvanChepurnyi commented on #215
Thanks for the explanation @9prady9. The reorder seems like it worked, but the internal structures of reordered array not the same as load_image from image. Also reorder function documentation is a bit cryptic as there is no indication what are behaviours behind each argument.

Here is a code I used to test order of the array elements:
[code]

The code output for this image
![sample-5x5](https://u

[2020-03-30 11:21] 9prady9 commented on #215
yes, the documentation could use improvements. reorder basically means reshaping the array. Couple of basic examples are available in [upstream project](http://arrayfire.org/docs/group__manip__func__reorder.htm). I have [updated](b1a3250bf91aa18e863943ff0101a7947c7aa6ea) the docs of reorder in rust wrapper to have an example. I will add a better explanation soon.

Coming to the short example. My m

[2020-03-30 11:53] 9prady9 opened #217 "Improve reorder documentation"

[2020-03-30 11:54] 9prady9 commented on #215
https://github.com/arrayfire/arrayfire-rust/issues/217

[2020-03-30 12:32] IvanChepurnyi commented on #215
This example works like a charm! Thank you very much for your help.

[2020-03-30 12:32] #215 closed

[2020-03-31 07:15] #217 closed

[2020-03-31 11:08] 9prady9 commented on #192
https://github.com/arrayfire/arrayfire/issues/313

[2020-03-31 14:35] 9prady9 commented on #154
Facing an issue related to conversions from `f64` (primitive types but just defined as associated types for necessary operations) to output primitive types (defined as associated types for necessary operations). Given below is permalink to rust playground with minimal reproducible code for future reference.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e8403edbf12055939b

[2020-04-20 10:56] JonathanWoollett-Light opened #219 "Possible bug in `sum_by_key`"
I have used `arrayfire::sum_by_key` in its most basic test case and it still produces this error.

While there exists no example in the rust docs, from checking documentation at: http://arrayfire.org/docs/group__reduce__func__sum__by__key.htm

I cannot see a way to simplify my usage.

Attached test project: [af_sum_by_key_test.zip](https://github.com/arrayfire/arrayfire-rust/files/4502875/af_sum_b

[2020-04-20 11:01] 9prady9 commented on #219
@JonathanWoollett-Light Can you please run the program after setting the following environment variables.
[code]

[2020-04-20 11:15] JonathanWoollett-Light commented on #219
Having set the environment variables, the full output is now:

[code]

(I appreciate the fast response)

[2020-04-20 11:34] 9prady9 commented on #219
The devices are found. I expected some kind of build log, wonder why nothing showed up. I will look into it and get back to you. Thank you for reporting it.

[2020-04-20 12:00] 9prady9 commented on #219
@JonathanWoollett-Light I couldn't reproduce the issue locally, seems to be like device specific compilation problem. The OpenCL kernel failed to compile on the AMD GPU you have. Usually it should print the failed compile log upon such failure.

Can you please re-run with the following change and share the device info console output.
[code]

How did you install ArrayFire ? Would it be possible for

[2020-04-20 12:17] JonathanWoollett-Light commented on #219
Installed ArrayFire using `ArrayFire-v3.7.1.exe`.

I could run similar code in C++, might take me a bit (bit rusty), so send the snippet over and I'll run it.

Rerun with changes results:
[code]

[2020-04-20 12:29] 9prady9 commented on #219
You can edit `examples/helloworld/helloworld.cpp` to the following and run it. You can use the instructions on this page http://arrayfire.org/docs/using_on_windows.htm to run the C++ example
[code]

[2020-04-20 12:52] JonathanWoollett-Light commented on #219
Results of running in C++ in Visual Studio using `afopencl.lib` backend (seem to be similar):

[code]

[2020-04-20 13:00] 9prady9 commented on #219
Ah, I found the option please set `export   AF_JIT_KERNEL_TRACE=stdout`, You can omit AF_TRACE, since we already have device info etc.

Please run with environment variable `AF_JIT_KERNEL_TRACE` set to `stdout`.

For future reference, we have this document here that helps with debugging arrayfire program.
http://arrayfire.org/docs/debugging.htm

[2020-04-20 13:13] JonathanWoollett-Light commented on #219
New outputs (`AF_JIT_KERNEL_TRACE=stdout` added, `AF_TRACE` removed) (not sure which you re interested in):

C++:
-
[code]

Rust:
-
[code]

[2020-04-20 14:59] 9prady9 commented on #219
Well, I was expecting some build log printout from opencl backend because it is failing while building the kernel as per the message we have had so far.
[code]

Let me show you how the build log failure output looks like. I have edited the kernel to have a syntax error on my system and here is the following output.

[code]

I am sorry for the re-runs. I have mistaken `AF_JIT_KERNEL_TRACE` with ` A

[2020-04-20 15:09] JonathanWoollett-Light commented on #219
Added `AF_OPENCL_SHOW_BUILD_INFO=1`, results:

C++
-
[code]
Rust
-
[code]

[2020-04-20 15:10] 9prady9 commented on #219
Alright, that is what we need. Thanks, will look into it.

[2020-04-20 15:36] 9prady9 commented on #219
It is due name conflict with newer builtin function from OpenCL 2.0. Just renaming our custom implementation should do the fix. We will send in a PR for the fix soon. Would you be able to test it out on your device ? You would have to build OpenCL backend on your system and run `test/reduce_by_key` test.

[2020-04-20 15:43] 9prady9 commented on #219
https://github.com/arrayfire/arrayfire/pull/2851 Should fix this issue.

[2020-04-20 15:59] JonathanWoollett-Light commented on #219
I don't know how to do that. But if you can give a few relatively simple steps I'm sure I could do it if it's helpful.

[2020-04-21 08:55] 9prady9 commented on #219
@JonathanWoollett-Light Since OpenCL is our only concern, you only need OpenCL installed for AMD which I believe you already have. So, you don't need to install any dependency for building OpenCL I think. You can ignore graphics dependencies. You might have to install boost headers (just headers, no need of libs).

Please follow Windows build instructions here https://github.com/arrayfire/arrayfir

[2020-04-21 11:31] JonathanWoollett-Light commented on #219
Running the build command: `cmake -G "Visual Studio 15 2017 Win64" -DCMAKE_TOOLCHAIN_FILE="<vcpkg_dir>\scripts\buildsystems\vcpkg.cmake" ..
Returns:
[code]
Installed VS 2017, installed windows 8.1 SDK (as it later asked for), sorta couple other things.

So I have this build:

![image](https://user-images.githubusercontent.com/16856679/79861148-d302d780-83cb-11ea-8c45-c16ebba7ead7.png)

What do I d

[2020-04-21 11:41] 9prady9 commented on #219
My mistake, I assumed you had Visual Studio, should have mentioned that as well. The build folder should have a Visual Studio solution file titled `ArrayFire.sln`.

Open it and there will be a BUILD_ALL target, use `Debug` configuration ( other build configurations longer time to finish) https://docs.microsoft.com/en-us/visualstudio/ide/understanding-build-configurations?view=vs-2019 and right-cli

[2020-04-21 12:05] JonathanWoollett-Light commented on #219
Cloned: `https://github.com/9prady9/arrayfire.git`
Rerun cmake: `cmake -G "Visual Studio 15 2017 Win64" -DCMAKE_TOOLCHAIN_FILE="<vcpkg_dir>\scripts\buildsystems\vcpkg.cmake" ..`

There doesn't seem to be a `build/ArrayFire.sln` file (or any `.sln` files in `build`).

Output from cmake:
[code]

Looking at `Could NOT find OpenCL (missing: OpenCL_LIBRARY OpenCL_INCLUDE_DIR)` I imagine I need to insta

[2020-04-21 12:11] 9prady9 commented on #219
ah ok. so, you are using command line. the cmake didn't succeed in generation project files as you haven't turned off the above variables I have mentioned earlier. so, it was looking for CPU and CUDA backend requirements. It is easy to turn off these options from GUI. But if you want to use command line, add the following options to your earlier command.

[code]
That should let it know if you want

[2020-04-21 12:38] JonathanWoollett-Light commented on #219
Running `cmake -G "Visual Studio 15 2017 Win64" -DCMAKE_TOOLCHAIN_FILE="<vcpkg_dir>\scripts\buildsystems\vcpkg.cmake" -DAF_BUILD_CPU:BOOL=OFF -DAF_BUILD_CUDA:BOOL=OFF -DAF_BUILD_UNIFIED:BOOL=OFF -DAF_TEST_WITH_MTX_FILES:BOOL=OFF -DAF_BUILD_EXAMPLES:BOOL=OFF ..`

Produces:
[code]
There is now `build/ArrayFire.sln`, opening that, and building `ALL_BUILD` gives an error:
[code]

[2020-04-21 12:43] 9prady9 commented on #219
I am not sure what is the reason for this error, I am seeing it for first time.

Let us do one thing. I will build the required test file executable and share it with you. Give me some time, I will get back to you with required files.

[2020-04-21 19:36] JonathanWoollett-Light commented on #219
Just for planning stuff, when you reckon this fix will be out?

[2020-04-22 11:07] 9prady9 commented on #219
Our current ci jobs are green(passed), I held it up so that I can test on a OpenCL 2.0 device. I am build the opencl backend on my windows setup right now. I should be able to provide you with executable soon.

[2020-04-22 11:56] 9prady9 commented on #219
@JonathanWoollett-Light Which version of windows do you use ?

[2020-04-22 12:02] JonathanWoollett-Light commented on #219
10.

[2020-04-22 12:30] 9prady9 commented on #219
@JonathanWoollett-Light please download the zip file from [here](https://www.dropbox.com/s/1g1pwmik0w1j6xh/reduce_standalone.zip?dl=0)

If all tests of reduce pass, then we are good to go with the fix PR.

[2020-04-22 14:01] 9prady9 commented on #219
@JonathanWoollett-Light Are you facing any issues running the program ? or did it run fine ? Let me know if you need any help.

[2020-04-22 14:15] 9prady9 commented on #219
Oo, nice. I just found that my AMD APU says OpenCL 2.0 in the output `info_opencl.exe` test. Let me test it out on that one.

The same AMD APU was OpenCL 1.2 on my Linux. So, I didn't bother checking expecting AMD wouldn't have updated OpenCL for such an OLD APU's (A10 Kaveri) GPU. In case, you should still run the test on your card.

[2020-04-22 15:09] JonathanWoollett-Light commented on #219
I think I'm running this wrong, my results:
![image](https://user-images.githubusercontent.com/16856679/79999136-767ae780-84b3-11ea-9382-9ad3a433a3d9.png)

[2020-04-22 15:17] 9prady9 commented on #219
That is alright, it is probably some mismatched dll issue.

I was able to reproduce the kernel build error on my old AMD APU, which is 2.0 suprpisingly. I am checking the PR changes now. We should be able to merge the PR as soon as the test is green on my 2.0 card. Will keep you posted. Thank you for working out on testing the change with me!

[2020-04-22 15:44] 9prady9 commented on #219
@JonathanWoollett-Light Fixed and the change checks out fine on 2.0 card.

[2020-04-22 17:08] 9prady9 commented on #219
https://github.com/arrayfire/arrayfire/pull/2851 merged

[2020-04-22 17:08] #219 closed

[2020-04-22 17:59] JonathanWoollett-Light commented on #219
@9prady9 So to get this fix, I will need to pull from Git and build from source right? Or is there an easier way? If there's not, any idea when [the installers](https://arrayfire.com/download/) will be updated?

[2020-04-22 18:07] 9prady9 commented on #219
Unfortunately, even though the fix is in master, it won't be available until a fix release is made.

That is correct, one work around is to pull latest master and build.

We haven't decided when the next fix release is going to be yet, will update you here once there is an ETA.

[2020-04-23 10:38] 9prady9 commented on #219
@JonathanWoollett-Light We aim to do the 3.7.2 fix release in next few weeks. Will let you know once the binaries are available on the website.

[2020-05-15 14:56] JonathanWoollett-Light opened #221 "Feature request: Serialization and deserialization using serde"
An implementation similar to how [ndarray](https://github.com/rust-ndarray/ndarray) implements  [serde](https://github.com/serde-rs/serde) for serialization and deserialization would be a useful feature to see.

[2020-05-15 16:07] 9prady9 commented on #221
I don't know how ndarray is implemented but Array from arrayfire-rust is a RAII style construct.

I think this can be implemented by calling `Array::host` method to fetch data from GPU memory to host memory - at which point this regular array can be serialized using serde as usually.

Having said that, above logic can be easily implemented at user level too since I wouldn't imagine if we would do

[2020-05-15 16:42] 9prady9 opened #222 "First Array is mutable for assignment functions"
Array passed as `lhs` to the below functions should be immutable.

Following are functions effected by this bug.
- [x] assign_gen
- [x] assign_seq
- [x] set_row
- [x] set_rows
- [x] set_col
- [x] set_cols
- [x] set_slice
- [x] set_slices

[2020-05-18 12:40] clive-g-brown opened #223 "I get this build error OSX"
error[E0277]: `(dyn std::ops::Fn(defines::AfError) + 'static)` cannot be shared between threads safely
  --> arrayfire-rust/src/error.rs:25:1
   |
25 | pub static DEFAULT_HANDLE_ERROR: &'static ErrorCallback = &handle_error_general;
   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ `(dyn std::ops::Fn(defines::AfError) + 'static)` cannot be shared between threads

[2020-05-18 13:40] 9prady9 commented on #223
That is interesting, I have never seen diverging behavior from rust compilation across OS. I don't have immediate access to an OSX machine. I will need some time to look into this. Thank you for reporting this.

Feel free to share your insights if you continue debugging this.

[2020-05-26 11:00] 9prady9 commented on #223
@clive-g-brown One of my colleague, @umar456 , was able to successfully build the rust wrapper crate for arrayfire on OSX. He used stable release of rust. Which version of rust are you using ?

[2020-05-26 11:39] clive-g-brown commented on #223
rustc 1.43.1 (8d69840ab 2020-05-04)

[2020-05-26 11:46] 9prady9 commented on #223
I am perplexed, @umar456 OSX test run built the wrapper fine. I wonder what is the difference ?
He followed this procedure https://github.com/arrayfire/arrayfire-rust#use-from-cratesio-- : basically have AF_PATH set and run `cargo build`. Can you please share your build procedure here.

[2020-05-28 12:10] 9prady9 commented on #114
I have created a repository for such information for comparison across wrappers and frameworks.
https://github.com/arrayfire/arrayfire-api-cheat-sheet

Any further information related this will be handled in that repository.

[2020-05-28 12:10] #114 closed

[2020-05-28 16:11] #222 closed

[2020-05-30 21:06] ethanhs commented on #221
@9prady9 serde is the defacto standard for serialization and deserialization in Rust. It would be great if there was a feature for ArrayFire Rust that would enable serde serialization. Otherwise I'd have to implement it myself, which is a) more complicated and b) re-creates a lot of work that belongs in this repo IMO.

[2020-05-31 00:41] ethanhs commented on #221
I came across this: https://github.com/shibii/arrayfire_serde

[2020-05-31 06:47] 9prady9 commented on #221
@ethanhs What all types would require this support in your opinion ? I haven't looked at the repository you shared yet, but it does talk about sedre support for all types of ArrayFire.

I have removed the `discussion` tag for this issue. We can work on this feature, but unfortunately I can't give an exact ETA on this. You are welcome to contribute the change if you are interested working on it.

[2020-05-31 22:26] ethanhs commented on #221
@9prady9 The crate I forked implements it for `Array`, `Dim4`, and `DType`.

[2020-06-02 05:01] L1AN0 opened #225 "Feature request: create array from raw device pointers"
In C++ we can use a raw device pointer to create an arrayfire Array:

[code]

(from http://arrayfire.org/docs/gettingstarted.htm).

However, we cannot do this in the current Rust API, while this feature is very useful in practice when we want to modify existing cuda arrays.

[2020-06-02 05:05] L1AN0 commented on #225
See also https://github.com/arrayfire/arrayfire/blob/fbea2aeb6f7f2d277dcb0ab425a77bb18ed22291/include/af/array.h#L377.

[2020-06-02 06:43] 9prady9 commented on #225
@L1AN0 Sure, we can add this feature.

When I originally started working on rust wrapper, I couldn't find much of crates that let's any user directly do CUDA programming i.e. expose the entire CUDA runtime API via a rust crate. Slowly, this scenario changed and projects like https://github.com/bheisler/RustaCUDA and https://github.com/calebwin/emu came along that lets user direct access to framewo

[2020-06-02 09:46] MEisebitt opened #226 "arrayfire::info and arrayfire::set_device both increase performance"
While doing some basic performance testing I noticed that initialising an Array on the GPU is much faster if you either used _arrayfire::info_ **or** _arrayfire::set_device_ before.

For me using either one decreased the time from about 1.5s to about 350ms.

Is this intended, especially for _arrayfire::info_ ?

use arrayfire::{Array, Dim4, pow, set_device, info};
use std::time::{Instant};

    use

[2020-06-02 09:59] 9prady9 commented on #226
The device warmup does take time depending the backend. How much time should be considered okay really depends on what other processes are running on the system and how long the the corresponding device initialisation takes place.

By calling, info or set_device ahead of timing section of code you are taking care of the warmup separately so it doesn't show up later.

This is not bug.

[2020-06-02 10:14] MEisebitt commented on #226
Alright thanks for the clarification.

[2020-06-02 10:14] #226 closed

[2020-06-02 10:46] MEisebitt opened #227 "Large Array sizes cause thread to stackoverflow"
While running the following:

    use arrayfire::{Array, Dim4, set_device, info};
    fn main() {
        set_device(0);
        info();
        let values: [f64; 1_000_000] = [3.5; 1_000_000];
        Array::<f64>::new(&values, Dim4::new(&[1_000_000, 1, 1, 1]));

I get the following error:

    thread 'main' has overflowed its stack
    error: process didn't exit successfully: `target\release\par

[2020-06-02 11:01] 9prady9 commented on #227
Please run the program with  `RUST_BACKTRACE=1` you can set this env by `export RUST_BACKTRACE=1`

It doesn't seem like ArrayFire error, if a GPU runs out of memory, the crate will panic with an error out of memory.

Which OS are you running on ? what is your GPU ?

Dim4 stores u64 values that represent of the length of given dimension(axis). ArrayFire can store array shapes up to 4 dimensions, he

[2020-06-02 11:43] MEisebitt commented on #227
I never worked with the backtrace, how do I use it correctly on Windows ?
(I used set RUST_BACKTRACE=1 in cmd but it seems like the output does not change)

I'm using Windows 10 64bit with a GeForce GTX 1060 6GB (6144MB).

Ok, I understand that even though the function can take u64 everything is limited by my GPU.
But one million doubles should be 8MB which is way below what it should be capable.

[2020-06-02 11:55] 9prady9 commented on #227
True, but it is very unlikely that causes a stack overflow error. I have tried the same snippet on GTX 1060 3GB card and it works fine.

Did you try just the following and check if it works.
[code]

I am not sure if `set` does the trick environment variables in windows command prompt. I know how to set them in powershell. `$Env:RUST_BACKTRACE=1`  and you can check if it is set by doing `echo $env:

[2020-06-02 12:29] MEisebitt commented on #227
Regrading the Powershell:
I did also try it your way but it also doesn't produce a backtrace.

Regarding the overflow:
It seems like you are right and the problem isn't from the Arrayfire or GPU side.
I thought I tested it, but it turns out even

    fn main() {
        let values: [f64; 1_000_000] = [3.5; 1_000_000];
    }

produces the error. So it seems like the problem originates from rust its

[2020-06-02 12:43] 9prady9 commented on #227
Closing this case since the issue isn't related to this crate.

[2020-06-02 12:43] #227 closed

[2020-06-02 17:38] MEisebitt commented on #227
On a sidenote:

Rust only stackoverflows in the non-release compiled version, but with Arrayfire it overflows in both cases

[2020-06-02 17:55] 9prady9 commented on #227
It is most likely to do with something like this https://github.com/rust-lang/rust-clippy/issues/4520 but I am not 100% certain - this is something that came up with quick googling. I doubt it can be related to ArrayFire crate if it is failing even in one configuration without ArrayFire Code.

Having said that, I have tried your code on rust play ground seems to work fine for me there as well.
Her

[2020-06-02 17:55] 9prady9 commented on #227
What is the rust version you are using ?

[2020-06-02 18:08] MEisebitt commented on #227
I figured out what it is:

https://github.com/rust-lang/rust/issues/72922

So sadly the windows stack size does not allow me to allocate more on the GPU. Except passing a Vec might be a solution.

[2020-06-02 18:10] 9prady9 commented on #227
That doesn't sound right, do you mean it doesn't allow you to allocate more on the host RAM ? GPU doesn't have any such limitations and rust doesn't control that.

[2020-06-02 18:40] MEisebitt commented on #227
Well, I would assume it doesn't allow me to allocate more on the part of the RAM that is managed by the stack. But I probably can do more on the heap which would help if I could assign a Vector into Array::new.

[2020-06-02 19:04] MEisebitt commented on #227
Perfect, thanks for all the help 👍

[2020-06-24 01:39] JonathanWoollett-Light opened #228 "Why doesn't `join_many` allow joining of more than 10 arrays?"
[code]
Also notaly the [docs of the function](https://docs.rs/arrayfire/3.7.0/arrayfire/fn.join_many.html) don't mention this restriction.

[2020-06-24 05:11] 9prady9 commented on #228
I missed adding that limitation in the rust docs and checking for it in the wrapper to avoid a round trip via FFI call.

However, this limitation has been removed in latest master of ArrayFire. So, the next fix release from ArrayFire should remove the problem completely without any change in rust wrapper code.

We are due a fix release soon, we are caught with some unexpected delays. Keep a eye ou

[2020-06-24 05:11] #228 closed

[2020-07-13 02:52] 9prady9 commented on #219
@JonathanWoollett-Light 3.7.2 release is out. please check out. linux/windows binaries are available on our website.

[2020-07-13 02:55] 9prady9 commented on #223
Closing due to inactivity. @clive-g-brown If you get to revisit this problem and it is still persistent for you, please feel free to reopen with the above requested details.

[2020-07-13 02:55] #223 closed

[2020-07-13 06:14] nocotan opened #229 "How to use std::fmt::Display for arrayfire?"
I know arrayfire-rust has some useful macro for stdout (e.g., af_print!).

But I want to create some struct which has the member of arrayfire:

[code]

Is there any good way?

[2020-07-13 06:15] 9prady9 commented on #229
@nocotan I am not sure I understand the question completely. Are you requesting some sort of `fmt` impl for `Array` object ?

[2020-07-13 06:19] nocotan commented on #229
@9prady9 Thanks for the reply.
Yes, my question is about the ```fmt``` impl for ```Array``` object.

[2020-07-13 06:23] 9prady9 commented on #229
Since Array is just wrapper for handle, there isn't much useful to print from it(has the internal handle). fmt::write for Array could print the entire array to it, is that what you are looking for ? This may be useful for smaller arrays, but not for larger arrays. I guess  the question is how much or what info of Array should be printed when passed onto `println!`.

[2020-07-13 06:32] 9prady9 commented on #229
To clarify better, what I meant was Array implementing `fmt` on it's own isn't going to be of much help I think since, the wrapper then would have to call all the info methods of Array Object and print them whether the user wants all of that info or not. For example, if they don't deal with sparse matrices, info about that in the print out is not helpful.

I think you should print the info relevan

[2020-07-13 06:41] nocotan commented on #229
@9prady9 Thank you for your kind reply!

In fact, I was wondering how to write the entire arrayfire elements.

[code]

However, I get the following error:

[code]

I'm sure it's due to my lack of Rust skills...

[2020-07-13 07:06] 9prady9 commented on #229
Array doesn't have `fmt` implemented in the library code. Hence, I was suggesting you could do it or you can just using existing methods to print the relevant info.

[code]
The associated output looks like below
[code]

If you don't want to use `af_print`, then you would have to use `Array::host()` method to fetch the data from GPU memory to a rust vector and then handle it's print out on your own

[2020-07-13 08:39] nocotan commented on #229
@9prady9 I see. Thank you so much!

[2020-07-13 10:14] #229 closed

[2020-07-21 17:20] 9prady9 commented on #197
Used macros #230 to enable some nice syntax for indexing - read only operations i.e. indexing on rhs of `=` operation done so far.

[2020-07-23 00:29] progman1 opened #231 "gpu state clean-up?"
I've come across some strange behaviour while experimenting with some simple machine learning code.
I have two compiled versions of a model run differentiated by presence/non-presence of some normal distribution
initialisation - random number generation (but pseudo random ie. starting from the same seed)

Running the non-present version any number of times I see expected results.
Then running anot

[2020-07-23 06:51] 9prady9 commented on #231
The only state ArrayFire retains across sessions is the kernel binaries saved to the disk (to avoid recompilation on target machine at every startup session of the application, this is also started with recent 3.7.2 release) which don't hard code any runtime information. At every session (i.e. ArrayFire library is loaded into memory), it starts afresh - only global state that gets populated on sta

[2020-07-23 10:38] 9prady9 opened #232 "[Feature] Add bit shift trait implementations for Array w.r.t scalar types"
Description
===========
Add the missing bit shift trait implementations for Array w.r.t scalar types.

[2020-07-23 10:41] 9prady9 opened #233 "[Docs] Improve documentation of `batch` parameter in arith functions"
Description
===========
Clarify `batch` parameter usage, perhaps some examples in arithmetic operation functions.

[2020-07-23 11:06] 9prady9 commented on #52
I am sorry it has been quite some time since last comment was made here. Here are some updates w.r.t clarifications requested.

That is because `Shl` traits don't implement for integral types, which they should. I have created a separate issue for this.  https://github.com/arrayfire/arrayfire-rust/issues/232

Created a separate issue for ^ https://github.com/arrayfire/arrayfire-rust/issues/233

No

[2020-07-24 15:22] progman1 commented on #231
would it be acceptable to you if I uploaded the code, which consists
of a slightly modified
version of a small machine learning library written in rust, to github?

I haven't found a way to boil the problem down yet.

On 23/07/2020, pradeep <notifications@github.com> wrote:

[2020-07-24 15:33] progman1 commented on #231
I suspected the rust rand-0.7.3 / OS interaction but discounted that
as less likely than the gpu harbouring state given how prevalent rand
is in the rust eco system.

when you say 'seed related issue' bear in mind that I'm talking about
two independent
program executables that don't create/retain anything on disk - I see
no other way for them
to influence each other than through OS state (/dev/ran

[2020-07-24 15:50] 9prady9 commented on #231
I can't speak for drivers with 100% certainty, but ArrayFire for sure doesn't keep any global state that persists across sessions.

A short code snippet (that reproduces the issue) would be great. As you said in original description if it is related random number generation, we have only a couple of random number generation functions. Have you tried using the the functions in standalone code, as i

[2020-07-25 02:30] polarathene commented on #52
@9prady9 awesome, thanks for taking the time to respond :)

I don't know when I would have the time, but I'd still like to port the CPU rust code I have for FNV1a-32 hashing function with the permutation generator to ArrayFire with a good way to check the GPU computations for matches("hello" input bytes to "4f9f2cab" output matching equality to the same "4f9f2cab" from a provided variable or array

[2020-07-26 12:35] 9prady9 commented on #52
@polarathene The FNV-1a algorithm is classic for loop algorithm where each iteration's input is dependent on the previous iteration's output unless there is a parallelized version that I am not unaware of. I doubt FNV-1a can be parallelized.

[2020-07-26 12:48] polarathene commented on #52
I take it you're referring to parallelization on a single input, instead of a larger array of inputs to each process iteratively as the algorithm works.

[code]

When I opened this issue years ago, I had several GB of inputs in GPU memory that I used ArrayFire to generate for a pass, it would then run each input through the algorithm individually(in parallel to one another), and then I could send

[2020-07-26 15:21] 9prady9 commented on #52
That is true, I was referring to parallelization of the algorithm w.r.t single input stream of bytes.

Sure, hashing on a batch of inputs is trivially parallel, not doubt about that. However, at the moment there is no efficient way to do fnv-1a hash on even one input using ArrayFire. The reason I say that is accessing individual elements from GPU memory using indexing is going to be very inefficie

[2020-07-26 22:37] polarathene commented on #52
If I remember right, I believe I did something like take my charset ("abc" in this case) and created the permutations of the charset against the length(keyspace) where each new byte/index is a column, and the first column, then I could run the loop iterating against the columns.

I should have the old code somewhere I'll try to locate it  for you.

No feature request afaik, I just wanted to know h

[2020-07-27 06:03] polarathene commented on #52
@9prady9 My old code was in a bit of a messy state and I had some trouble getting it to run, but I've pieced together this example that seems to work now, it's only processing on 3 inputs instead of GB of permutations being generated on the GPU, but should show one of the ways I approached the hashing algorithm with ArrayFire:

[code]

As the data input to process is finite and not going to take l

[2020-07-27 06:18] 9prady9 commented on #52
Thank you for digging up the old code.

As I said earlier, you are doing individual accesses here in the below section of code
[code]
Sure, all these operations are async operations but access to bytes of single column of input is being accessed individually in each iteration of the loop which is what I said earlier is going to be inefficient. As in, it can done in a better way with a kernel writt

[2020-07-27 07:09] polarathene commented on #52
Oh? I had thought that it was taking the whole row and computing against that, instead of each being a separate access. I could always rework the data to use columns instead of rows, eg 3x5? Or is that the same problem?

Again, this particular part (hash algorithm) wasn't the performance concern I was having trouble with, it was identifying matches which involved transferring data to the host each

[2020-07-31 05:45] BA8F0D39 opened #235 "How to use generic traits? [Question]"
[code]

I want to make a function that accepts the trait arrayfire::FloatingPoint and produces arrayfire::FloatingPoint. What modifications do I need to make it compile?

[2020-07-31 05:50] 9prady9 commented on #235
@BA8F0D39 I am not sure I understand your use case, the trait you mentioned is more like a `contract checking` so that only acceptable `Array` objects(Array is generic struct) are passed to the relevant functions.

Is this what you are trying to achieve ?
[code]

[2020-07-31 06:00] BA8F0D39 commented on #235
I am new to rust and the rust compiler says cannot find type `T` in this scope.
How would you define the trait T in this case to use arrayfire::FloatingPoint?

[2020-07-31 06:02] 9prady9 commented on #235
In that case, you should look at https://doc.rust-lang.org/rust-by-example/generics.html

`fn foo<T>(arg: T) { ... }` that is how you define a generic function. In this case, the generic type `T` is what reused for defining the generic type `Array<>` that is in turn used a arguments to the function.

[2020-07-31 06:04] #235 closed

[2020-07-31 15:48] #225 closed

[2020-07-31 15:48] #233 closed

[2020-07-31 19:11] #232 closed

[2020-07-31 19:13] 9prady9 commented on #231
@progman1 Have you figured out what is the problem ? If it is something related to system setup, please share your work around, it would be helpful for any future users who face similar issue. Thank you.

[2020-07-31 19:26] 9prady9 commented on #52
Well, it is running on GPU except that the memory access is not continuous. Notice the elements of single input are being handled in the host side for loop. Each such value for every input in every iteration is `input_len` apart in GPU memory. It is valid algorithm, not efficient in terms of GPU memory access. If you transpose the input such that bytes of one stream are along dimension 1 i.e. row

[2020-07-31 22:40] polarathene commented on #52
Is there a example / documentation on approaching that?

I don't have specific time logged unfortunately, just the old comment about it.

The input values would iterate through lengths, so for a given length, all inputs were that fixed length each, typical lengths would be 6-12 if I recall correctly. For the Jenkins hash which is more involved, it was being used on filepaths as inputs, those would

[2020-08-03 19:43] BA8F0D39 opened #237 "Fastest way to write a row to a mutable array? [Question]"
Using set_row, I can write array B to a row of array A.
However, set_row copies the whole array A and this is very slow.
Is there a faster way to write row by row to a mutable array?
[code]
batch_func exists but it only can take 2 arrays.

[2020-08-04 04:11] 9prady9 commented on #237
@BA8F0D39 Copy of whole Array `A` would only happen in a special case where if there are two Array's using same memory region. From you code sample, it doesn't seem like A has more than one copy at any time. The only time it is used, it is borrowed by reference which doesn't increase the internal reference count for associated memory region.  May I know how you have come to the conclusion that who

[2020-08-04 04:29] 9prady9 commented on #52
I would have to think through it. Top of my head, it would most likely start similar to your OpenCL kernel implementation I believe. But one thing is certain, the data would have to laid out so that GPU global memory accesses from all threads are coalesced from input bytes for different streams are read. That is most obvious part. Then it would probably involve some loop unrolling for processing s

[2020-08-04 04:32] 9prady9 commented on #231
FYI - If by chance this has anything to do with https://github.com/arrayfire/arrayfire/pull/2980 , a couple of randu and randn related issues are being handled in that upstream PR.

Closing due to inactivity.

[2020-08-04 04:32] #231 closed

[2020-08-04 05:15] 9prady9 commented on #184
Going to provide the functions as unsafe API for now as they return pointers. I can't think of a rusty way to wrap them up as of now.

[2020-08-04 06:01] #184 closed

[2020-08-04 07:26] BA8F0D39 commented on #237
@9prady9

http://arrayfire.org/arrayfire-rust/arrayfire/fn.set_row.html
From the documentation, set_row    takes in an **input** immutable array. Therefore, the set_row  must make a copy of the **input** in order to modify it.

[2020-08-04 07:36] 9prady9 commented on #237
@BA8F0D39 We have corrected that mutability in master already to reflect the same. This change will be available from next release. I hope to do this release by end of this week. So, kindly bare with us for the temporary inconvenience.

[2020-08-04 07:42] BA8F0D39 commented on #237
@9prady9
Will assignments be faster for mutable arrays because you are not copying the entire array?

[2020-08-04 07:47] 9prady9 commented on #237
The missing `mut` qualifier is an issue at rust wrapper not reflecting how the `lhs` parameter to `set_row` is handled internally to ArrayFire. Therefore, it is fix at rust wrapper level to an already existing behavior I explained [here](https://github.com/arrayfire/arrayfire-rust/issues/237#issuecomment-668368798)

Hence, whatever slowness you are observing is not related to this `missing mut` is

[2020-08-04 10:04] 9prady9 commented on #52
Also let us more move this discussion to slack or perhaps another issue as we moved away from the issues original intent some time back :) which is "code examples". Feel free to raise another issue with relevant details or we can discussion slack DM.

[2020-08-04 10:41] polarathene opened #240 "Example: Porting a hash function for bulk processing and stopping at the result"
Description
===========

From the original issue: https://github.com/arrayfire/arrayfire-rust/issues/52#issuecomment-664138643

The discussion there resulted in this demo code to run a simple hash function FNV1a-32 from CPU rust code to on the GPU with `arrayfire-rust`. It presently for simplicity has a small static input to process and no additional logic for iterating through an input larger tha

[2020-08-04 10:47] polarathene commented on #52
Probably would make more sense to rename this issue and recreate the "Add code examples" one as a new issue at this point :sweat_smile:

[I've created a new issue](https://github.com/arrayfire/arrayfire-rust/issues/240) regarding where the bulk of this thread ended up focusing on, I'll try find some time to meet your requests for the additional code and data layout change. Do you want me to contin

[2020-08-04 12:51] 9prady9 commented on #52
Perhaps :) , I meant to have this issue as placeholder to keep updating examples, both standalone and documentation snippets - not specifically about any one particular one. So, I basically don't expect this issue to be closed anytime soon - at least not until every API has at least one example in documentation.

Thanks for moving the discussion to specific issue. GitHub issue works fine for us, j

[2020-08-04 14:35] polarathene commented on #52
I'd appreciate keeping the history of the discussion here, so if wanting to hide the lengthy discussion, please consider marking as outdated/off-topic rather than deleting :)

[2020-08-04 14:44] 9prady9 commented on #52
:+1: I am not deleting anything, just wanted to move it to a separate issue so that this issue doesn't get too populated with auxiliary/tangential conversation.

[2020-08-05 16:59] #197 closed

[2020-08-06 13:38] 9prady9 commented on #154
I think figured out a working version of this, leaving a permalink for future reference
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2af92fc48acc4f3af238fb1571c2c314

[code]

[2020-08-07 08:54] #154 closed

[2020-08-08 20:06] #237 closed

[2020-08-24 05:02] BA8F0D39 opened #243 "[BUG] Segfault error message when matmul function is used."
Description
===========
Segfault error message when matmul function is used.

Reproducible Code and/or Steps
------------------------------

[code]

System Information
------------------
ArrayFire v3.7.0 (CUDA, 64-bit Linux, build fbea2ae)
Platform: CUDA Runtime 10.1, Driver: 440.82
[0] TITAN Xp, 12195 MB, CUDA Compute 6.1
Arrayfire version: (3, 7, 0)
Name: TITAN_Xp
Platform: CUDA
Toolkit: v10.1
C

[2020-08-24 13:03] 9prady9 commented on #243
@BA8F0D39 Does the output change if you run your program with environment variable `AF_PRINT_ERRORS` set to 1.

You can it using `export AF_PRINT_ERRORS=1`

[2020-08-24 18:49] BA8F0D39 commented on #243
@9prady9   Why is it throwing a segment fault?

[2020-08-25 03:20] 9prady9 commented on #243
I am not sure if even the crash and code-run are related if those two events are separated by such huge time difference. How did you conclude  crash was caused by this particular run from 10 hours ago ?

[2020-08-28 19:35] BA8F0D39 commented on #243
It was the only program running on the machine. I left it overnight, when I went to sleep.

[2020-08-28 19:35] #243 closed

[2020-09-05 16:33] sk4r opened #245 "[BUG] set_row() / assign_seq() panics if there is only 1 column"
Description
===========
* Details regarding the bug
   Attempting to set a row when there is only one column panics. I've reproduced consistently with arrayfire-rust 3.7 and latest master
* Did you build ArrayFire yourself or did you use the official installers
   Installed `community/arrayfire 3.7.2-1` in Arch Linux
* Which backend is experiencing this issue? (CPU, CUDA, OpenCL)
   All
* Do you h

[2020-09-07 07:48] 9prady9 commented on #245
@sk4r One of the cases is not a bug, please take a look at the commented code snippet
[code]
Error message.
[code]

You need the below workaround
[code]

A similar fix is needed inside `set_row` function, I have pushed the fixed for this in another PR #244 .

Thank you for reporting this.

[2020-09-07 16:40] sk4r commented on #245
Thanks for the workaround, it makes sense now!

[2020-09-07 16:40] #245 closed

[2020-09-07 21:35] sk4r opened #246 "[BUG] unable to pad a corner or a side"
Description
===========
https://github.com/arrayfire/arrayfire/blob/c7f16cca120f722014458696e50aa292cb803e76/test/pad_borders.cpp#L147-L159 tells me I should be able to pad a corner.

arrayfire-rust uses `af_pad` wrapper around the function being tested in that code. That wrapper checks for nonzero number of dimensions (https://github.com/arrayfire/arrayfire/blob/1405a9448f79ca56cc875f57db36cc6c33

[2020-09-07 21:52] sk4r commented on #246
Locally fixed like this but I wasn't sure if there's a better way so didn't submit a PR
[code]

[2020-09-08 03:27] 9prady9 commented on #246
@sk4r Thank you for reporting it. Simple but yet bad one it is, sorry about the inconvenience. I didn't realize that dim4::ndims method doesn't exactly represent length of this array. What you have is also correct and but since dim4 represents size upto a maximum of 4 dimensions in this case, we can just hard code it to 4.

The fix (will be pushed to #244) for this will be available in next releas

[2020-09-08 03:58] 9prady9 commented on #246
I am going to merge the fix soon and you should be able to use master branch from your rust Cargo.toml directly even though the crate isn't published yet.

[2020-09-08 04:00] #246 closed

[2020-09-08 04:08] sk4r commented on #246
Pulled the latest, thanks for the quick fix!

[2020-09-12 07:22] pvdklei opened #248 "Installation troubles..."
I've wanted to try out arrayfire to speed up some calculations (in rust, not cpp), but after installing it to `/opt/arrayfire` and setting the environmental variables:

[code]

and

[code]

but an error occurs when trying out something simple:

[code]

namely

[code]

How can I solve this?

[2020-09-12 07:31] 9prady9 commented on #248
It seems like path issues or broken installation. Please show the files under $AF_PATH and $AF_PATH/lib64

[2020-09-12 14:00] pvdklei commented on #248
Sure!

the `arrayfire` folder contains `LICENSES`, `include`, `lib`, `lib64` and `share` (where `lib64` is just a copy of `lib` I created so I could test both), and `lib` contains:
[code]

Im using MacOS 10.15.6 btw!

[2020-09-12 15:10] pvdklei commented on #248
I now see that set the environmental variable to `LD_LIBRARY_PATH`, while one of the setup tutorials said it should be `DYLD_LIBRARY_PATH` (another one said `LD_LIBRARY_PATH` is fine). But changing it has not helped...

[2020-09-13 02:57] TheDan64 commented on #248
I just had similar linking problems on Linux and had to run `ldconfig $AF_PATH/lib64` to get ld to be aware of it

[2020-09-13 03:54] 9prady9 commented on #248
I think we do mention about approaches in our tutorial - http://arrayfire.org/docs/installing.htm

@pvdklei If it is OSX, I would expect it to be `DYLD_LIBRARY_PATH` and you have to set it every time a new terminal sessions begins using `export` command. Has it not worked ? Did it work only with `LD_LIBRARY_PATH` ?

@TheDan64 `ldconfig` command as mentioned in our tutorial helps avoiding the repet

[2020-09-13 04:01] TheDan64 commented on #248
Yes, targeting Linux. I just followed the instructions in the README under `Use from Crates.io`. I set `AF_PATH` and `LD_LIBRARY_PATH` but still got linking errors. Maybe I just needed to `cargo clean` to get a fresh build? I ended up doing that after ldconfig so there's no way to know now.

[2020-09-13 04:13] 9prady9 commented on #248
@TheDan64 I do experience that issue sometimes. If you set the environment variables after running cargo build/test once, the linking errors don't go away. I have had to run cargo clean and then it will run smoothly. I believe cargo run's `build.rs` custom script perhaps caches the settings unless you do a clean.

[2020-09-13 04:14] TheDan64 commented on #248
I think that was my issue then. Perhaps it's worth mentioning in the readme?

[2020-09-13 05:10] 9prady9 commented on #248
@TheDan64 Sure, will add it before closing this issue.

[2020-09-13 05:25] pvdklei commented on #248
@9prady9 I set the env variables using the `.bash_profile` file. But `cargo clean` did the job so no worries! Thanks!

[2020-09-13 10:50] #248 closed

[2020-10-07 06:18] 9prady9 opened #252 "[BUG] Fix trait bound of Fromtf64 to base type of Complex Numbers in reduce all functions"
Reproducible Code and/or Steps
------------------------------
TBA

System Information
------------------
NA

[2020-10-08 05:57] #252 closed

[2020-10-26 12:59] 9prady9 commented on #221
@JonathanWoollett-Light @ethanhs https://github.com/arrayfire/arrayfire-rust/pull/250 is making good progress. Feel free to test it out. You would have to enable `afserde` feature to build the serde support while building the project. You can do so via the following command
[code]

https://arrayfire.org/arrayfire-rust/arrayfire/index.html#structs That's the list of structs. I have listed the struc

[2020-10-27 08:13] #221 closed

[2020-11-06 22:53] BA8F0D39 opened #254 "Change all indexing to u64?"
Description
===========
Arrayfire::row, arrayfire::col uses u64 to index arrays
index_gen uses f32, f64, u32, u64 to index arrays
arrayfire::sparse uses i32 to index arrays

It is a complete mess of indexing. It is easier to change all indexing to just u64 because negative values might cause errors.

[2020-11-07 08:24] 9prady9 commented on #254
I am not sure if that assessment is correct and here are my reasons:
- `row` and `col` or `slice` they are not indices to elements, they are indices to a particular row or column. These values are converted to a `f64` before it is passed down to ArrayFire's C FFI. I chose `u64` but it can be `usize` too. However, I chose `u64` to reflect the bit size of type used by ArrayFire for dimension/axis si

[2020-11-07 22:16] NOBLES5E opened #255 "set cuda stream?"
It will be useful to set which cuda stream to use in arrayfire, so that we can run kernels in parallel and use external streams to ensure a correct kernel order in some scenarios.

[2020-11-08 00:14] BA8F0D39 commented on #254
There are floating point, signed integer, unsigned integer, and complex types.

Using the process of elimination, floating point types are bad for indexing because they can have negative values (-1,-2,-3) and they can have non integer values (1.1,2.4,5.3). Therefore, floating point can cause many errors and should not be used for indexing.

Complex data types are bad for indexing because they have

[2020-11-08 06:00] 9prady9 commented on #255
@NOBLES5E Since this is wrapper to the main project arrayfire, it is not possible to add features that aren't already made available in upstream. There is already an open issue on upstream about the same, please follow it's progress here https://github.com/arrayfire/arrayfire/issues/113 Once the feature is available upstream, it will be made available in the rust wrapper.

[2020-11-09 06:28] 9prady9 opened #256 "Add trait bounds for indexing to allow valid types that match upstream Checks"

[2020-11-09 06:29] 9prady9 opened #257 "Mention about negative indices in rust indexing tutorial"

[2020-11-09 06:53] 9prady9 commented on #254
I think I wasn't clear and/or elaborate enough earlier.

- I can say for certain that we don't allow complex type arrays as indexing arrays. However, at the moment rust wrapper isn't limiting that using any trait bound, this can be definitely improved. Note that, if the user uses indexing with complex types, upstream does throw error. So, there is a check in place - just not a compile time check a

[2020-11-10 11:49] mcobzarenco commented on #257
:+1: FWIW, I was not aware it's supported by arrayfire until I noticed indices are `isize`

[2020-11-11 14:13] 9prady9 commented on #257
Sorry about that, I have fixed this and should be available in next release.

[2020-11-11 14:21] #257 closed

[2020-11-11 18:40] 9prady9 opened #260 "[TEST] core::index::tests::non_macro_seq_assign failure"
Description
===========
* Did you build ArrayFire yourself or did you use the official installers ? Self Build
* Which backend is experiencing this issue? Only CUDA backend
* Do you have a workaround ? No.
* Can the bug be reproduced reliably on your system ? Yes, on Windows and Linux, although doesn't happen on CI builds.

Reproducible Code and/or Steps
------------------------------
Run all test

[2020-11-11 18:49] #256 closed

[2020-11-14 08:20] BA8F0D39 opened #262 "[Question] How does caching work in CUDA?"
How does caching work for a simple kernel such as adding two vectors?
On arrayfire-rust 3.7.2 CUDA backend.

[code]
Running the code generates 100 cubins in ~/.arrayfire/.

How come arrayfire generates many different kernels just for adding two vectors?
Why in the first 100 iterations, the code runs much slower?

[2020-11-14 09:27] 9prady9 commented on #262
Can you please tell how many kernels you are seeing ? You should try `export AF_TRACE=jit` and run the rust example, that should print out the kernels being generated.

Apart from JIT kernels, most functions kernels are compiled and cached in the first run. It shouldn't need 100 iterations to run fine, single iteration in the beginning is all it needs to compile/cache the functions/JIT code. If yo

[2020-11-14 21:10] BA8F0D39 commented on #262
I figured it out the print function(arrayfire::print_gen) generates 100 different kernels.

[code]

[code]

[2020-11-14 21:17] BA8F0D39 commented on #262
Wait a minute. Why does the print function generate kernels?

[2020-11-16 12:04] 9prady9 commented on #262
I am able to reproduce the behavior although I don't think your conclusions are entirely correct because print functionality is not a kernel. It appears to be printing out when you call print because ArrayFire functions are asynchronous by default and until a print is called or eval is auto-triggered, the JIT nodes are not evaluated and thus the kernel is not looked up for actual execution.

As fa

[2020-11-16 19:50] BA8F0D39 commented on #262
GPU to CPU data transfer also generates 100 different kernels.

Maybe, it is the host() function that the cache lookup fails on?

[code]

[2020-11-17 09:27] 9prady9 commented on #262
As I have pointed out earlier, It is not host/print that is generating any kernels, they are triggering the JIT evaluations which just makes it appear as though host/print call is doing it. You can add do `c.eval()` instead of `c.host()` or `print(&c)` and you will see similar output.

My guess is that, somehow each iteration is triggering a separate JIT evaluation although it shouldn't. I can onl

[2020-11-18 19:00] BA8F0D39 commented on #262
I am using host() function inside the while loop to dump data from GPU's RAM into my SSD because the data can't fit into the GPU's RAM. It would be nice if the saveArray function was implemented in rust to write data into the filesystem.

[2020-11-18 19:08] 9prady9 opened #263 "Add API to save/load array from disk"
Description
===========
Add API to wrap the following C API
- [ ] af_save_array
- [ ] af_read_array_index
- [ ] af_read_array_key
- [ ] af_read_array_key_check
- [ ] af_array_to_string

[2020-11-18 19:14] 9prady9 commented on #262
@BA8F0D39 I have raised an feature request to follow progress of disk saving API - https://github.com/arrayfire/arrayfire-rust/issues/263

Although those functions aren't available yet, I believe you can use serde feature I added recently to serialize and deserialize arrays. It is not in the current stable release(crate) yet but you can use it from master branch of github repository directly.

I w

[2020-11-28 14:01] atomicky opened #264 "Improve generics usability for `Array<T>`"
I encountered difficulty when writing generic functions using `Array<T>` e.g.
[code]

After long fight with compile error, I found that
[code]
compiles and it's OK.

However, I feel that:
- `Convertable` and `ImplicitPromote` seems implementation detail and I don't want to write them every time when using `Array<T>`.
- `T` should be `Convertable<OutType=T>` automatically when `T: HasAfEnum` (i.e.

[2020-11-30 08:22] 9prady9 commented on #264
I don't think they are just implementation detail. Generic Array trait bounds help with validating the input type statically at compile time. They also help establish what is expected input when a given set of functions are used inside a generic function. The other disadvantage of removing all these trait checks is ArrayFire functions (upstream library) calls will throw a runtime error when invali

[2020-11-30 17:14] atomicky commented on #264
Thanks for your reply :smiley:

I'm sorry, I didn't explain enough. You're right, traits are NOT implementation detail. Compile-time errors are much better than runtime errors.

However, I think `AfFloat` below will help users. I wish `af::FloatingPoint` or `af::RealFloating` would be used like this.
[code]

Can we do this?

[2020-11-30 17:58] atomicky commented on #264
Question 2. was about implementation of `Convertable` using generics, not macros for each types. I wrote that and send PR. I don't know so much about type safety in `arrayfire` and some trait bounds may not be enough for safety, but I hope you'll get the idea.

[2020-11-30 18:22] 9prady9 commented on #264
I was about to add a modified example of the code stub from your original description to show why I think such usage of traits: `Convertable` and `ImplicitPromote` for `Array<T>` is incorrect.

- None of those two traits are meant to be used for defining bounds against Array itself, rather they are for the underlying type of Array.
- About trait like alias(I understand they don't need nightly): I

[2020-12-07 09:41] 9prady9 commented on #264
https://github.com/arrayfire/arrayfire-rust/pull/265#issuecomment-739799995

[2020-12-08 17:17] 9prady9 commented on #264
I think the recent change of `Convertible` has an unexpected issue with different kind of function. May be it should be reverted but I am not sure yet. Will post an update soon.

[2020-12-09 04:38] 9prady9 commented on #254
Moving it into a GitHub discussion

[2020-12-09 04:39] #254 closed

[2020-12-09 09:31] 9prady9 commented on #264
Leaving this as a place holder issue to improve generic programming using rust wrapper. Any furutre sure, kindly showcase your use case if facing issues. We will try to improve as more features of traits in rust stabilize.

Note, I have [added](https://github.com/arrayfire/arrayfire-rust/pull/268) `HasAfEnum` trait bound to most of the other traits to avoid specification of `HasAfEnum` bound expli

[2020-12-09 11:10] 9prady9 commented on #263
I am still contemplating if this would any benefit to the wrapper in general given that serialization and de-serialization are already supported.

[2020-12-10 06:12] #260 closed

[2021-01-01 21:10] BA8F0D39 opened #270 "[Perf] Element wise division of a 2x2 matrix takes 1 second"
Description
===========
Element wise division of a 2x2 matrix takes 1 second for each iteration, which is extremely slow.
JIT is failing too.

ArrayFire v3.7.2 (CUDA, 64-bit Linux, build 218dd2c)
Platform: CUDA Runtime 10.0, Driver: 455.45.01
[0] GeForce GTX 1060 3GB, 3019 MB, CUDA Compute 6.1
Info String:
ArrayFire v3.7.2 (CUDA, 64-bit Linux, build 218dd2c)
Platform: CUDA Runtime 10.0, Driver: 45

[2021-01-04 06:43] 9prady9 commented on #270
@BA8F0D39 I ran this my quickly modifying the `helloworld` in our crate and the example seems to run fine - I don't see each iteration taking like a second or anything. Can you please share the code you are using to time this.

Note: Also, 3.7.3 version has been out for a while, please upgrade to newer version if possible.

[2021-01-05 12:49] 9prady9 commented on #262
@BA8F0D39 Sorry about the delay. I have figured out the reason why so many kernels are being generated. It is not a bug per say, but it is side effect of how our JIT workflow works right now.

Lets take the following code (please look at comments for info)
[code]
Here's what happens from lets say Nth iteration to N+1 iteration and so on
N Iteration
[code]
N+1 Iteration
[code]

Now if I remove the

[2021-01-05 12:50] 9prady9 commented on #262
@BA8F0D39 I am going to move this to GitHub Discussions since it is not a bug in code neither in wrapper nor upstream.

[2021-01-08 21:41] BA8F0D39 commented on #270
ArrayFire v3.7.3 (CUDA, 64-bit Linux, build 59ac7b9)
Platform: CUDA Runtime 10.2, Driver: 455.45.01
[0] GeForce GTX 1060 3GB, 3019 MB, CUDA Compute 6.1
Info String:
ArrayFire v3.7.3 (CUDA, 64-bit Linux, build 59ac7b9)
Platform: CUDA Runtime 10.2, Driver: 455.45.01
[0] GeForce GTX 1060 3GB, 3019 MB, CUDA Compute 6.1
Arrayfire version: (3, 7, 3)

[code]

X
[2 2 1 1]
    3.770490     3.718878
    4.0

[2021-01-08 21:51] #270 closed

[2021-01-08 22:08] BA8F0D39 commented on #262
@9prady9

In my debug code, I use `print_gen` to view the values of the matrices and I don't really care for the performance of the loop. So generating many kernels is fine for debug purposes.

In my release code, I need to dump matrices from GPU to CPU and the `host` function will call eval on the matrices. Is it possible to do asynchronous eval so it doesn't interfere with the JIT?

You said tha

[2021-01-11 09:13] 9prady9 commented on #262
@BA8F0D39

May be I wasn't clear and it added to the confusion. When I say JIT depth it is the height of the JIT tree, you may think of it like code AST. This tree's height/depth is limited to 100. When the height goes beyond the limit, the corresponding Array get's automatically evaluated generating one or more kernel(s) depending on the code you have written. For example, for a given section of

[2021-01-13 06:54] BA8F0D39 commented on #262
@9prady9
How does the JIT know which sections of code to make into a single kernel?

Is it possible to force the JIT to generate a single kernel for each rust function?

Is it possible to mark sections of the code such that the JIT generates a single kernel for each section?
Like a `jit!` macro?

[code]

Does the JIT generate a new kernel when a branch statement is encountered?

[2021-01-13 16:22] 9prady9 commented on #262
An illustrative example (not c++ code, just algorithm)
[code]
Lines 1,2 & 3 are all combined into a single kernel; then output of that kernel is fed into erode function. Line 5 is again arithmetic operation which is JIT. This creates a separate kernel.

Basically, most domain (compute vision, image processing, statistics, ML, Signal Processing, Linear Algebra) specific functions are not JIT. Such

[2021-01-29 22:19] BA8F0D39 opened #276 "Bitnot changes array type?"
Description
===========
https://arrayfire.org/arrayfire-rust/arrayfire/fn.bitnot.html

It says the output array type should match the input array type.
If you input a bool array into bitnot, then the output becomes an integer array?

[code]

ArrayFire v3.8.0 (CUDA, 64-bit Linux, build d99887a)
Platform: CUDA Runtime 11.1, Driver: 460.32.03
[0] GeForce RTX 3090, 24267 MB, CUDA Compute 8.6
Info Stri

[2021-02-01 12:49] 9prady9 commented on #276
@BA8F0D39 I am able to reproduce this on my end successfully. I am looking into it and shall post an update here once I figure out if it is the wrapper or upstream causing this. Thanks for reporting it!

[2021-02-01 14:19] 9prady9 commented on #276
As I initially suspected, this has to do with 2's complement representation of integers.

Lets say we have 8 bit numbers:
- `true` -> `1` which on bit not will give `11111110` which is `-2` in two's complement representation.
- `false` -> `0` which on bit not will give `11111111` which is `-1` in two's complement representation.

Thus when arrayfire's print function is printing the `b8` array to c

[2021-02-01 21:14] BA8F0D39 commented on #276
@9prady9

If you use the arrayfire::locate function to check the output, arrayfire::bitnot seems to behaves weirdly.
[code]

ArrayFire v3.8.0 (CUDA, 64-bit Linux, build d86edd18)
Platform: CUDA Runtime 11.2, Driver: 460.32.03
[0] GeForce RTX 3090, 24267 MB, CUDA Compute 8.6
Arrayfire version: (3, 8, 0)
Name: GeForce_RTX_3090
Platform: CUDA
Toolkit: v11.2
Compute: 8.6
Revision: d86edd18
a0
[5 1 1 1

[2021-02-02 06:13] 9prady9 commented on #276
Actually, the output does make sense, let me explain. In locate(where in C++ API) implementation, all the `-1`'s and `-2`'s in the bit not output when compared to zero turn up as non-zero elements which is correct. Hence, the output of locate is showing all elements. Input isn't converted to any other type.

Given that we know `-1` is bit not result (in integer form) of zero, you can use the follo

[2021-02-03 05:47] #276 closed

[2021-02-03 05:48] #262 closed

[2021-02-11 16:26] ronniec95 opened #279 "[Build] serde/arrayfire conflict when building"
Description
===========
When clean build of arrayfire-rust. appears to be a conflict between serde and arrayfire 3.8

Build Environment
-----------------
Compiler version: rustc 1.49.0 (e1884a8e3 2020-12-29)
Operating system: Windows 10
Build environment: debug/release

Error Log
---------
   Compiling arrayfire v3.8.0
error[E0603]: module `export` is private
   --> C:\Users\mushf\.cargo\registry\

[2021-02-11 16:36] 9prady9 commented on #279
Do you mean `arrayfire-rust` crate itself fails to compile using arrayfire installed by our website installer ? Or is this happening in client code ?

[2021-02-11 16:59] ronniec95 commented on #279
Yes `arrayfire-rust` crate fails to compile. The arrayfire binary is clean downloaded from the website just now and installed.

Clean build of a test project

Cargo.toml

[code]

Just now tried with `rustc1.50 `- same issue

It looks like it related to a conflict in the build.rs where serde_derive and arrayfire are both defining export/private?

[2021-02-11 17:05] 9prady9 commented on #279
Let me try using this from different bin crate. The crate itself seems to be building fine for me on Windows.

[2021-02-11 17:20] ronniec95 commented on #279
Hi I found the issue
A cargo clean/build doesn't remove the `Cargo.lock` file.

Removing `Cargo.lock` and rebuilding fixes the problem. Or doing a `cargo-update` first

I thought Rust semver would keep each crate separate. The semver isolation appears to break on the build.rs step?

[2021-02-11 17:20] #279 closed

[2021-02-11 17:22] 9prady9 commented on #279
Glad you found the problem. I just finished using the crate from bin crate and it worked fine.

Personally, I didn't encounter this problem earlier today or couldn't replicate it either. Wonder what are the exact sequence of steps that lead to this

[2021-02-11 18:02] ronniec95 commented on #279
I've managed to build a minimum test case.

The follow Cargo.toml files have a single difference for serde_derive (v0.118) vs (0.123). Other libs, which were part of my larger project, don't appear to make a difference.

[cargo_toml.zip](https://github.com/arrayfire/arrayfire-rust/files/5967484/cargo_toml.zip)

Hope this helps.

[2021-02-11 18:13] 9prady9 commented on #279
All mentions of `serde` in ArrayFire has `1.0` as requirement with no patch number in semver notation. I would think rust logic would pick matching semver across all involved instances of serde_derive. I am not sure how how arrayfire's inclusion is resulting into this conflict. Someone with more intimate knowledge of how cargo works would be a better guide in this scenario I think.

[2021-02-11 18:19] ronniec95 commented on #279
Agreed. The cargo.toml file just says serde-derive="^1" but cargo won't
update from 1.0.118 to 1.0.123 automatically without a call to `cargo
update`. The major number is the same in both cases

Sure push it to cargo Devs.

On Thu, 11 Feb 2021, 18:13 pradeep, <notifications@github.com> wrote:

[2021-02-13 02:21] nodeSpace opened #282 "[BUG]-ocl_af_app.rs crashes everytime"
Reproducible Code and/or Steps
------------------------------
Running the example here: https://github.com/arrayfire/arrayfire-rust/blob/master/opencl-interop/examples/ocl_af_app.rs is crashing at this line: `let ptr = af_buffer.device_ptr();` with the error:
[code]
wierdly, if I spawn a new thread and run it in that and also if I run it directly from 'fn main()' (rather then embedded in the ui of

[2021-02-15 06:32] 9prady9 commented on #282
I was able to reproduce some problem, not the exact one you are having I think. I am looking into it. I believe this has something to do with recent fix in v3.8.

[2021-02-15 07:18] nodeSpace commented on #282
Looking at the docs, at the end here: <https://arrayfire.org/docs/unifiedbackend.htm>

This is another area that is a no go when using the Unified backend. It not recommended that you use custom kernels with unified backend. This is mainly becuase the Unified backend is meant to be ultra portable and should use only ArrayFire and native CPU code.

Do you think this might be causing the issue, sinc

[2021-02-15 07:37] 9prady9 commented on #282
I don't think that is the reason because when I tested these examples from interop crate, I always used unified API. In fact, unified API is the main way we provide other language wrappers. I don't think that is the reason since they worked fine earlier. Let me look into it. I will try to get back to you as soon as I can.

[2021-02-15 18:25] 9prady9 commented on #282
I found the problem, it was a missing retain in the example code itself. You need the following additional lines before passing down the buffer to ArrayFire. A silly bug I introduced, sorry about the inconvenience it caused.
[code]

There seems to be another larger issue here and It could be something in ArrayFire itself. Not sure yet where the double release is happening. Theoretically, a retain

[2021-02-16 01:33] nodeSpace commented on #282
Something funny is definitely going on...I couldn't get your fix to work for me until I did this instead:
[code]
so the final file is just the above + <https://github.com/arrayfire/arrayfire-rust/blob/master/opencl-interop/examples/ocl_af_app.rs> is what ran without an error

[2021-02-16 05:05] 9prady9 commented on #282
@nodeSpace That is the double release I was referring to. Hence, the reason the extra retain is causing the program to exit fine. Only one retain is required before passing the buffer to ArrayFire so that release call by ArrayFire doesn't invalidate buffer object in rust and vice versa. Somehow there is a third release call on `cl_mem` that is happening inside ArrayFire upstream which I am trying

[2021-02-16 13:20] 9prady9 commented on #282
Found the main issue. It is a regression introduced in v3.7.2. Interestingly it wasn't encountered until this particular use case.

I will soon send in a PR for it to the upstream and it would be available in the next fix release.

Sorry about the inconvenience, as far as this example is considered. I missed adding the required retain before passing the cl_mem to ArrayFire - that is the only fix i

[2021-02-16 13:27] 9prady9 commented on #282
Here's the fix for the example - 87a331ec977bf51a284ff9cdf38a26168abb9a6b

Even though it seems like an example fix only, I believe it kind of directs users on how to use the crate itself in a key way. I will do a quick new release as soon as I can.

[2021-02-16 13:37] 9prady9 commented on #282
https://github.com/arrayfire/arrayfire/pull/3091 is the upstream. Closing since the example has been fixed.

[2021-02-16 13:37] #282 closed

[2021-02-16 20:25] nodeSpace commented on #282
No problem! Thanks for maintaining/creating arrayfire-rust!

[2021-02-25 03:42] bokutotu opened #283 "[Build]　error: linking with `cc` failed: exit code: 1"
Description
===========
I am having a problem with arrayfire path and setting LD_LIBRATY_PATH and AF_PATH and still getting the error.

Build Environment
-----------------
Compiler version: gcc 9.2.0
Operating system: CentOS Linux release 7.5.1804 (Core)
Build environment: LD_LIBRARY_PATH,
[code]
AF_PATH
[code]
Error Log
---------

[code]

[2021-02-25 03:44] 9prady9 commented on #283
@bokutotu Have you tried `cargo clean` followed by `cargo build` ?

[2021-02-25 03:53] bokutotu commented on #283
@9prady9 Thanks for answering!
It's resolved.
I'm sorry for raising the issue, even though such a solution was available in other issues.

[2021-02-25 03:56] 9prady9 commented on #283
That is alright, Cargo doesn't pickup environment variables changes in the same session without a clean rebuild.

Closing the issue.

[2021-02-25 03:56] #283 closed

[2021-03-03 21:37] BA8F0D39 opened #284 "Add the ability for arrayfire::index to use i64 and u64 sequences"
Description
===========
In 3.8.0,  arrayfire::index can only take i32 and u32 sequences and arrayfire::index  can't take i64 and u64 sequences

Add the ability for arrayfire::index to use i64 and u64 sequences

[2021-03-04 14:12] 9prady9 commented on #284
This needs an update on the upstream first. We have some on going discussions internally. We will provide an update once we reach to an conclusion about this. Thank you for your patience.

[2021-03-12 20:59] RReverser opened #285 "[BUG] Getting STATUS_STACK_BUFFER_OVERRUN on any operations"
Description
===========

Any operation, including simple `arrayfire::info()` or `Array::new(...)` seems to be taking a very long time, and eventually fails with:

[code]

I've used official Windows installer for ArrayFire 3.8 with CUDA 11.2 from here: https://arrayfire.s3.amazonaws.com/3.8.0/ArrayFire-v3.8.0-CUDA-11.2.exe.

It's happening on CUDA backend.

Actually, while trying to see which backe

[2021-03-12 21:07] RReverser commented on #285
UPD: updating driver helped, so at least that's good.

[2021-03-14 04:53] BA8F0D39 opened #286 "Can't manually drop array ?"
Description
===========
Calling drop doesn't free the array from GPU's memory.
The array is still allocated in the GPU's memory.

ArrayFire v3.8.0 (CUDA, 64-bit Linux, build d86edd18)
Platform: CUDA Runtime 11.2, Driver: 460.32.03
[0] GeForce RTX 3090, 24267 MB, CUDA Compute 8.6
Info String:
ArrayFire v3.8.0 (CUDA, 64-bit Linux, build d86edd18)
Platform: CUDA Runtime 11.2, Driver: 460.32.03
[0] Ge

[2021-03-15 07:27] 9prady9 commented on #286
If you wanna force memory release, you can request the same using the `device_gc` but that is not going to result in optimized performance using ArrayFire.

[2021-03-15 07:36] 9prady9 commented on #285
@RReverser Can you please point me to this location in docs.

I am confused, what do you mean ? Does updating driver resolved the problem ? or It helped with partially but not completely - if so, can you please share how far it did help the program to progress ?

Are you a Rust only developer ? If not, can you please try C++ helloworld example from ArrayFire and let me know how that runs on your s

[2021-03-15 12:47] RReverser commented on #285
It's here: https://docs.rs/arrayfire/3.8.0/arrayfire/enum.Backend.html.

---

Yes, it resolved the problem and ArrayFire works now (so I can't repro with C++ either), but as I said above:

Surely, there has to be a way to print a human-readable error in case of incompatible driver version or something like that instead of crashing.

[2021-03-15 12:53] 9prady9 commented on #285
Thanks, I will correct that.

The problem is resolved with driver update, cool.

We do some checks for driver and cuda runtime compatibility and log them too. I wonder if they are captured by cargo output 🤔
https://github.com/arrayfire/arrayfire/blob/master/src/backend/cuda/device_manager.cpp#L459

[2021-03-15 12:56] RReverser commented on #285
I don't think it was, and either way it's probably worth encoding them as a runtime panic. Anything's better than a stack buffer overrun indicating a memory corruption in apparently safe Rust code.

[2021-03-15 13:03] 9prady9 commented on #285
I am not really sure if the cause of that is arrayfire code base. Can you tell me your driver version when it caused issue.

[2021-03-15 15:10] RReverser commented on #285
It's in the report above: 452.66

[2021-03-15 22:16] BA8F0D39 commented on #286
Size of arr1 is 14 GB
Size of arr2 is 3.2 GB

After arr1 is initialized, total memory allocation on nvidia-smi is 14 GB.
After arr1 is dropped, total memory allocation on nvidia-smi is 14 GB.
When arr2 is initialized after arr1 is dropped, total memory allocation on nvidia-smi is 17.2 GB.
Total memory allocation stays at 17.2 GB until the end of the program.

[code]

After arr1 is dropped, why doe

[2021-03-16 04:32] 9prady9 commented on #286
Garbage collection (a.k.a calling `device_gc`) is a relatively expensive process as the memory manager has to go through the pool of allocations that it is book-keeping by calling free on those. Apart from that, `cudaFree` is synchronous call and ArrayFire's API is asychronous by design with few unavoidable exceptions. Even single `cudaFree` call is relatively expensive than marking the allocation

[2021-03-16 20:18] BA8F0D39 commented on #286
Nvidia Jetson CPU/GPU unified memory might have trouble with arrayfire's memory management because it might duplicate memory in the shared RAM and there isn't any zero copy API calls between CPU and GPU.

Is there an API call to set unified memory across CPU/GPU for nvidia jetson?

[2021-03-17 10:36] 9prady9 commented on #286
ArrayFire doesn't employ unified memory yet. We have some open requests regarding the same on upstream project.

- https://github.com/arrayfire/arrayfire/issues/363
- https://github.com/arrayfire/arrayfire/issues/1537

If the original question is addressed, please close this issue as this is a wrapper to ArrayFire and the concerned feature requests are already open in the upstream project. You can

[2021-03-17 10:38] 9prady9 commented on #285
Okay, thank you. I will check with that driver version and see if I can reproduce the issue. If I can, I shall move this issue upstream to address it correctly.

[2021-03-22 00:55] #286 closed

[2021-03-22 00:59] BA8F0D39 opened #288 "Feature Make argument "b" of replace_scalar type T"
Description
===========
pub fn replace_scalar<T>(a: &mut Array<T>, cond: &Array<bool>, b: f64)

Shouldn't type of input "b" == T  and not f64?

[2021-03-22 05:24] 9prady9 commented on #288
@BA8F0D39 I think I didn't refactor the scalar argument(when Array was refactored to be generic) to avoid an up-cast at library level from `T` to `f64`. Given that ArrayFire C-API takes double argument anyway, the up-cast didn't make sense and would only add unnecessary trait bound (something like num crate's ToPrimitive/AsPrimitive) on the input generic type `T` which adds an additional trait bou

[2021-03-22 19:33] BA8F0D39 commented on #288
It doesn't seem to insert the values into the array correctly for u64

[code]

A
[6 1 1 1]
      16242730742183356629
       6679402142117448868
                         0
       7657373526131797801
                         0
        511886651086640123

[2021-03-23 04:54] 9prady9 commented on #288
@BA8F0D39 I was able to reproduce the issue. Shall update here once I have more info on the root cause.

[2021-03-23 05:33] 9prady9 commented on #288
Found the problem, the `u64` happens to be quite large that it isn't accurately represented using `double`/`f64`. If I reduce the constant by a thousand or so, then the value is getting copied correctly. I think this needs to be correctly handled in C-API of arrayfire by using different functions with appropriate type suffixes to use the exact input scalar types rather than approximate using doubl

[2021-03-27 01:40] BA8F0D39 opened #289 "[BUG] arrayfire fails on Intel OneAPI OpenCL CPU Runtime and POCL OpenCL CPU Runtime"
Description
===========

Arrayfire version: (3, 8, 0)
Name: Intel(R)_Core(TM)_i5-8400_CPU_@ 2.80GHz
Platform: OpenCL
Toolkit: Intel(R) CPU Runtime for OpenCL(TM) Applications
Compute: 2.1
Revision: d86edd18

 Platform Name                                   Intel(R) CPU Runtime for OpenCL(TM) Applications
Number of devices                                 1
  Device Name

[2021-03-29 19:58] BA8F0D39 commented on #289
Fixed in Intel OpenCL 2021.11.3.0.17_160000

[2021-03-31 00:13] BA8F0D39 commented on #289
arrayfire::sum_by_key on OpenCL has errors for large arrays

[2021-03-31 15:50] 9prady9 commented on #289
What are the errors ? Can you please share output of the program with `AF_TRACE` environment variable set to the value of `all`

[2021-04-01 05:30] 9prady9 commented on #289
@BA8F0D39 Weird, I can't see your reply on github web at all although I could see it in my email.

In any case, the error is quite evident isn't it ?
[code]
The key vector can't be two dimensional when the keys are identifying a unique element along a single dimension which is essentially a vector. Hence, key array should be a vector. This is not a bug, it is expected input for `*-by_key`

[2021-04-02 07:29] BA8F0D39 commented on #289
@9prady9

It seems my code has a race condition.

[code]
It seems arrayfire::Array::new is asynchronous and returns the array a0 before the data in a0 is valid.
a0 sometimes has invalid data, which causes functions performed on  a0 to fail.

Is arrayfire::Array::new synchronous or asynchronous?

[2021-04-02 07:39] 9prady9 commented on #289
@BA8F0D39 Array creation from host data is synchronous i.e. CUDA backend synchronizes on the stream that it called `cudaMemcpyAsync` on and OpenCL backend does a blocking `enqueuWriteBuffer`. So, I doubt that input buffer is going out of scope here. The issue must be something else

[2021-04-02 23:23] BA8F0D39 commented on #289
@9prady9
I finally figured it out. It wasn't a bug on the Arrayfire code but a bug in the Intel OpenCL implementation.
On the CUDA backend and CPU backend, there isn't any bugs.

On the Intel OpenCL implementation, many kernels have weird errors.

[code]

Arrayfire version: (3, 8, 0)
Name: Intel(R)_Core(TM)_i5-8400_CPU_@ 2.80GHz
Platform: OpenCL
Toolkit: Intel(R) OpenCL
Compute: 2.1
Revision: d86e

[2021-04-06 09:24] 9prady9 commented on #289
@BA8F0D39 Sorry about the delay.

We haven't tried oneAPI Intel OpenCL runtime yet ourselves. Although, I would say we have had quite some issues with Intel OpenCL runtime on Windows. I am not aware of the current status of those bugs. I would suggest using OpenCL runtime that have passed a good majority of OpenCL conformance tests. I would have to get back to on which is better for Intel devices.

[2021-04-07 08:25] 9prady9 commented on #289
@BA8F0D39 I would suggest using [this Intel OpenCL runtime for CPU](https://software.intel.com/content/www/us/en/develop/articles/opencl-drivers.html#cpu-section). You need to fill a form with your details to download that one. I think this is an old runtime though.

[2021-04-07 09:13] 9prady9 commented on #285
@RReverser I just realized that you are trying to use CUDA 11.2 based ArrayFire with driver 450 series. CUDA 11.2 requires 460.82 minimum. It is not a bug rather, wrong driver version was being used with ArrayFire that was built with CUDA 11.2

[2021-04-07 11:06] RReverser commented on #285
Okay. I still think that it should provide better error message on version mismatch, but as it's not affecting me personally, I don't have strong opinion on this.

[2021-04-07 11:11] 9prady9 commented on #285
That is true, it should give an error message rather than a silent seg fault. I was only letting you know that incorrect driver reason was the reason which I didn't realize until today when I was going through the conversation.

[2021-04-07 12:13] RReverser commented on #285
Oh yeah, I assumed it was the case as soon as updating the driver fixed the problem :)

[2021-04-09 21:23] BA8F0D39 commented on #289
@9prady9
I gave up Intel OpenCL and used POCL because Intel OpenCL has more issues than POCL

[2021-04-09 21:23] #289 closed

[2021-04-09 21:32] BA8F0D39 opened #290 "[BUG] Precision differences between CUDA and OpenCL"
Description
===========
For some functions like exponential. There are weird precision differences between the different backends.

On CUDA float32 and exponential function,

[code]

ArrayFire v3.8.0 (CUDA, 64-bit Linux, build d99887ae)
Platform: CUDA Runtime 11.1, Driver: 460.32.03
[0] GeForce RTX 3090, 24267 MB, CUDA Compute 8.6
Arrayfire version: (3, 8, 0)
Name: GeForce_RTX_3090
Platform: CUDA

[2021-04-12 02:54] BA8F0D39 opened #291 "arrayfire::neq should output Array<bool> ?"
https://arrayfire.org/arrayfire-rust/arrayfire/fn.neq.html

arrayfire::neq should output `Array<bool>` instead of the input array types.

[2021-04-12 04:55] #291 closed

[2021-04-13 05:53] 9prady9 commented on #285
@RReverser I have reviewed the issue and code once again today. We do throw an error here https://github.com/arrayfire/arrayfire/blob/master/src/backend/cuda/device_manager.cpp#L459 under this call. Oddly, somewhere in that call or in CUDA API calls, the hang is taking place. Can you please try running the code (with the old driver) through Visual Studio Debugger and share the call stack with me.

[2021-05-03 15:39] jkelleyrtp opened #293 "Bump num to 0.4.0"
Description
===========

Num is currently set to 0.2 but the most recent num is 0.4.0. This means my crate that uses 0.4.0 num-complex doesn't work with arrayfire, so I have to recast the pointer. It would be nice if num were up to date with the rest of the num ecosystem.

[2021-05-04 07:09] 9prady9 commented on #285
@RReverser Did you get a chance to look into this ?

[2021-05-04 07:33] 9prady9 commented on #123
Closing this issue as this very likely upstream or upstream's dependency related. Upstream already has an active issue whose progress can be tracked here https://github.com/arrayfire/arrayfire/issues/1746

[2021-05-04 07:33] #123 closed

[2021-05-04 13:22] RReverser commented on #285
Yeah, sorry, as I said above I already upgraded the driver which resolved the blocker for me and wouldn't want to look for ways to downgrade it back or return to the issue at this point.

[2021-05-04 13:49] 9prady9 commented on #285
That is alright. I have checked our code base and the necessary log statements for the given scenario are present. I suspect it is either the driver that is causing the hang in which case we cannot gracefully catch the issue to give an appropriate error message.

Until we can figure out some evidence that our log statements aren't working due to logical error in our code base, I don't think we can

[2021-05-04 13:49] #285 closed

[2021-05-04 13:54] RReverser commented on #285
Fair enough, thanks.

[2021-05-05 06:11] #293 closed

[2021-05-07 03:34] BA8F0D39 opened #295 "arrayfire::set_rows fails on bool array? [BUG]"
Description
===========

[code]

Info String:
ArrayFire v3.8.0 (CUDA, 64-bit Linux, build d99887ae)
Platform: CUDA Runtime 11.1, Driver: 465.19.01
[0] NVIDIA GeForce RTX 3090, 24267 MB, CUDA Compute 8.6
Arrayfire version: (3, 8, 0)
Name: NVIDIA_GeForce_RTX_3090
Platform: CUDA
Toolkit: v11.1
Compute: 8.6
Revision: d99887ae
a0
[6 1 1 1]
           1
           1
           1
           1

[2021-05-08 05:02] 9prady9 commented on #295
@BA8F0D39 I found the problem, it is in the wrapper call. Will send in a fix soon.

[2021-05-08 09:01] #295 closed

[2021-05-13 03:11] 9prady9 opened #297 "Add serialization and deserialization tutorial to the book"

[2021-05-27 15:00] #297 closed

[2021-05-30 20:20] BA8F0D39 opened #299 "[BUG] Rust compiler optimizations crashes arrayfire"
Description
===========

Similar to bug #73 , rust compiler optimizations create instability the program and will result in a crash

Setting compiler optimizations to the highest level
[code]
and building a rust program in release mode
[code]
crashes my program and GPU drivers.
Hilariously, my screen turned blank and I didn't get to see the error message.

[2021-05-31 11:54] 9prady9 commented on #299
Can you also please update the description with details like OS, ArrayFire(installed library) version, ArrayFire crate version, Backend being used, GPU driver version.

To get some clarification, just compiling `cargo build --release` is causing the crash or running the program built with `opt-level=3` is causing the crash ?

[2021-06-08 07:04] HammerBu opened #300 "Can not use imax_all in typed function [BUG]"
imax_all works well in main function.
[code]

output:

[3 1 1 1]
    0.6010
    0.0278
    0.9806

However, failed when use typed function
[code]

error:

**What should i do to use imax_all in the function for different types array(u8, f16, f32)**

[2021-06-21 04:35] 9prady9 commented on #300
@HammerBu
Sorry about the delay, I have been on leave and then sick for past few weeks.

When writing generic functions, you need to add certain bounds for user defined functions based on the set of functions that are used from arrayfire crate so that all trait bounds required by this set is satisfied by the user defined generic function. This is true in general for any rust generic function.

In

[2021-06-21 04:35] #300 closed

[2021-10-05 23:13] BA8F0D39 commented on #299
I seems jemalloc isn't compatible with arrayfire

#[global_allocator]
static ALLOC: jemallocator::Jemalloc = jemallocator::Jemalloc;

[2021-10-23 00:19] videobitva opened #301 "Controversial seq! macro usage examples"
Hello!

The seq! macro usage example, which could be found [here](https://arrayfire.org/arrayfire-rust/book/indexing.html), is pretty much controversial and made me frustrating for several hours while trying to figure out what is wrong with me and my coding skills.

Take a look at this section:

[code]

Here we can clearly see the way to use this macro:
[code]

However, this does not work, because

[2021-11-17 17:06] duducv opened #302 "[BUG] Add MatchType support info for match_template in documentation"
arrayfire: 3.8.0;
OS: Windows;
cmd operation: Cargo build;

I'm trying to use a function match_template,  however when I choose matchType ::SHD or matchType ::NCC
the compiler closes with the following error:

thread 'main' panicked at 'Error message: One of the function arguments is incorrect
Last error: In function af_err __cdecl af_match_template(void **,void *const ,void *const ,const af_match

[2021-11-27 02:57] pauleaster opened #303 "[BUG]Typo in readme for MacOS"
Description
===========
Change readme line:
`On OSX: do export DYLD_LIBRARY_PATH=$DYLD_LIBRARY_PATH:$AF_PATH/lib64`
To:
`On OSX: do export DYLD_LIBRARY_PATH=$DYLD_LIBRARY_PATH:$AF_PATH/lib`

After installing arrayfire 3.7.2, the installation directory was `/opt/arrayfire` and the library files were in the `./lib` subdirectory.

[2021-11-29 02:23] 9prady9 commented on #303
Thank you for reporting this!

[2021-11-29 02:30] 9prady9 commented on #302
@duducv Sorry about the inconvenience. Not all error metrics are implemented for image comparison. SHD and NCC are one of them. Hence, the message indicates the same. This is the current limitation in upstream.

I am changing the issue title to change the docs to reflect the limitation.

[2021-11-29 03:05] 9prady9 commented on #301
@videobitva Sorry about the delay in my response.

There are variations in syntax due to the limitation on how `:` could be interpreted in a macro when `expr` type is used. So, I couldn't use `:` colon as delimiter for all cases. `:` delimiter can only be used with literals. When expressions are passed in as the sequence macro arguments, I use `,` as delimiter.

I think to avoid confusion, perhaps

[2021-12-03 16:18] #303 closed

[2021-12-23 14:56] 9prady9 commented on #299
Sorry, couldn't get back to this. Will try this weekend.

[2021-12-23 14:58] 9prady9 opened #306 "Make seq macro syntax consistent"
The inconsistency in seq macro can cause confusion as reported in this issue https://github.com/arrayfire/arrayfire-rust/issues/301

Make macro syntax consistent.

[2021-12-23 14:59] 9prady9 commented on #301
Hope the clarification cleared the confusion. I have also opened a new issue to fix the consistency problem in seq macro. Please follow it's updates over there.

https://github.com/arrayfire/arrayfire-rust/issues/306

[2021-12-23 14:59] #301 closed

[2021-12-23 15:00] 9prady9 commented on #306
I added API Change although it is not function API change since it would still cause the user code to change a bit once the delimiters are made consistent.

[2022-01-10 11:59] phil-opp opened #308 "[Build] Build scripts silently ignores non-accessible DLLs"
Description
===========

When looking for available DLLs, the build scripts treats all access errors like files that don't exist:

https://github.com/arrayfire/arrayfire-rust/blob/7cfde6b827f2976767f4e5dc6b8913fe3ef0140e/build.rs#L71-L76

If the current user has no read permissions on the `af.dll`, it is not added to the `backends` list:

https://github.com/arrayfire/arrayfire-rust/blob/7cfde6b827

[2022-01-10 12:38] 9prady9 opened #309 "[BUG] Fix Clippy warnings"

[2022-01-10 12:54] 9prady9 commented on #308
I don't see a problem in this scenario. If the current user doesn't have permissions, that should be fixed outside of rust's context. If a file can't be read by an user, it is essentially a non-existent file to that user. There is no way to know what are it's permissions. At least, I am not aware of any such mechanism. If you are aware of something like that, please do share and I shall look into

[2022-01-10 13:24] phil-opp commented on #308
The main problem is that there is no error or warning if no backends are found at all, i.e. when the `backends` list is empty. There is no way the linking can succeed in this case, so I think it makes sense to treat this case as an error in my opinion.

It's true that non-readable files cannot be used and must be fixed manually. However, if the user explicitly points the `AF_PATH` to such a direct

[2022-01-10 14:18] 9prady9 commented on #308
I wonder when such a scenario would happen unless it is a broken installation or broken build 🤔 Nevertheless, I agree an early break while build script is running might help parsing a larger linker error message. Feel free to raise a PR for the same if you can, Otherwise I shall look into it as soon as I can.

How do you propose accessing the access of a backend(library file) ? Other than checking

[2022-01-14 10:00] phil-opp commented on #308
It was a non-standard installation in our case that was indeed broken :smile:. However, debugging it was much more difficult because the build script succeeded without errors. I'll create a PR to add an error message for that case.

We can check the [error kind of the `io::Error`](https://doc.rust-lang.org/stable/std/io/struct.Error.html#method.kind), which is [`NotFound`](https://doc.rust-lang.or

[2022-01-14 10:33] phil-opp commented on #308
I opened a PR at #310. I used a slightly different approach for reporting I/O errors, so please let me know what you think.

[2022-02-04 10:25] 0rphon commented on #285
running into the same issue with an rtx3090 on windows 10 right now. i tried updating my drivers and cuda and i tried both the 10.x and 11.x arrayfire binaries to no avail. i also tried manually setting the back-end like OP but it didn't seem to fix anything; OpenCL, CUDA, and CPU all throw `STATUS_STACK_BUFFER_OVERRUN`

the download link on github for the cinfo binary seems to be down right now b

[2022-02-04 20:12] 0rphon opened #311 "[BUG] STATUS_STACK_BUFFER_OVERRUN from any operation"
Description
===========
possibly related to #285 although the suggested solution didn't work for me and it crashes instantly on my machine instead of taking a "long time" like detailed in the old issue. i left a comment on the original post but these two factors make it seem like a separate issue so im filing this as well. feel free to close if you think its a duplicate.

attempting to run any cod

[2022-02-04 20:13] 0rphon commented on #285
i elected to file a issue since it seems like the root cause is different from OP. feel free to close the issue if its a duplicate

[2022-02-12 05:00] 9prady9 commented on #308
Thank you for the contribution, I have just left couple of minor comments. Please have a look.

[2022-02-12 05:19] 9prady9 commented on #311
There has been new upstream release - arrayfire 3.8.1 Can you please try the create with that version of library and let me know if you are still the issue. Thank you.

[2022-02-12 15:55] #309 closed

[2022-02-12 15:58] #302 closed

[2022-02-13 01:02] 0rphon commented on #311
@9prady9 oops thats my bad, im already using 3.8.1 i just accidentally typed 3.8.0 instead when i was making the post. i edited it to have the correct version

[2022-02-14 16:37] MichaelMcCulloch opened #315 "[BUG]"
Description
===========

* Details regarding the bug
    * Zero Padding not allowed by Convolve2_nn
* Did you build ArrayFire yourself or did you use the official installers
    * Official Installers
* Which backend is experiencing this issue? (CPU, CUDA, OpenCL)
    * all of them
* Do you have a workaround?
    * No
* Can the bug be reproduced reliably on your system?
    * Yes
* A clear and conc

[2022-02-18 00:31] #308 closed

[2022-02-19 06:50] 9prady9 commented on #315
I am contemplating if I should avoid using `dim4` for padding arguments all together. I am looking into it, will send in a fix soon. Thank you for reporting it @MichaelMcCulloch

[2022-02-23 00:22] 0rphon commented on #311
@9prady9 ran the vectorAdd example and it seems to have worked fine

[code]

[2022-03-13 20:26] alvarozamora opened #317 "Feature Request: Double Precision on M1"
Description
===========
I tried using these rust bindings for arrayfire for 3D FFTs on M1. They are blazing fast, but currently only support `Complex<f32>`'s. Are there plans for `Complex<f64>`'s? Would love to use double precision.

Currently, I get
[code]

[2022-03-14 03:23] 9prady9 commented on #317
@alvarozamora Unfortunately, I don't think this is even possible. The error stems from the root cause that the OpenCL device itself doesn't have `double` support as reported by the OpenCL driver for that device. Unless, this changes there is no way double values data can be used on M1.

Just reiterating in another way, this is by no way a restriction on ArrayFire, it is just that Apple's M1 OpenCL

[2022-03-14 03:23] #317 closed

[2022-05-09 05:19] 9prady9 commented on #299
Closing due to inactivity @BA8F0D39 feel free to re-open if you still have the issue reported or more info to share.

[2022-05-09 05:19] #299 closed

[2022-05-09 05:23] 9prady9 commented on #192
@umar456 Can you please share your findings w.r.t creating a static library of ArrayFire here.

[2022-05-09 05:29] 9prady9 commented on #192
@vadixidav Did you get the chance to try it out ?

[2022-05-09 06:07] vadixidav commented on #192
I haven't, but I can give it a try when I get a chance.

[2022-06-03 12:28] Benjamin-Philip opened #320 "[BUG] Binary ops with a f16 array does not compile"
Description
===========

Binary operations (for eg: add) where one of the arrays is f16 does not compile, raising the following compiler error:

[code]

This is because the `ImplicitPromote<*>` traits have not been implemented for f16. There also doesn't seem to be a `ImplicitPromote<f16>` trait. Implementing these traits for f16 should fix the issue.

Reproducible Code and/or Steps
--------------

[2022-06-14 22:45] wbrickner opened #322 "Not actually using iGPU? [Perf]"
Description
===========

Hello, I am using `arrayfire-rust` to speed up a large matrix multiplication.
There seems to be zero performance difference when using the `Backend::CPU` and `Backend::OpenCL` (with `set_device(0)`),
no matter how large the matrices are.  I suspect that the Intel Iris GPU is not actually being used.  This is basically confirmed by looking at Activity Monitor or iStats, whi

[2022-06-23 12:37] c0dearm opened #323 "[BUG] Impossible to use `convolve2_nn`"
# Description
I am using the code from the `main` branch of this very same repo, because I needed this fix, which is not yet released: https://github.com/arrayfire/arrayfire-rust/pull/316

Apparently, this fix is breaking completely the `convolve2_nn` function, or maybe I am doing something stupid.

This is the code I am trying to run:

[code]
As you can see it is a convolution with stride 1, 0 pa

[2022-06-23 12:43] c0dearm commented on #323
Okay, I know what happens.

The C API expects between 1 and 2 stride dimensions. But since the latest change, it is always fixed to 4: https://github.com/arrayfire/arrayfire-rust/pull/316

I will submit a Pull Request fixing the issue by setting the constant to 2 instead. According to the [Arrayfire docs](https://arrayfire.org/docs/group__signal__func__convolve2.htm#ga8a6da9b0bf8e0287d71d02e2cd763

[2022-06-23 12:47] c0dearm commented on #323
Fixed here: https://github.com/arrayfire/arrayfire-rust/pull/324

[2022-06-23 13:45] #323 closed

[2022-06-24 09:00] c0dearm opened #325 "[Build] RUSTSEC-2020-0071: Potential segfault in the time crate"
# Description
`arrayfire-rust` depends on the `mnist` package that in turn depends on the `time` crate.

The following security advisory was raised tonight regarding the `time` crate: https://github.com/c0dearm/mushin/issues/16

I think there are a few things to do here:
* Upgrade the `mnist` package so that the security vulnerability is not there anymore.
* Set up a GitHub workflow to check for p

[2022-06-25 13:46] 9prady9 commented on #325
@c0dearm Firstly, thank you for bringing this to my attention.

I should have caught this earlier, this should be in dev-dependencies of cargo manifest indeed. Must have slipped through. Sorry about that. However, rest assured that crate from crates.io won't have it as dependency and thus users of arrayfire crate are safe. I have addressed it here already https://github.com/arrayfire/arrayfire-rus

[2022-06-25 13:51] c0dearm commented on #325
Hi! It can be just scheduled to run once a day or so.

Even if there's no update in the `Cargo.lock` a new vulnerability might be discovered in one of the package versions.

[2022-06-25 13:55] 9prady9 opened #327 "Add github action to check for crate vulnerabilities to run once a day on master branch"

[2022-06-25 13:56] 9prady9 commented on #325
@c0dearm would you be interested in submitting a PR for this job ? I have created an issue for this https://github.com/arrayfire/arrayfire-rust/issues/327

[2022-06-25 13:56] #325 closed

[2022-06-25 13:58] c0dearm commented on #325
Sure! I will try to find some time between today and tomorrow 🙂

[2022-06-25 14:02] 9prady9 commented on #325
thank you

[2022-06-25 17:29] c0dearm commented on #327
Done! See #328

[2022-06-28 08:26] #327 closed

[2022-07-02 19:49] #322 closed

[2022-07-03 08:12] 9prady9 commented on #322
@wbrickner I am sorry I couldn't get to this early, has the problem been resolved or did you find a work around ? Can you please share some details of your resolution. Thank you.

[2022-07-03 08:16] wbrickner commented on #322
I think matrix size was too small, couldn't see gpu usage rise.  Regardless of symptoms, my usage now clearly leverages GPU. Thank you

[2022-07-06 21:55] nathanielsimard opened #329 "Feature"
Support batch matrix multiplication in the rust wrapper of arrayfire.

I get the following error when trying to do matmul on 3D matrix:

[code]

[2022-07-10 18:17] philpax opened #330 "Feature: Build feature to automatically download arrayfire binaries"
Description
===========
Hi there! I'm thinking about using arrayfire-rust (through [mushin](https://github.com/c0dearm/mushin)) and will get around to trying it out sometime, but I noticed the need to manually download and install the AF binaries. This is not that much of an issue (and won't stop me from using it), but as a matter of convenience, is it possible to offer a feature that will automat

[2022-08-08 12:54] stexa opened #331 "[BUG] FFT example not working, Trait Bound HasAfEnum not implemented for Complex<float>"
Can not run the fft example: the trait `HasAfEnum` is not implemented for `Complex<{f64}>`.

Using:
- MacOS x86_64
- rustc version 1.62.1
- rust edition 2021
- arrayfire 3.8
- num 0.4.0

The documentation of this library is saying that HasAfEnum is implemented for Complex< f32 > and Complex< f64 >.

<img width="828" alt="Screenshot 2022-08-08 at 14 52 53" src="https://user-images.githubusercontent

[2022-08-17 18:16] cavemanloverboy commented on #331
I'm also seeing this

[2022-08-17 18:18] cavemanloverboy commented on #330
Bump. I thought about adding my own build.rs to my project for the arrayfire dependency, but it should really be at this crate's level

[2022-08-28 14:39] 3togo opened #332 "How to convert Seq to Array?"
In c++, convert seq to array is very simple and is shown as following:

seq s(10, 20, 2);   // [10, 20, 2] => 10, 12, 14....20
array arr = s;
af_print(arr);      // 10    12    14    16    18    20

However, how to do the same in arrayfire-rust?

Eli

[2022-08-29 04:56] 9prady9 commented on #330
@philpax @cavemanloverboy

I totally agree that it would be less work for the user if ArrayFire is made available automatically. Realistically, #192 is however is not going happen anytime soon - especially so until CUDA backend of ArrayFire comes down in it's binary size.

Downloading it is perhaps the only viable option at the moment, but this has to be done via user consent. I think providing an

[2022-08-29 05:06] 9prady9 commented on #332
@3togo I believe there is no direct syntactic form like the C++ wrapper of ArrayFire. However, you can easily implement one by doing the following

[code]

Please note that the above is only for quick illustration, kindly refer to  - [C++ code](https://github.com/arrayfire/arrayfire/blob/master/src/api/cpp/seq.cpp#L77-L86) for the exact logic.

[2022-08-29 05:39] 9prady9 commented on #331
@stexa Please see the implementations here https://github.com/arrayfire/arrayfire-rust/blob/89528902409a849ee92c982d19024789112e510c/src/core/util.rs#L210-L241.

I am unable to reproduce this using `master` branch. Are you noticing this with release version of crate or master branch ?

[2022-08-29 09:49] 3togo opened #333 "How to do assignment?"
In c++, assignment will look something like this.

    array reference = A(span, 2);
    A(span, 2) = 3.14f;
    assert(allTrue<bool>(reference != A(span, 2)));

How to do it in rust version?

[2022-08-29 09:56] 9prady9 commented on #333
please check https://arrayfire.org/arrayfire-rust/book/indexing.html

[2022-08-29 10:46] 3togo commented on #332
many thanks

[2022-08-29 10:46] #332 closed

[2022-08-30 11:05] 3togo commented on #333
@9prady9
many thanks again

[2022-08-30 11:05] #333 closed

[2022-09-11 11:59] 9prady9 commented on #331
@stexa Is still an active issue on your end ?

[2022-09-11 12:43] stexa commented on #331
It is resolved! Was not working with 3.8 from crates.io, but it is working when adding arrayfire from git master branch.
`
[dependencies]
arrayfire = { git = "https://github.com/arrayfire/arrayfire-rust" }
num = "0.4.0"
`

[2022-09-11 12:43] #331 closed

[2022-09-11 18:48] 9prady9 commented on #331
Thanks for clarifying, I will try to push our a new crate soon. Sorry about the inconvenience.

[2022-10-08 08:05] 1392492818 opened #354 "In file src\backend\cuda\kernel/reduce.hpp:429 CUDA Error (209): no kernel image is available for execution on the device 0# af::array::host in afcuda 1# af::array::host in afcuda 2# af::array::host in afcuda 3# af::array::host in afcuda 4# af::array::host in afcuda 5# af::array::host in af 6# arrayfire::algorithm::max_all<f64>"
Description
===========

Reproducible Code and/or Steps
------------------------------

System Information
------------------

Checklist
---------

- [ ] Using the latest available ArrayFire release
- [ ] GPU drivers are up to date

[2022-10-16 11:22] 9prady9 opened #357 "[Build] Failing Security GitHub Action"
Description
===========
Security package issues check has been added after an issue was reported in https://github.com/arrayfire/arrayfire-rust/issues/325. However this has been failing since then.

[2022-10-16 11:22] 9prady9 commented on #357
@c0dearm Can you kindly check why the security github action is failing. I haven't had a chance to look into it yet.

[2022-11-07 08:36] 9prady9 commented on #357
@peamaeq Can you please disable workflow run for security on your `arrayfire-rust` fork. That one is faulty and needs to be fixed. Without the fix, I am getting spammed weekly on its failure from your fork. Thank you. I don't see a way to unsubscribe it unfortunately. Hence, requesting you for the same.

[2022-11-07 08:42] #354 closed

[2022-11-09 16:05] 3togo opened #365 "[BUG] Memory accumulation when using load_image in a loop"
The following program crashed. But why?

[code]

[code]

[2022-11-09 22:32] 3togo commented on #365
The revised version will still fail. How to avoid memory accumulation?

[code]
}

[2022-11-09 22:49] 3togo commented on #365
use  load_image_native instead of load_image could avoid the problem

[2022-11-10 01:15] 3togo commented on #365
Actually load_image_native  will still cause memory accumulation but much slower than that of load_image.

How to free the accumulated memory to avoid the program crashing?

[2022-11-18 16:03] nickmachnik opened #366 "Multi GPU Support"
Description
===========

Dear Devs, thanks for the crate, I find it immensely useful!

I was wondering if there is any way to split work among multiple GPUs through the Rust API? I cannot to find any examples or documentation on this, Without having tried it myself, it seems like this is possible through the c++ API, see @9prady9 's gist [here](https://gist.github.com/9prady9/6e5b5dcf37c18f63aa5c5

[2022-11-21 02:57] 9prady9 commented on #366
@nickmachnik Thank you for using the crate.

The C++ example should be easily translatable to rust. Except few API differences like `where` becoming `locate` in rust, the library itself doesn't change it's capabilities across languages. 99% of API calls are async, you can write a loop shown in the gist in rust too. You have to call `set_device` in each thread to make sure the compute backend's thr

[2022-11-21 10:01] nickmachnik commented on #366
Cool, thanks for the pointers, will give this a go!

[2022-11-21 10:02] #366 closed