[2015-05-18 12:45] pavanky opened #1 "Discussion for creating ArrayFire Rust API"
Rust has hit 1.0. It would be interesting to see if we can add a wrapper to Rust.

[2015-05-18 12:51] jramapuram commented on #1
Since arrayfire has a C API it should be possible to use FFI (https://doc.rust-lang.org/book/ffi.html) to pull in these functions. If so, then it should merely be writing up the new interface definitions. Thoughts?

[2015-05-21 15:06] jramapuram opened #2 "Rust Bindgen Fails"
Tried using https://github.com/crabtw/rust-bindgen but fails when pulling in ostream:

		jramapuram@gauss ~/p/a/include>
		../../rust-bindgen/target/debug/bindgen -l lib/libafcuda.dylib -I /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include/c++/v1 -o arrayfire.rs arrayfire.h
		arrayfire.h:10:9: warning: #pragma once in main file
		/Applications/Xcode.app/Cont

[2015-05-22 00:55] umar456 commented on #2
I am not familiar with this tool. Looks like it is failing in the C++ header files. I would imagine this would also fail on other types of libraries with these errors.

[2015-05-22 01:14] umar456 commented on #1
It would take a good bit of effort to create a native experience with the rust language. If you look at the `src/api/cpp` directory, the C++ interface is made of 3933 lines of pretty dense code. I think the best approach would be to first create the ideal usage for a native Rust API and then conform this to that code. I come from a C++ background so I am comfortable with our C++ API but it might b

[2015-05-22 07:39] jramapuram commented on #1
I can write up some examples. I'm a c++11/c99 person myself, and it feels weird at first, but there are good reasons for the idioms in rust.

[2015-05-22 07:41] jramapuram commented on #2
Yup. It's pulling in iostream which is a cpp dependency. The best way to go in my mind for easy rust integration would be to factor our core c routines from c++ ones. This will allow for easy integration using FFI. This would also be helpful for other projects that you guys might have in mind. I.e: arrayfire java for instance. I believe NDK is much easier for c integration as opposed to c++.

[2015-05-22 07:43] jramapuram commented on #1
Also, if you guys are able to do the c refactor as mentioned in the other issue it will be the first easy integration with the GPU via RUST! There have been some tries I believe: http://blog.theincredibleholk.org/blog/2012/12/05/compiling-rust-for-gpus/ but that is more so to get rust natively on there which I don't think is really necessary.

[2015-05-22 10:58] umar456 commented on #2
We already try to do that with the `#ifdef __cplusplus` macros. If you don't have `__cplusplus` defined it should only include C bindings.

[2015-05-22 12:14] jramapuram commented on #2
Yup, just some locations are missing them, eg:

  - dim4.hpp : includes vector, iostream & istream and has no header guard
  - some locations have namespaces used before a header guard, eg: image.h

There are a few others like this. I have managed to hack together a (non-tested yet) binding actually: https://github.com/jramapuram/rust_arrayfire/blob/master/arrayfire.rs

[2015-05-22 12:17] umar456 commented on #2
Could you put together a pull request with your changes? These need to be included with those header guards in the main repo.

[2015-05-22 12:29] jramapuram commented on #2
Yup, will try to get that in within the next few days.

[2015-06-04 13:35] jramapuram commented on #2
Ok sorry for the delay. I was going to do this today but it looks like you guys handled it already! The rust auto binding generator is very hacky right now and doesn't [parse items properly](https://github.com/jramapuram/rust_arrayfire). Maybe a test with a smaller subset would be a good first step

[2015-06-04 14:30] pavanky commented on #2
@jramapuram We made sure our API in the 3.0 release works with C only compilers. The rust bindgen should have a lot fewer errors now. Can you give it a shot ?

[2015-06-04 14:47] jramapuram commented on #2
@pavanky : I just did. It generates fine now! However it looks like the bindgen is [pulling in a va_list](https://github.com/jramapuram/rust_arrayfire/blob/master/src/arrayfire.rs) which is a c++ dependency:
[code]

[2015-06-04 14:51] pavanky commented on #2
`va_list` and `__builtin_va_list` seem to come from [stdarg.h](http://en.wikipedia.org/wiki/Stdarg.h) which is a standard C header file. I don't think it is a C++ dependency.

[2015-06-04 14:58] jramapuram commented on #2
Oh yes, you are right! It is used in printf(). Sorry, a little distracted working on my thesis.  So I got it to build the library! Will try to do a simple test today to see if it works.

[2015-06-04 15:00] pavanky commented on #2
Alright, I am closing the issue if that is the case. Do you want to send in a PR once you have an example working ? I can give you push permissions to this library if you are interested.

[2015-06-04 15:00] #2 closed

[2015-06-04 15:01] jramapuram commented on #2
Let me message you if I get it working :)

[2015-06-07 23:55] jramapuram opened #4 "Wrap C API"
currently calls are made along the lines of:

[code]

If we can clean this up with a nice 'Rusty' type object that would be helpful.

[2015-06-07 23:57] jramapuram opened #5 "Create a Safe Rust Interface"
https://doc.rust-lang.org/book/ffi.html

[2015-06-08 19:17] pavanky opened #7 "Improve build mechanism"
Would it be possible to pass in command line arguments to cargo instead of editing build.rs to configure the following:

- Changing the backend
- Changing the number of threads for make

It should also be possible to use arrayfire that is already installed on the system.

[2015-06-09 09:14] jramapuram commented on #7
Yup, first point should be easy. Just wanted to get something up right away.
Second can be done as well, however it is OS dependent. I.e finding packages on OSX vs. Linux, etc. and thus a little trickier.

[2015-06-09 10:35] pavanky commented on #7
@jramapuram If we can pass command line arguments to `build.rs`, I can make the build process use the system libraries.

[2015-06-09 11:29] jramapuram commented on #7
Hmm, you want to pass in paths to the libs as opposed to auto-discover?

The Rust compiler actually is pretty awesome.
The two lines that need modifying are:
[code]

[2015-06-21 14:20] jramapuram commented on #7
https://github.com/arrayfire/arrayfire_rust/issues/7 solves using existing libs

[2015-06-30 02:37] cactorium opened #9 "gtest submodule won't initialize correctly"
The one in the main arrayfire repo appears to work fine though

[code]

[2015-06-30 08:59] pavanky commented on #9
This is now fixed. The link for the google test submodule had to be updated in arrayfire. Updated the submodule tag to fix it here.

[2015-06-30 08:59] #9 closed

[2015-07-06 22:28] 9prady9 commented on #4
@pavanky I think, we can close this as dup of #5  or am i missing something ?

[2015-07-06 22:40] jramapuram commented on #4
Sounds good

[2015-07-06 22:40] #4 closed

[2015-07-06 22:43] jramapuram commented on #5
@9prady9 have you ensured  there are no unsafe bindings calls?

[2015-07-07 14:56] 9prady9 commented on #5
@jramapuram the functions i added so far, i made sure to wrap them with `unsafe` blocks inside the rust wrapper functions. I can't say i am 100% certain, but based on what i read so far on FFI for rust, it seems to be correct. [This](https://doc.rust-lang.org/book/ffi.html#creating-a-safe-interface) is what i mostly followed.

[2015-07-07 15:36] jramapuram commented on #5
Yup, you are right! This should be fine :)

[2015-07-07 15:36] #5 closed

[2015-07-07 15:40] jramapuram commented on #4
Btw, are there any missing operands that still need to be implemented? I.e. all arrayfire C is now in Rust?

[2015-07-07 16:10] 9prady9 commented on #4
oh, nope :smile: . i only added the following so far:
* functions used in hello world example
* + operator for Array
* Array struct and it's traits implementations
* Dim4 struct

Last three points are essential basis for adding all functions, hence i did them first. Now, we can just keep adding functions one by one. I have an idea about how to organize them.
We can create a module for each header

[2015-07-07 22:20] pavanky opened #13 "Port all functions from ArrayFire 3.0"
Import from each header file into unique source files.

- [x] algorithm
- [x] arith
- [x] array
- [x] blas
- [x] data
- [x] defines
- [x] device
- [x] features
- [x] graphics
- [x] image
- [x] index
- [x] lapack
- [x] signal
- [x] statistics
- [x] util
- [x] version
- [x] vision

---
C++ only headers that need not be ported

- exception.h (ported the necessary C function to util.py)
- complex.h
-

[2015-07-07 22:21] pavanky commented on #1
Closing this issue as it looks like we are making good progress in this regard.

[2015-07-07 22:21] #1 closed

[2015-07-07 22:24] pavanky opened #14 "Implement error checking"
Currently there is no error checking going on.

[2015-07-20 12:19] jramapuram opened #18 "Use frameworks for OpenCL on OSX"
Can't build using -lOpenCL on OSX.
Need to work around this issue.

[2015-07-20 23:01] #14 closed

[2015-08-02 18:20] 9prady9 opened #22 "Add documentation content"

[2015-08-23 20:06] jramapuram opened #23 "Inconsistent behavior: operator+ & af:add"
af::add is throwing a convertible error if you pass in an `&af::Array`

[code]

[code]

However, `operator+` seems to work just fine. This behaviour should be consistent & accept an &Array.

[2015-08-24 14:48] 9prady9 commented on #23
Fixed by #24

[2015-08-24 14:48] #23 closed

[2015-08-25 16:16] jramapuram opened #25 "af::range fails with ERR_ARG"
Code:
[code]

Result:
[code]

[2015-08-25 16:16] jramapuram commented on #25
@9prady9 : Any thoughts? I don't see anything wrong with range() in data/mod.rs

[2015-08-25 17:05] 9prady9 commented on #25
@jramapuram Check the Rust doc for this function [here](http://arrayfire.github.io/arrayfire-rust/arrayfire/fn.range.html).
C++ documentation is [here](http://www.arrayfire.com/docs/group__data__func__range.htm)

The problem is with the second argument which is a dimension specifier - takes values 0, 1, 2, 3

I just created the skeleton documentation today and will keep updating the rust wrapper d

[2015-08-25 17:42] jramapuram commented on #25
Ah! Thanks, I thought it was the initial value to start the range from.
Nice job with the docs too, will be helpful!

[2015-08-25 17:42] #25 closed

[2015-08-26 12:47] jramapuram opened #26 "passing a str pointer (or even a String) into af::Window::new via a function call results in a GLFWWindow Error for Graphics module"
[code]

results in:

[code]

**Possible solution:** run .clone() internally in the appropriate functions

[2015-08-26 14:04] 9prady9 commented on #26
@jramapuram Which function is causing this ? Window::new or draw*** calls ?

[2015-08-26 14:05] jramapuram commented on #26
Window::new

[2015-09-09 12:50] jramapuram opened #28 "Use f32 (or <T>) instead of f64 wherever applicable"
An example is:

[code]

`f32` is more applicable to video cards as some video cards and generally performs better

[2015-09-09 15:58] 9prady9 commented on #28
@jramapuram That must been a mistake i made. It should be ideally a generic return type. Good catch!

[2015-09-13 12:57] pavanky opened #29 "Use the unified API and switch backends at runtime"
Now that the unified API is in the devel branch, the choice of backend can be made at runtime via a specified command.

I think this needs to be done after a particular tag is made that is compatible with 3.0. We can skip 3.1 compatibility entirely and jump to 3.2.

[2015-09-13 15:55] jramapuram commented on #13
Not sure we have `gfor` yet though. I don't see a `C` API for it though

[2015-09-13 15:59] pavanky commented on #13
GFOR is just a macro with a global flag that is toggled. Depending on the state of the flag, the indexing / assignment operations are "reorder"ed and the "batch" flag for binary operations is set to true.

C API is not / should not be aware of this.

[2015-09-14 14:05] 9prady9 commented on #29
@pavanky As of now, we will keep it at 3.1 tag and update the tag as we progress towards 3.2

[2015-09-14 16:16] #28 closed

[2015-09-14 16:18] 9prady9 commented on #13
All the functions from 3.0 are in arrayfire-rust now.

[2015-09-14 16:18] #13 closed

[2015-09-14 16:19] 9prady9 opened #31 "Keep rust wrapper Updated till ArrayFire 3.2 Release"
Keep adding the new functions that are added to the library as we progress towards ArrayFire 3.2 release.

[2015-09-17 20:10] #18 closed

[2015-09-20 00:00] jramapuram opened #34 "Remove Cargo.lock"
This was pushed initially when I was writing the build system.
It shouldn't be there for libs:

http://doc.crates.io/guide.html#cargo.toml-vs-cargo.lock

[2015-09-21 13:55] #34 closed

[2015-10-01 21:29] jramapuram commented on #26
This is still happening to me:

[code]

I am using the following version of glfw:
[code]

[2015-10-01 21:32] 9prady9 commented on #26
I don't have a Mac, I will try reproducing this on my Linux machine.

[2015-10-01 21:33] jramapuram commented on #26
Thanks, I will try on my linux box tomorrow as well.

[2015-10-01 23:02] jramapuram opened #37 "Add Testing"
- http://erickt.github.io/blog/2015/09/22/if-you-use-unsafe/
  - https://github.com/Manishearth/rust-clippy

[2015-10-01 23:06] jramapuram opened #38 "Resolve Operator Overloading Disparity"
Keeping this one here till either:
  1. Rust provides a better interface / error handling for this (or)
  2. We strip the overloading and resort to af::add () , etc.

In this case 1 > 2

[2015-10-01 23:40] 9prady9 commented on #26
Fixed by #36

[2015-10-01 23:40] #26 closed

[2015-10-05 16:05] #22 closed

[2015-10-30 04:26] #29 closed

[2015-10-30 12:46] 9prady9 commented on #7
After #29 , this change is not needed and use of existing libs is taken care of by another PR. Hence, closing this issue.

[2015-10-30 12:46] #7 closed

[2015-10-30 12:59] jramapuram commented on #7
:+1:

[2015-10-30 19:46] 9prady9 opened #43 "publish arrayfire-3.2.0 crate"

[2015-11-07 22:32] MichaelHirn opened #44 "n-dimensional Arrays"
The documentation states

I would like to learn more about why that is and if there are plans to make it store any kind of n-dim data?

[2015-11-08 00:30] umar456 commented on #44
We don't currently have plans to support >4 dimensional data. Additional dimensions tend to add complexity and overhead to the underlying algorithms which tends to affect performance. We chose 4D arrays as a good compromise between speed and functionality.

[2015-11-08 08:49] pavanky commented on #44
To clarify what @umar456 is saying, this is the limit of the underlying C API. It might be possible to support this other languages (such as the rust wrapper) using a ton of hackery.

[2015-11-09 15:02] MichaelHirn commented on #44
Thanks @umar456 and @pavanky for clarification. So if I understand it correctly, Arrayfire (the mother library) itself is restricted to 4D arrays, which is why you would rather solve it there than here in the rust wrapper.

And in Arrayfire there are currently no plans either for lifting the 4D restriction, as it would complicate things.

[2015-11-14 00:48] #31 closed

[2015-11-14 17:15] adamcavendish opened #45 "Better Arrayfire Expressions Syntax"
I am thinking of a better way of expressing arrayfire expressions in rust, however still needs some work on the design.

We can create macros describing an arrayfire expressions, like this:
[code]

Most of the time I'm quite bored with a lot of `and_then` appearing in my arrayfire-rust code, and creating a lot of disambiguation in expresstions.

However, the with the error appearing, generally peo

[2015-11-14 17:16] adamcavendish commented on #45
Probably similar methods can help clean up expressions into syntax like arrayfire-c / arrayfire-c++

[2015-11-15 02:43] 9prady9 opened #46 "Missing ConstGenerator trait implementation for s16 and u16 types"

[2015-11-15 10:03] jramapuram commented on #45
This does alleviate a lot of the unwrap() calls all over the place. I like the idea.
One question about the retry mechanism: any reason we need an `af:retry_expression!` internally? Can't it be handled in the top level macro?

[2015-11-15 12:50] adamcavendish commented on #45
Yeah, I think it'd be possible.

And another idea: setting up arrayfire context (but this might require a lot of work for elegant implementation, if not using global variables)

[code]

[2015-11-16 05:19] 9prady9 commented on #45
@adamcavendish & @jramapuram

I believe the elegant way would be to use something like [Compiler syntax extension](https://doc.rust-lang.org/stable/book/compiler-plugins.html#syntax-extensions) to parse expressions and process the tokens. I don't think we can do what we want with regular macros in efficient way. If you were referring to compiler plugin earlier, then we are on same page.

You can c

[2015-11-16 06:56] adamcavendish commented on #45
Yep, we might fight for any great impl to make the macro work as expected and most efficient, either ordinary macros or compiler syntax extension.

[2015-11-16 07:52] jramapuram commented on #45
@9prady9 : Can you provide a little code widget for what you would like to use the compiler syntax extension for? I'm guessing it will look something like:

[code]

Is that what you had in mind? Any benefit in the parse tree over the simple macro?

[2015-11-16 15:42] 9prady9 commented on #45
@adamcavendish @jramapuram Yes that is similar to what i have in mind. But what i don't understand is how are we going to handle compound expressions in regular macros - the example we have been using `sin(1)/a + a`? I don't know everything about Rust macros, but i don't think that is possible using regular macros. @jramapuram what do you mean by af(c lib) ? the ArrayFire C-API ?

[2015-11-16 16:42] jramapuram commented on #45
@9prady9 : yes the C library. One easy solution would be if restructured the operator overloads to return a `Result<AfErr, Val>` type and then do a match internally in the macro. This is of course the naive solution.

So something like this  [this probably doesn't compile]
[code]

The key here is that the expression will be evaluated outside and just passed into the macro.
But yea, not quite elega

[2015-11-16 17:28] 9prady9 commented on #45
Yes, they might resolve it but it is generally not a good idea to pass Result objects as input parameters to functions or operators - came to this conclusion after debating/reading a lot on rust user forums. Also, making the functions/operators accept result types will force the library to have two versions for each and every type of operator/function that takes regular `Array` and `Result<Array,.

[2015-11-16 18:21] jramapuram commented on #45
What about just returning an `Array` instead of the `Result<AfErr, Array>` but internally calling the callback when there is an error. This will create a natural breakpoint where the user can manage the error.

[2015-11-16 19:55] 9prady9 commented on #45
That should work, but we have to do this change for all the functions in the library to be consistent.

[2015-11-19 15:03] #44 closed

[2015-11-19 15:48] #46 closed

[2015-11-22 20:58] jramapuram opened #49 "Using arrayfire-rust in library breaks with an af_draw_surface dependency"
Couldn't post the entire example on play-rust so here is a zip with the example: https://dl.dropboxusercontent.com/u/13112806/graphics.zip

This happens **with & without** using the crate.
Only the crate example is provided though.

Error logs from build:
[code]

[2015-11-23 02:36] pavanky commented on #49
This is a problem from upstream. The symbols are not exported properly (AFAPI is absent before the function definition).

@9prady9 Can you fix this issue in hotfixes-3.2.1 branch?

[2015-11-23 03:15] 9prady9 commented on #49
@pavanky Good catch pavan.

@jramapuram [this PR](https://github.com/arrayfire/arrayfire/pull/1114) should fix the problem.

[2015-11-23 06:40] jramapuram commented on #49
Great! Thanks guys. I swear @9prady and I ran nm and saw the symbols.. Weird

[2015-12-08 06:28] jramapuram commented on #49
Fixed via arrayfire/arrayfire#1114

[2015-12-08 06:28] #49 closed

[2015-12-08 13:42] 9prady9 commented on #49
Ah, i was waiting for push of crate with updated submodule :) i guess we are good either way since crate doesn't use submodule.

[2015-12-08 13:43] jramapuram commented on #49
Ah, you can still tie it in to this issue!

[2015-12-08 13:49] 9prady9 commented on #49
Sure.

[2015-12-08 18:01] 9prady9 commented on #43
With #50 , the wrapper is working on Windows platform as well with Rust 1.5 (currently beta, stable from Dec 10th, 2015).

[2015-12-10 22:33] 9prady9 commented on #43
3.2.0 is out today (Dec 10th, 2015).

[2015-12-10 22:33] #43 closed

[2015-12-11 17:55] alsam opened #51 "a composition of forward fft and inverse ifft operations is not identical to the original vector"
Hello,
I'm not sure is it bug or feature, so clarification would be useful, for the following:
[code]
I get the following:
[code]
That is instead of the original `[0 1 2 3]`  I get a scaled by `N` vector `[0 4 8 12]`
Just for comparison, Julia session:
[code]
Thanks!

[2015-12-11 18:10] 9prady9 commented on #51
@alsam As of now, the second parameter in those functions [`norm_factor`](http://arrayfire.github.io/arrayfire-rust/arrayfire/fn.fft.html) should be used by caller for scaling/normalizing the Arrays. Hence, the output is appearing to be like what it is now.

[2015-12-11 18:19] alsam commented on #51
Thanks @9prady9 for clarification.
No problem, it's ok to scale vectors.
Is it possible to reflect it in documentation and add examples with `convolve`, `fft_convolve`, etc. ?
Thanks!

[2015-12-11 18:23] 9prady9 opened #52 "Add code examples to fft/convovle functions documentation"

[2015-12-11 18:25] 9prady9 commented on #51
Sure, we can add examples. I have created a issue for this. You can follow the progress over [here](https://github.com/arrayfire/arrayfire-rust/issues/52).

You may close this issue if all your questions are answered.  Thank you for the feedback.

[2015-12-11 19:34] alsam commented on #51
Great, thanks!

[2015-12-12 13:09] alsam commented on #51
Closing as the question answered.
Thanks.

[2015-12-12 13:09] #51 closed

[2016-02-15 11:23] 9prady9 opened #55 "Incorrect active backend when drop is triggered causing seg faults"
Reported by @jramapuram via #54
This has to be handled upstream and corresponding upstream issue can be found [here](https://github.com/arrayfire/arrayfire/issues/1282)

[2016-02-15 18:11] jramapuram opened #56 "Graphics aliasing when plotting GPU Array"
I see this behavior consistently when using linux or OSX. It works fine if it is a CPU backed array.
![aliasing](http://i.imgur.com/QzhD2Wk.png)

[2016-02-16 02:43] 9prady9 commented on #56
@jramapuram which aliasing are you referring to here ? That white triangle looks odd in that plot! Can you please post the CPU rendering for reference.

[2016-02-16 09:03] jramapuram commented on #56
Yea, the white triangle was the aliasing I mentioned. Aliasing was just a broad term to depict this.
The issue happens on CUDA or OpenCL backends btw. [Here](https://github.com/jramapuram/hal/blob/hotfix/swapping/src/plot.rs) is the simple code to do the plotting.
Here is the same thing rendered on CPU:
![img](http://i.imgur.com/apoNP7e.png)

[2016-02-16 11:25] 9prady9 commented on #56
The axes labels and titles are missing in the GPU version which is quite frankly odd because rendering code is identical for any backend, only the process of data update changes for each backend. Even if we assume backend is some how effecting the rendering, it can only effect the plot itself not the chart related details. Were you able to reproduce this in the native library ( i mean in a C/C++ p

[2016-02-16 11:30] jramapuram commented on #56
Yea I thought the axis not being present was rather strange.
Haven't had the time to work through a C/Cpp program yet.
Will try to get to it if I have some time.

[2016-03-03 08:41] 9prady9 opened #58 "Update Rust wrapper to reflect 3.3.0 release"

[2016-03-03 22:04] jramapuram commented on #58
@9prady9 : FYI this fixes #56

[2016-03-12 11:10] #58 closed

[2016-03-24 15:11] jramapuram commented on #55
This is resolved

[2016-03-24 15:11] #55 closed

[2016-03-24 15:11] jramapuram commented on #56
Resolved with 3.3.0

[2016-03-24 15:11] #56 closed

[2016-03-24 22:31] jramapuram opened #60 "Error on OSX in OpenCL backend"
[code]

[2016-03-24 22:36] jramapuram commented on #60
(same issue with `3.3.0` , just pulled latest from devel on af mainline to make sure there wasen't a bugfix along the way)

[2016-03-24 22:55] jramapuram commented on #60
@pavanky : Is there something in the mainline that could be causing this?

[2016-03-24 22:57] pavanky commented on #60
@jramapuram can you check the C++ version and see what happens ?

[2016-03-24 23:02] jramapuram commented on #60
Yup, same issue. Changing it to use the Iris Pro though enables things to work.
Looks like an issue when using the CUDA OpenCL backend.

Some related info:
[code]

[code]

[code]

[2016-03-25 00:29] pavanky commented on #60
Did you build from source or are you using an installer?

[2016-03-25 09:58] jramapuram commented on #60
@pavanky : built from source

[2016-03-30 00:45] jramapuram opened #63 "Add variadic printf style for af::print"
Currently we have ugly `println!(".."); af::print(&arr);` syntax. It would be nice to have it in one func.

[2016-04-03 06:21] fuyingfuying opened #65 "How to config the rust wrapper using CUDA and how to modify the build.conf file to build arrayfire submodule available in the rust wrapper"
Hi, firstly, thanks for your great project. I love rust and arrayfire. I'm a newer to arrayfire. I've installed the latest official cuda 7.5 installer and the latest official  arrayfire installers( linux v3.3.1 64-bit) under my ubuntu 15.10. And I use the default configuration follow the official doc. But When I successfully build the arrayfire-rust lib and try to run the "unified" example in the

[2016-04-04 07:02] 9prady9 commented on #65
@fuyingfuying I believe @shehzan10 has already this question on forums. Just in case you haven't seen that yet.

- Your LD_LIBRARY_PATH needs to include /usr/local/cuda/lib64 and /usr/local/cuda/nvvm/lib64. You also need to add the path to the ArrayFire libraries AF_PATH/lib.
- The config variable `use_lib` in the `build.conf` file informs the rust build script to use already built binaries while

[2016-04-04 12:10] jramapuram commented on #63
Not quite what I was thinking, but should be ok. Was thinking about something like:
[code]

One other thing: would this macro handle the case when there is no text?
i.e:
[code]

[2016-04-04 12:34] 9prady9 commented on #63
Not quite, let me see what i can do to get such behavior.

[2016-04-05 12:47] fuyingfuying commented on #65
@9prady9 @shehzan10 thanks for your help, i try it and reply you later

[2016-04-05 13:06] fuyingfuying commented on #65
@9prady9 @shehzan10 thank you, I just don't add  /usr/local/cuda/lib64 to the LD_LIBRARY_PATH, now it works
![fuying fuying-kylin -rustprojs-arrayfire-rust_015](https://cloud.githubusercontent.com/assets/12774287/14282718/433ca58a-fb72-11e5-9482-b7e0007f1a69.png)
![fuying fuying-kylin -rustprojs-arrayfire-rust_016](https://cloud.githubusercontent.com/assets/12774287/14282719/433e4bec-fb72-11e5-9b5

[2016-04-05 13:08] #65 closed

[2016-04-10 13:34] DerGroncki opened #66 "Macro af_print not found"
I just installed arrayfire on windows 10 Pro and created a rust project as described but building the project failed with the message

main.rs:1:13: 1:21 error: imported macro not found [E0469]
main.rs:1 #[macro_use(af_print)]
                      ^~~~~~~~
main.rs:22:5: 22:13 error: macro undefined: 'af_print!'
main.rs:22     af_print!("Create a 5-by-3 matrix of random floats on the GPU", a);

an

[2016-04-10 14:24] DerGroncki opened #67 "Examples are not compiling"
I just installed arrayfire on windows 10 pro.

I am not able to compile any example e.g. if I compile the snow.rs example I get
main.rs:20:17: 20:20 error: too many type parameters provided: expected at most 0 parameters, found 1 parameter [E0087]
main.rs:20         randu::<f32>(dims).as_ref()

Ok I am able to fix this but when I run the example I get error: Process didn't exit successfully: (...)

[2016-04-10 14:39] 9prady9 commented on #66
@DerGroncki

Did you clone the rust-wrapper ? or Are you using the arrayfire crate from crates.io ?

- If you have cloned the repository, then it is likely that you are using devel branch code base. 3.3.0 compatible wrapper is not yet published on crates.io. So, you would have to build the arrayfire from source to use devel rust-wrapper code base.

- If you want to use crate from crates.io, please

[2016-04-10 14:39] 9prady9 commented on #67
@DerGroncki Does this problem happen in the same environment as #66 ?

[2016-04-10 14:41] DerGroncki commented on #67
Yes

[2016-04-10 14:44] DerGroncki commented on #66
As described I added arrayfire = "3.2.0" to the dependencies section of my project's Cargo.toml file. Is there anything else I have to do?

Thanks.
Michael

[2016-04-10 14:58] 9prady9 commented on #66
It is better to do `git checkout v3.2.0` instead of manually changing Cargo.toml file.

[2016-04-10 15:11] DerGroncki commented on #66
Like this:

[dependencies]
arrayfire = { git = "https://github.com/arrayfire/arrayfire-rust.git" }

[2016-04-10 15:18] 9prady9 commented on #66
As per the [documentation](http://doc.crates.io/manifest.html#the-dependencies-section) you have to specify branch if it is not master. Can you trying do that and see how it goes ?

af_print macro is only defined in current devel.

[2016-04-10 15:31] DerGroncki commented on #66
Ok, I am using

[dependencies]
arrayfire = { path = "path/to/arrayfire-rust/" }

Now I am able to compile e.g. the HelloWorld example.

But still the program is crashing:
error: Process didn't exit successfully: `target\debug\my-af.exe` (exit code: 3221225477)

[2016-04-10 15:37] 9prady9 commented on #66
which rust binary did you install, msvc or the mingw one ?

[2016-04-10 16:14] DerGroncki commented on #66
Ok, I have GNU ABI, mingw.

Thanks.

[2016-04-10 16:19] #66 closed

[2016-04-10 16:19] #67 closed

[2016-04-24 05:45] pavanky commented on #45
@arrayfire/rust-devel

I am bored and awake on a weekend, so I started reading a bunch of things (including the options mentioned here).

Here are my thoughts:

- The way arrayfire is implemented, there are very few errors you want to recover from at runtime (for example an out of memory error / backend not available etc). Most other errors should abort the program with the proper message.

- The

[2016-04-24 05:46] pavanky commented on #45
I know this is going to break the API, but better break it now than later.

[2016-04-24 06:02] pavanky commented on #45
There is also [std::panic::catch_unwind](https://doc.rust-lang.org/beta/std/panic/fn.catch_unwind.html) coming up in rust 1.9 (scheduled for May 16) which sort of emulates try/catch.

It is called [std::panic::recover](http://doc.rust-lang.org/std/panic/fn.recover.html) in it's current unstable form.

I think this makes it easier to use panics in our code.

[2016-04-24 08:00] jramapuram commented on #45
I like the `std::panic::catch_unwind` solution. I think it will probably parallel functionionality similar to arrayfire C++

[2016-04-24 09:09] pavanky commented on #45
@jramapuram `catch_unwind` just replaces `af_try!` from my code. Everything else should still be consistent

[2016-04-24 09:22] jramapuram commented on #45
@pavanky : Ah gotcha. Yea, I think the error handler function would be ideal (thus I suggested it ;p ). There are some errors that can happen for every different function though, just ran into one yesterday: i.e. double precision was not available and all the related functions threw errors.

[2016-04-25 06:20] 9prady9 commented on #45
@pavanky I have replied to what you have suggested below inline:

- The way arrayfire is implemented, there are very few errors you want to recover from at run time (for example an out of memory error / backend not available etc). Most other errors should abort the program with the proper message.

`Do not agree on this, there might be applications where given a set of inputs for a function are in

[2016-04-25 06:27] 9prady9 commented on #63
@jramapuram

When you say, you want to do
[code]
how are you expecting the format of the output would be like ?

[2016-04-25 06:30] jramapuram commented on #63
Printf style. So the array can be inserted anywhere in the formatting string. Not only after it.

[2016-04-25 06:57] 9prady9 commented on #63
What i meant is the following.

When we usually do println!("something {:?} something", 1); what gets printed is as follows

`something 1 something". However, in case of af::Arrays, it is not a single line message, we just delegate the call to arrayfire C-API print function that prints the array in multiple lines in its own format.
So my question, we can't make it look like

`something <Array prin

[2016-04-25 08:10] jramapuram commented on #63
Ah! The extra `\n` is not attractive. Sorry then, let's just leave this to the default behavior it is in right now without any additions!

[2016-04-25 08:10] #63 closed

[2016-04-25 10:24] 9prady9 commented on #60
Is there a issue on upstream regarding this ?

@jramapuram You said Iris Pro device works fine for you ? It is not working for me if i create an Array using Array::new. However, if the Array is created using functions such as randu, it is working fine - pi example.

[2016-04-25 10:49] jramapuram commented on #60
@9prady9 : Not sure, thats why I referenced @pavanky . It might be a OSX only issue. But yes, OpenCL on Iris works fine, just not CUDA

[2016-04-25 13:48] pavanky commented on #45
Again, this kind of scenario is the exception, not the norm. Which means there should be a way to handle errors, but there is no reason we force users to handle errors at every step.

That is not a good reason at all. That functionality is part of rust. We can't just ignore it because it will make it look like C++.  However this will only be used when user does not set an error handling function.

[2016-04-26 07:06] 9prady9 commented on #45
After much discussion (both internally and on github), we have decided on implementing the following changes to deal with error handling:

1.  A new function to register/set an function/closure as an application wide error handling mechanism shall be provided. The provided function/closure shall be executed when an error happens.
2. All functions/operations(overloading operators/traits) shall pani

[2016-04-26 07:08] jramapuram commented on #45
Nice! An example error handler would be appreciated :)

[2016-05-18 09:34] #38 closed

[2016-05-18 09:34] #45 closed

[2016-05-18 10:04] jramapuram opened #71 "Require Rust 1.8"
With the error handling push I started seeing errors like this:

[code]

Bumping my rust install to `1.8` solved this.

[2016-05-18 10:30] 9prady9 commented on #71
Yes i saw similar errors on build servers too. But it is just related to rust version like you found out. I have implemented new traits that were release in 1.8 Rust. Hence the problem you saw. I am checking if we can selectively enable these traits based on Rust version, do you have any idea about that ?

[2016-05-18 11:26] 9prady9 commented on #71
Looks like we can use something like this crate
https://github.com/Kimundi/rustc-version-rs

[2016-05-18 11:27] jramapuram commented on #71
This works! We can incorporate it into `build.rs`

[2016-05-18 17:52] #71 closed

[2016-05-20 15:40] 9prady9 commented on #60
@jramapuram do we have any code stub that can reproduce this error on Mac OSX ? or All examples are now running fine on our build machine now.

[2016-05-20 16:06] jramapuram commented on #60
Just tried this on latest AF devel @9prady9 . Still happening. What GPU is on your Mac build machine? My MBP has a Nvidia GT 750M running CUDA 7.5 & Apple LLVM version 7.0.2 (clang-700.1.81)

[code]

[2016-05-20 16:12] 9prady9 commented on #60
Ok, so the problem is not yet solved in upstream. Just wanted to check if latest devel solves it. I would have to check with @shehzan10 about what CUDA GPU do we have on OSX setup.

[2016-06-01 09:58] jramapuram opened #73 "Invalid Memory Reference on --release builds (only)"
**Note**: This happens only with `cargo run --release`

[code]

Stack trace:
[code]

Multiple runs cause different issues:
[code]

[2016-06-01 10:24] 9prady9 commented on #73
Preliminary debugging points to the member function `Array::get_type()` that is failing in release mode but not in debug mode.

[2016-06-07 02:49] SomeKittens opened #75 "compilation errors with sample code"
Got ArrayFile installed fine, tried to run the sample code from [here](http://arrayfire.com/rust-wrapper-for-arrayfire/).

### main.rs
[code]

### Cargo.toml
[code]

[code]

Errors from build via `cargo run`:

[code]

[2016-06-07 07:10] jramapuram commented on #75
Aftype is now DType. Its also not passed as a parameter but a generic, eg: af::randu::<f32>()

[2016-06-07 08:04] 9prady9 commented on #75
@SomeKittens The code you found is old in terms of syntax, the rust wrapper for ArrayFire has evolved in past one year. Can you please try the code illustrated in [documentation](http://arrayfire.org/arrayfire-rust/arrayfire/index.html) or in the [examples](https://github.com/arrayfire/arrayfire-rust/tree/devel/examples).

You can also find most of the details on major changes done in 3.3.0 [here]

[2016-06-07 10:55] 9prady9 commented on #73
Had first break through regarding this today.

Adding the following to `Cargo.toml` makes the program run fine.

[code]
@jramapuram So, our initial guess about something is being moved by compiler optimization might be the most probable reason behind this issue.

[2016-06-07 10:56] jramapuram commented on #73
This is definitely not a solution though. We can't be removing optimization

[2016-06-07 11:02] 9prady9 commented on #73
Of course!, this justs confirms it is optimization that is causing it. No matter what's the optimization level ([1|2|3]) it just crashes if it's not zero.

[2016-06-07 11:31] jramapuram commented on #73
I believe that we are improperly using the static assignment methods though. So in reality we are doing something incorrectly. Something the compiler is designed to optimize away is in fact being optimized away.

[2016-06-07 11:32] 9prady9 commented on #73
Most probably, and that  is what i am trying to figure out, if it is statics or the references or the combination.

[2016-06-08 02:41] SomeKittens commented on #75
@9prady9 the `match` on line 9 needs to be removed but otherwise this works.

[2016-06-08 02:50] 9prady9 commented on #75
@SomeKittens sorry, my bad. Yes, functions just return Array's now, no result object.

[2016-06-08 05:10] 9prady9 commented on #75
I have updated the referred blog post to reflect API 3.3.0 use. For anyone who sees the issue in future, [here](http://arrayfire.com/rust-wrapper-for-arrayfire/) is the link to post with updates.

[2016-06-08 05:10] #75 closed

[2016-06-08 06:01] 9prady9 commented on #73
@jramapuram Wooho! looks like fixed, problem was what i suspected initially, the function get_type was using 8-bit integer to get the type of data(enum) from FFI call `af_get_type` where was the C function was expecting output variable size to be 32 bit. Once i fixed that, the example you reported above is running fine. I will check other enums for similar issue now.

[2016-06-08 06:17] #73 closed

[2016-06-08 08:15] jramapuram commented on #73
Nice work @9prady9 ! I'm still confused why this was happening while using the static error handling stuff though!

[2016-06-08 08:25] pavanky commented on #73
Can you check if u8 is being used for enums elsewhere?

[2016-06-08 08:27] 9prady9 commented on #73
@pavanky I already changed others before publishing 3.3.1 crate.

@jramapuram May be no one used this function in release mode ever before.

We have to address similar cases as part of #37

[2016-06-12 22:09] tyrel86 opened #76 "Error with documented hellow world on Ubuntu 14.04 CUDA"
Hi, I have tried to compile your example hello world and I get
[code]

here is my main.rs
[code]
And here is my graphics details
[code]
Am I missing something or is this possibly a library issue? Thank you!

[2016-06-13 07:16] 9prady9 commented on #76
@tyrel86

The error `modprobe: ERROR: could not insert 'nvidia_352': No such device`  doesn't seem to be from ArrayFire source code. Can you run the command `nvidia-smi` and see if any devices are being listed on your machine ?

Also, the card you have mentioned, `GT 330M`, is a `1.2` cuda compute version card which is not officially supported by ArrayFire binaries that you download from our websi

[2016-06-13 12:44] pavanky commented on #76
@9prady9 arrayfire does not support 1.2 cards even if he recompiles it.

[2016-06-13 12:45] pavanky commented on #76
This is because NVIDIA deprecated compute 1.2 and 1.3 cards from CUDA 6.5.

[2016-06-13 12:49] 9prady9 commented on #76
@tyrel86 As mentioned by @pavanky , 1.2 cards are not supported at all. I shall edit my earlier comment reflecting the same.

Closing the issue now.

[2016-06-13 12:49] #76 closed

[2016-06-14 09:30] SuperFluffy opened #77 "Plans to integrate rust-ndarray?"
Do you have plans to integrate `arrayfire-rust` with [`rust-ndarray`](https://github.com/bluss/rust-ndarray)? I understand that `arrayfire` supports up to 4 dimensions, so I am not calliing for actually implementing n-dimensional arrays as requested [here](https://github.com/arrayfire/arrayfire-rust/issues/44).

I believe `ndarray` is currently the most mature library for handling arrays in Rust,

[2016-06-14 14:59] pavanky commented on #77
@SuperFluffy We welcome any contributions :) Btw I think it is simplest to have bridge functions between the two libraries rather than integrating it whole.

[2016-06-23 10:19] jramapuram opened #78 "selectl (and possibly others) return only f64 arrays"
I have an issue when using a laptop that doesn't have a card that support F64.

The current selectl is as follows:

[code]

This automatically returns an f64 array which breaks my entire pipeline. Not sure what the behavior is in af mainline.

There are a few other functions (not sure at the top of my head right now) that do the same thing and I have to hack it with something obtuse such as this:

[2016-06-23 20:09] jramapuram commented on #78
This actually works, my bad!

[2016-06-23 20:09] #78 closed

[2016-07-05 09:35] jramapuram opened #79 "Array Indexing"
Is it possible at this point to indexing arrays by implementing `IndexMut`, etc? It would be nice to do be able to do the following `a[x_index][y_index][z_index][d_index]`

Ideally it would be great to be able to have ranges inside as well [numpy style], eg:
`a[0..x_index][y_index][z_index][d_index]`

and even negative indexing to pick elements from the end:
`a[-1][y_index][z_index][d_index]`

[Re

[2016-07-05 18:59] 9prady9 commented on #79
Being able to do such terse indexing would be a good addition. Yes, i have heard that dynamic types are in, but i am not aware of all of the details. Will have to look into them.

[2016-07-29 08:24] 9prady9 opened #80 "Build issue with rustc 1.10.0"
Facing the following compile error on rustc 1.10.0 which didn't happen on earlier version. We are currently looking into it.

[code]

[2016-07-29 13:58] 9prady9 commented on #80
Fixed with 5e16c77409ec4cebb28bb7d2f5cf833c40e00f7b

[2016-07-29 13:58] #80 closed

[2016-07-30 10:02] 9prady9 commented on #79
@jramapuram I was thinking about how to implement this using the c++ version of ArrayFire as baseline. What i have noticed is that c++ API in ArrayFire heavily uses assignment operator overload and we have no control of assignment operator in Rust, please correct me if i am wrong in this observation. So, i am wondering how crucial is this for implementing indexing in above fashion.

[2016-07-30 12:37] jramapuram commented on #79
@9prady9 : Isn't assignment simply `Copy` or `Clone` in rust? We have an impl of `Clone`. However, not sure if I understand how this is related. Wouldn't it just be implementing the `IndexMut` operations? Inside that it would be calls to `af::index` or one of the other indexing functions in `index.rs`

[2016-07-30 17:43] 9prady9 commented on #79
True, i forgot about `clone` trait (`copy` is not available if `drop` is implemented - unless this changed recently).

ArrayFire's C++ wrapper uses proxy pattern for indexing efficiently. You can have a peek at the following sections of code to understand how it is being done in that wrapper.

* [proxy class declaration](https://github.com/arrayfire/arrayfire/blob/devel/include/af/array.h#L47)
* [

[2016-08-08 01:14] jramapuram commented on #77
No sure I would say ndarray is the leader. Looks like nalgebra is it: https://crates.io/keywords/matrix?sort=downloads

In either case I think a better solution would be to be able to use arrayfire for both CPU & GPU.

[2016-08-08 16:35] bluss commented on #77
ndarray and nalgebra are only slightly overlapping. nalgebra is good for 2d matrices and linear algebra with focus on small matrices. ndarray handles n-dimensional arrays but almost no linear algebra.

ndarray being built mainly for in-memory usage might be hard to integrate seamlessly with arrayfire?

[2016-09-01 14:54] 9prady9 opened #82 "Add more examples"

[2016-09-05 07:54] zhaihj opened #83 "Incorrect output of `print` and `af_print` under osx/opencl"
In my mac pro (with ati radoen hd 5770), both `print` function and `af_print` macro prints incorrect values.

code:

[code]

Output: (expect random values between [0,1], got nan.)

[code]

[2016-09-05 08:01] zhaihj commented on #83
Of course, CPU backend works.

[code]

[2016-09-05 08:18] 9prady9 commented on #83
@zhaihj We look into it and update here as soon as we can.

[2016-09-06 06:22] 9prady9 commented on #83
@zhaihj Can you please tell us if you are using arrayfire by building from source or via installer.

We don't test ArrayFire on OpenCL 1.0 version on any of our build or development machines and i believe ArrayFire expects a minimum of OpenCL 1.1. @pavanky / @shehzan10 Can you please confirm if what i said about OpenCL version requirement is correct.

The GPU in discussion is about 7 years old and

[2016-09-06 08:45] zhaihj commented on #83
I installed arrayfire through `homebrew`:

[code]

I'm not familiar with OpenCL, but the following code says that my machine supports OpenCL1.2.
(and apple also says that it support opencl 1.2 (https://support.apple.com/en-us/HT202823)

[code]

[2016-09-06 12:17] 9prady9 commented on #83
@zhaihj Can you please check if you can reproduce the problem in ArrayFire C++ examples. You can compile a simple code stub such as follows using arrayfire c++ library and run it.

[code]
compile command
[code]
This shall use the unified api library libaf.dylib which should automatically pick up opencl backend since that is your available compute backend (make sure `$AF_PATH/lib` is added your `LD

[2016-09-06 13:44] zhaihj commented on #83
It seems that the c++ version works well:

C++ version:
[code]

I tried rust version again with `cargo run --release` in the same session, this time it gives strange numbers instead of nans:

Rust version(release):
[code]

[2016-09-06 15:42] 9prady9 commented on #83
Thank you, that at least narrows it down to rust wrapper. I will investigate if there are any potential pitfalls in rust wrapper while copying data to the host side vector.

[2016-09-14 02:56] 9prady9 commented on #82
Duplicate of #52

[2016-09-14 02:56] #82 closed

[2016-09-14 03:05] 9prady9 commented on #83
As it happens, `af_print` macro just wraps `arrafire::print` function which in turn just calls the ArrayFire native function `af_print_array` (FFI call). So there isn't rust related code in this portion other than sugar syntax for print function.

May be you can do the following
[code]
and see if the Array native handles are valid.

Unfortunately, we don't have this card in-house and we are not ab

[2016-09-14 03:06] 9prady9 commented on #60
@jramapuram Can you please check if this is resolved on latest devel or `3.4.0` release (ArrayFire not rust wrapper).

[2016-09-14 05:03] 9prady9 commented on #77
@SuperFluffy  @bluss

Easiest and simple way would be to write bridge functions between arrayfire-rust and ndarray as @pavanky mentioned. Also, ArrayFire has many linear algebra routines which may be a `superset` of the routines provided in `ndarray`. So, as of now we don't have any plans to integrate ndarray into this project.

[2016-09-14 05:03] #77 closed

[2016-09-14 11:57] jramapuram commented on #60
Same issue @9prady9

[code]

[2016-09-20 16:57] jamcar23 opened #86 "0 backends in Rust"
Hey everyone,

I'm on OSX 10.10 and I built and installed ArrayFire C++ with the CPU and OpenCL backend. I've ran the C++ tests (everything passed), ran the basic_unified.cpp example from /tmp, and used this in other C++ projects so I know the C++ version works.

I downloaded the AF Rust repo, initiated the submodules, compiled the project without issues, and set the `AF_PATH`. However when I run

[2016-09-21 03:52] 9prady9 commented on #86
Can you please check the value of `LD_LIBRARY_PATH` and `DYLD_LIBRARY_PATH`, it should contain `$AF_PTH/lib`. Usually, 0 backends are found when any of dependency libraries is not available to load during the program run time.

Can you also paste the output of the following command here.
`cargo run --example unified --verbose`

[2016-09-22 17:29] jamcar23 commented on #86
The output looks like this:

[code]

The paths are set correctly in ```LD_LIBRARY_PATH``` and ```DYLD_LIBRARY_PATH```. Do I need  I need to link them in cargo?

[2016-09-27 05:58] 9prady9 commented on #86
I can't think of a reason why C++ version of the example is working fine and the wrapper is not. The reason i say that is, unified API dynamically loads all the individual backend libraries of arrayfire and then calls the apparopriate backend function at run time. So, if unified API (`libaf.dylib`) is able to find all backends, then the rust wrapper shouldn't find any problem in doing the same.

I

[2016-09-27 06:13] 9prady9 commented on #86
@jamcar23 On a unrelated topic, we have an issue reported for OSX [here](https://github.com/arrayfire/arrayfire-rust/issues/60) that says can't even run example for OpenCL backend for discrete GPU card. Can you please tell what devices does the OpenCL backend report for you in C++ example and does the example run for all reported devices ?

Thanks!

[2016-09-27 06:20] 9prady9 commented on #83
@zhaihj Did you get a chance to try out the above single line snippet ?

You may also change the data generator function to see if `randu` is the culprit. You can try the following instead of randu.
[code]

[2016-09-27 13:43] jamcar23 commented on #86
@9prady9 I just ran the helloworld.cpp example with OpenCL on an integrated Intel Iris Pro and got this:

[code]

[2016-09-27 13:50] 9prady9 commented on #86
@jamcar23 thanks.

[2016-10-11 12:12] polarathene opened #87 "linking with `cc` failed: exit code: 1"
[code]

I've tried the example and used my package manager(Arch Linux) which is officially supported by the lead dev? I've tried both the 3.3(Manjaro package is slightly behind) and the AUR git package with cargo dependencies 3.3(different error but fails, presumably need to use an older version of Rust) and 3.4 which gives me this error when using `randu`.

Not sure if I needed to do this but ech

[2016-10-11 12:57] polarathene commented on #87
Seems to have been a cache issue from the first time I tried to build, deleting the target folder and building again had no problems.

[2016-10-11 12:57] #87 closed

[2016-10-11 13:06] polarathene commented on #66
Is the macro not available in the 3.4 crate? Just ran into the same problem, using the downloaded linux 3.4 binaries from the ArrayFire site.

[2016-10-11 13:21] 9prady9 commented on #66
Sorry about that, but the macro was not removed.

Can you please post the code that can help us reproduce the problem.

On Tue, Oct 11, 2016, 6:36 PM Brennan Kinney <notifications@github.com>
wrote:

[2016-10-11 13:22] 9prady9 commented on #66
Also, please let us know on which OS is this happening.

Thank you.

On Tue, Oct 11, 2016, 6:51 PM Pradeep Garigipati <pradeep@arrayfire.com>
wrote:

[2016-10-11 13:29] polarathene commented on #66
@9prady9 Using the sample code you have [here](https://github.com/arrayfire/arrayfire-rust/issues/75#issuecomment-224208911)

[code]

OS is Manjaro(Arch Linux 64-bit), @pavanky maintains the packages. I had some problems at first building and ended up downloading the binaries from the ArrayFire site updating my env vars and running cargo build again. I can compile without `af_print` but it seems a

[2016-10-11 13:33] 9prady9 commented on #66
In rust, to use a macro exported by a crate you have to do the following.
[code]

Please retry again with the above declaration in your source code.

On Tue, Oct 11, 2016, 6:59 PM Brennan Kinney <notifications@github.com>
wrote:

[2016-10-11 13:38] polarathene commented on #66
@9prady9 That lets it compile thanks. But still no output like other outputs I see posted here and in examples of the array.

[code]

[2016-10-11 13:54] 9prady9 commented on #66
Can you try the same example in a C++ program and check if this is specific
to that device?

Another thing you can try is, create a constant array and then print it.
That should tell us if this related to arrays created using rand

On Tue, Oct 11, 2016, 7:08 PM Brennan Kinney <notifications@github.com>
wrote:

[2016-10-11 14:31] polarathene commented on #66
@9prady9 Tried with the Array example, only output I receive is "1":

Rust 1.12(Stable)
[code]

Tried building the C++ examples but the build failed:

[code]

[2016-10-11 15:44] 9prady9 commented on #66
Please set `AF_DISABLE_GRAPHICS` environment variable to 1 to skip building graphics related builds since we don't need that for now.

[2016-10-11 22:29] polarathene commented on #66
@9prady9

`export AF_DISABLE_GRAPHICS=1`? Ran cmake and make again but still got the same output with errors. Not sure what I'm doing wrong.

[2016-10-12 14:01] 9prady9 commented on #66
@polarathene That should have skipped building graphics related source code. Can you try removing `forge` directory that is located at `third_party` under your build directory and try building arrayfire again ? Your build setup seems to be using old version of forge(arrayfire build setup has an external project build for forge).

[2016-10-12 15:52] polarathene commented on #66
@9prady9 I had installed the 3.3 package at first via package manager, then the git version from AUR. Although I had set environment variables to point to the downloaded binaries it seems it was still preferring the git package I still had installed, after removing that I got some error about CMake not being able to find `ArrayFireConfig.cmake`, I know where that file is.

I do not have a `third_p

[2016-10-17 12:04] polarathene commented on #66
@9prady9 Rebooted system with no arrayfire package installed anymore, `$AF_PATH` pointed to the downloaded lib from the ArrayFire site(forge removed), did a fresh build `cargo clean && cargo run` of the example code and everything compiles fine with correct output :)

Thanks for the help, I can finally dig into AF now!

[2016-10-17 21:35] Timmmm opened #88 "Link errors on Windows"
I believe I have set all the environment variables correctly, and I'm using the msvc version of Rust, but I get the following error when building an example. Any ideas?

[code]

[2016-10-18 01:40] 9prady9 commented on #88
@Timmmm Please check and confirm if the right version of ArrayFire is being found by rust wrapper.

Note: Rust wrapper tries to find the ArrayFire libraries located in the windows path `%AF_PATH%/lib`.

[2016-10-18 01:43] 9prady9 commented on #83
@zhaihj Are you still facing this issue ?

[2016-10-18 02:46] zhaihj commented on #83
Recently I'm mainly working on another PC.
I will try the new version of arrayfire on mac pro if got time.

[2016-10-18 03:13] polarathene commented on #52
Could an example(s) be added for those new to programming for GPU's? I've done a bit of OpenCL logic for adding an algorithm to the Hashcat project, but there was more freedom compared to how ArrayFire seems to restrict you to working with arrays?

[code]

Really simple code, take a string key as bytes and XOR them + multiply hash by a fixed value iteratively. With a large set of keys, how do you

[2016-10-18 03:56] polarathene commented on #13
Could you clarify about GFOR? Does Rust already handle the optimization by default or does it miss out on this performance gain? If latter can a Rust macro be added?

[2016-10-18 04:10] 9prady9 commented on #13
@polarathene GFOR is just syntactic sugar for batch operations in ArrayFire. All batch operations that can be done at C++ level using GFOR can be done in our C-API, which is what the rust wrapper wraps up without excluding any applicable capabilities. So, the answer to you question - no you are not missing out on any performance using rust wrapper. You can still do all the batch operations over he

[2016-10-18 04:25] polarathene commented on #13
@9prady9 In [this C++ example](http://arrayfire.org/docs/getting_started_2vectorize_8cpp-example.htm), GFOR is shown as an improvement. [This 2013 blog article](http://blog.accelereyes.com/blog/2013/03/04/arrayfire-examples-part-1-of-8-getting-started/) also mentions it giving a 3.1x perf improvement.

What happens on the Rust end instead if I were to write a similar loop? Do I instead call method

[2016-10-18 04:55] 9prady9 commented on #13
The post you are referring to is written earlier to open sourcing ArrayFire library. A lot of changes has happened internally and it wouldn't be apt to compare the results posted on that post with current code base.

Many functions handle batch operations automatically when it is applicable. Example of such functions are convolve and other image processing functions. In certain cases, the user has

[2016-10-18 09:07] Timmmm commented on #88
Ah I realised it was because I was using the `stable-i686-pc-windows-msvc` toolchain instead of `stable-x86_64-pc-windows-msvc`.

Might be worth adding a troubleshooting section to the readme - another error I got when I first tried was  the program returning with exit code 3221225477, which was because I was using the gcc toolchain.

I wonder if you can make it not compile unless it is `x86_64-ms

[2016-10-18 09:07] #88 closed

[2016-10-18 09:27] jramapuram commented on #13
Just to clarify also: most of the methods accept a "batch" flag. eg:

[code]

[2016-10-18 10:59] Timmmm opened #89 "Implement Neg overloaded operator for Array"
Array should implement the [unary negative operator](https://doc.rust-lang.org/std/ops/trait.Neg.html). It is [implemented in C++](https://github.com/arrayfire/arrayfire/blob/2528d711f371b18c0f51d5f545737d5c62ea284f/src/api/cpp/array.cpp#L928) by making a zero array of the same size and subtracting them. I guess something like this:

[code]

Sorry I am new to Rust so that is probably all wrong. Al

[2016-10-18 11:13] polarathene commented on #52
I've had a try at porting the simple algorithm, wasn't too difficult with the one fixed key. Tried to add some dynamic strings and ran into memory issues somewhere between 625 and 3125 elements spread over 5 arrays. Code and discussion can be found on [this Rust reddit post](https://www.reddit.com/r/rust/comments/5836mf/working_with_arrayfire_and_large_arrays/).

Any tips on what I'm doing wrong a

[2016-10-18 14:19] 9prady9 commented on #52
I think the variable `hashes` of type Array is incorrect. You are passing
in a slice of one value and passing in dims which seems to be a vector.

On Tue, Oct 18, 2016, 4:44 PM Brennan Kinney <notifications@github.com>
wrote:

[2016-10-18 14:20] 9prady9 commented on #52
A small clarification, I was referring to the variable hashes from the code
stub you posted on Reddit.

On Tue, Oct 18, 2016, 7:48 PM Pradeep Garigipati <pradeep@arrayfire.com>
wrote:

[2016-10-18 21:11] polarathene commented on #52
[code]

From what I've read, I thought I could not pass vectors in and only Arrays/slices? dims is defined like any other example, I am referencing the length of a vector to fit in the length of each vectors `as_slice()` method.

Good catch :) I actually meant to populate the entire array with that value, forgot to update it. Bit odd that it was happy to take 625 length slices everywhere else and

[2016-10-19 09:14] 9prady9 commented on #52
@polarathene My bad, what i meant was that the dims seems to indicate that the data is of vector shape (not a vector type of rust) - I have corrected earlier message to reflect this.

The data pointed by the slices is being forwarded to C-API as a pointer. So if you say the dims are of so and so length but actually pass in a slice that has single element, It is going to cause a segmentation fault.

[2016-10-19 09:44] polarathene commented on #52
@9prady9 Is the approach with an array for each character in the string correct? or should I be doing that all in one array somehow?

The string data is just bytes/numbers, I should be able to iterate through those values with some loops assuming I can tell AF to do so with a Rust loop?

How to handle the hash comparison? After calculations I'd want to compare all the calculated values against ano

[2016-10-21 09:58] 9prady9 commented on #52
Having a single character for one array is probably not an efficient way to do it. I would think of a way to handle bunch of chars in one single array.

I didn't understand your confusion about loops. ArrayFire runs computation on GPUs which work on data in parallel, there by avoiding the need to iterate in loops. May be if you show a small code that illustrates what you are trying to explain, i c

[2016-10-21 10:55] polarathene commented on #52
I might not have been clear with what I'm trying to communicate. I'm exhausting the keyspace of a given charset(in the example code posted on reddit link, `a, b, c, d` was used due to the memory issue I was having, I'd intend to use much larger such as `a-z, 0-9` which is 36 characters total. 2ndly the example gave a length of 5 character strings/permutations. 4^5 is 1024, 36^5 is over 60 million

[2016-10-22 00:41] jramapuram commented on #86
@jamcar23 : opencl blows up when using the nvidia card. Do you have a mac with an ATI card?

[2016-10-22 01:01] jramapuram commented on #79
How about a slicing macro like this? http://bluss.github.io/rust-ndarray/master/ndarray/macro.s.html

[2016-10-22 12:00] Timmmm commented on #79
Maybe I'm missing something, but is there *any* way to set a single element at the moment? I couldn't find a `set_element()` function or anything like that...

[2016-10-22 12:07] 9prady9 commented on #79
@Timmmm You should be using either [assign_gen](http://arrayfire.org/arrayfire-rust/arrayfire/fn.assign_gen.html) or [assign_seq](http://arrayfire.org/arrayfire-rust/arrayfire/fn.assign_seq.html) depending on your use case.

But ideally, such writes are only good in performance if you are writing considerable number of elements. Writing single elements is very inefficient in terms of data transfer

[2016-10-22 12:08] 9prady9 commented on #79
@jramapuram Are macros allowed on left hand side of equal operator in rust ?

[2016-12-13 14:18] Giels opened #93 "Creating arrays similar to other arrays"
The current rust interface to arrayfire uses stricter type enforcement than the underlying C interface, which is good for safety but also prevents using e.g. `arrayfire::constant` to create an array of the same type as another array, because

1- `ConstGenerator` is private
2- `get_type` can't return a type (so it returns a `DType`)
3- There is no way to use a `DType` instead of a type on which `Ha

[2016-12-15 03:52] 9prady9 commented on #93
@Giels Alternative (2) makes sense, however (1) doesn't to me. Can you please elaborate on how implementing `HasAfEnum` for `DType` is going to help this use case.

[2016-12-15 07:11] 9prady9 commented on #93
@Giels I have created a function `constant_like` that does what you requested. Please follow https://github.com/arrayfire/arrayfire-rust/pull/94 to track it's progress into the crate.

[2016-12-15 07:12] 9prady9 commented on #89
This has been fixed in https://github.com/arrayfire/arrayfire-rust/pull/94

@Timmmm Can you please elaborate on what you want to know about copying/cloning w.r.t ArrayFire.

[2016-12-17 04:33] Giels commented on #93
My idea for alternative (1) was ill-thought, and as you say it doesn't make sense, ultimately.
The `constant_like` is a good solution. Thanks.

[2016-12-18 05:16] 9prady9 commented on #86
Closing the issue in favour of #60 which is the root cause of the problem. Please follow the progress in that issue.

[2016-12-18 05:16] #86 closed

[2016-12-18 05:17] 9prady9 commented on #83
@zhaihj If this is not an issue anymore, kindly close the issue.

[2016-12-18 10:20] #83 closed

[2016-12-19 07:32] 9prady9 commented on #79
@jramapuram I have looked into the possible ways of doing this. I don't think we can implement traits `Index` and `IndexMut` the way we want because the `Clone` is an explicit operation and the code would like below

[code]
We are limited by the fact that Copy can't be implemented for a struct has Drop, because it is a wrapper object managing backend resource.

If you can think of any other altern

[2017-01-04 05:14] jaredonline opened #95 "Getting `Invalid Kernel when calling clEnqueueNDRangeKernel`"
Hey there!

I'm getting an error when trying to do a custom implementation of a Neural Network (for fun). My code runs fine with the `CPU` backend (slowly, but fine), but in the `CUDA` and `OPENCL` backends, it crashes with the following: (actually, on `OPENCL` shows this, `CUDA` doesn't print anything but I assume its the same issue)

[code]

Happy to provide a Rust stacktrace and the code if it'

[2017-01-04 05:39] pavanky commented on #95
@jaredonline can you install arrayfire 3.4.2 libraries (no need to update rust) and try again ? There were a few issues that i fixed in 3.4.2 that may be related to what you are seeing.

[2017-01-04 06:02] jaredonline commented on #95
Heya @pavanky thanks for the quick response. Pardon my ignorance, but what's the easiest way to do that?

[2017-01-04 06:21] pavanky commented on #95
@jaredonline http://ci.arrayfire.org/userContent/Linux/ArrayFire-v3.4.2_Linux_x86_64.sh

[2017-01-04 14:26] jaredonline commented on #95
Hey @pavanky, I misspoke earlier. I am using 3.4.2, here's the output from the `info()` function (original issue edited to reflect that):

[code]

[2017-01-10 16:36] 9prady9 commented on #60
@jramapuram Can you please check if this is still an issue with latest CUDA and ArrayFire 3.4.2.

[2017-01-10 16:37] #89 closed

[2017-01-10 16:37] #93 closed

[2017-01-11 15:22] Timmmm commented on #89
Like, does cloning an array create a new reference to the same underlying data (shallow copy), or does it make a new array and copy the data across. I assume the latter since that's how it normally works but it might be nice to be explicit for newbies like me.

[2017-01-11 16:13] 9prady9 commented on #89
@Timmmm `Array.clone()` is a shallow copy and it is mentioned in the documentation of [Array](http://arrayfire.org/arrayfire-rust/arrayfire/struct.Array.html) structure in the `Traits implementations` section.

[2017-01-11 23:59] shusson opened #97 "Can't run project with `cargo run` on OSX"
Platform: macOS 10.12.2
Cargo: cargo 0.15.0-nightly (298a012 2016-12-20)
Rust: rustc 1.14.0 (e8a012324 2016-12-16)

I've set up a rust project using crates but I'm getting no backends if I use `cargo run`, if I run the executable directly from the shell, I get expected results.

[code]

I've added a stackoverflow question with similar info  http://stackoverflow.com/questions/41602744/how-to-config

[2017-01-12 00:09] pavanky commented on #97
Are the arrayfire examples running fine ?

[2017-01-12 00:14] shusson commented on #97
not with `cargo run`

[code]

[2017-01-12 00:21] pavanky commented on #97
@shusson I mean the C++ examples. Do they work ?

[2017-01-12 00:24] shusson commented on #97
oh yes they do, and if I build the arrayfire-rust examples and then run them directly they work as well

[code]

[2017-01-12 00:27] pavanky commented on #97
@9prady9 Does the rust wrapper depend on the full version (i.e. `libaf.so.3.4.0` as opposed to `libaf.so.3` ?)

[2017-01-12 01:13] 9prady9 commented on #97
@pavanky no, we don't use version specific symbols.

@shusson I am looking into the problem. What did you mean they run fine
from shell directly? Is the rust example executable running from shell but
not if do "Cargo run"?

On Thu, Jan 12, 2017, 5:57 AM Pavan Yalamanchili <notifications@github.com>
wrote:

[2017-01-12 01:17] shusson commented on #97
As in if I build an example with `cargo build --example unified` and then execute the program with my shell `./target/debug/examples/unified` everything works as expected. But if I try 'cargo run' no backends are found. My previous comments have examples.

[2017-01-12 02:50] 9prady9 commented on #97
@shusson What is the output of `cargo run --example helloworld` instead of the unified example, does it also have the same problem ?

[2017-01-12 02:51] shusson commented on #97
all the other examples I've tried segfault

[2017-01-12 03:00] 9prady9 commented on #97
@shusson Unfortunately i am unable to reproduce this problem on my end. @jramapuram Can you please check if you can reproduce this issue on OSX.

[2017-01-12 04:02] pavanky commented on #97
@mlloreda can you have a look too ?

@shusson It'll be helpful if you can update the original description with info about rust, rust-cargo  versions.

[2017-01-12 04:07] shusson commented on #97
sure, I've updated the original description with versions and example output

[2017-01-19 01:15] jramapuram commented on #97
@9prady9 : Been using Linux mostly now. Just download the binaries from [here](http://arrayfire.s3.amazonaws.com/index.html#!/3.4.1%2F) and tested on OSX and am seeing this issue too. Will try on a compiled version and report back.

[2017-01-19 04:52] 9prady9 commented on #97
The compiled version should at least work, i hope so, because our build system for OSX didn't fail while compiling or running tests.

[2017-01-25 02:36] jramapuram commented on #97
This is very strange... It works fine when I run the example standalone, but not with cargo [both debug and release builds]. Issue is OSX only as far a I can tell.

I tried this with both the manually built version as well as the one I downloaded:

[code]

Here is the backtrace:
[code]

[code]

[2017-01-25 04:27] 9prady9 commented on #97
perhaps it is related to cargo on OSX ?

[2017-01-25 09:46] cathalgarvey opened #98 "Typed Arrays?"
Hi folks,

Thanks for such an awesome official binding, this has opened up a lot of possibilities for Rust and Machine Learning experimentation for me, on my AMD card.

One head-scratching thing for me though, is why Arrays aren't typed in the Rust API? The Arrays are constructed with a typed slice/array, so the information is there at compile time. And, there are methods to get type, so type is c

[2017-01-25 11:56] 9prady9 commented on #97
@jramapuram Can you try `gdb --args cargo run --example helloworld` ?

[2017-01-25 11:57] 9prady9 commented on #97
I wonder if the error handler is the culprit !?

[2017-01-25 12:00] jramapuram commented on #97
There is no gdb on OSX as it uses clang & thus lldb.
[code]

[2017-01-25 12:02] 9prady9 commented on #97
I never used lldb, any idea why we can't see proper `bt` ?

[2017-01-25 20:15] shepmaster commented on #97
In that last case, cargo has forked the actual process, which failed. You need to attach to the forked process to catch the error there.

[2017-01-26 13:02] 9prady9 commented on #98
Thank you for your kind words.

Not sure, how an Array generic over type `T` would help in situation as above ? Can you please show some how the rotl code might look like if Array is typed.

It is true that the type information is stored, but not at rust level. Rust `Array` is resource managing wrapper for `af_array` (C handle).

[2017-01-30 06:18] 9prady9 commented on #95
@jaredonline What do you think will be the easiest way for us to reproduce the problem on our end ? Can you share your project via github ?

[2017-01-30 06:27] 9prady9 commented on #79
Closing the issue for now, please reopen if there is a work around to above mentioned restrictions.

[2017-01-30 06:27] #79 closed

[2017-02-01 10:02] cathalgarvey commented on #98
Perhaps some broken code would help more, here.

I've tried to re-do [this blog post](https://iamtrask.github.io/2015/07/12/basic-python-network/) in Rust using ArrayFire, as a learning exercise.

I keep getting segfaults or obscure bugs, some examples listed below, which hint at type unsafety in the Rust bindings.

My code looks like this:

[code]

The above will compile, but crash at runtime, if

[2017-02-01 13:40] 9prady9 commented on #98
@cathalgarvey Thanks for the example code and feedback, i will look into it.

As far as the run time crash goes, in the cases such as mismatched error types, arguments etc. they are panics reported by the callee function.

We chose to follow non-rusty (not return Result objects) way to handle errors due to various reasons. You can handle these panics using [panic::catch_unwind](https://doc.rust-la

[2017-02-02 12:24] cathalgarvey commented on #98
Ok: I would love to understand what reasons were to avoid idiomatic error management?

Also, I'd really appreciatiate a pointer on using `arrayfire::dot`, if you have a moment.. :)

On 1 February 2017 13:40:50 GMT+00:00, pradeep <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-02-02 13:44] 9prady9 commented on #98
Target applications of ArrayFire library largely revolve around mathematical equations and/or expressions that can be complex such as the ones in [shallow water equation](https://github.com/arrayfire/arrayfire/blob/devel/examples/pde/swe.cpp) example on github. Expressing such code in rust using idiomatic error management makes it cumbersome for the developer to handle Result objects at end of eve

[2017-02-02 14:31] cathalgarvey commented on #98
Thanks for the pointers on the mismatched types, that was an obvious error in the code. It would be very helpful if the error messages in Arrayfire helped to point out these issues when they occur. Unfortunately, I'm still getting *exactly* the same crash, even though everything is now `f32`, and the error messages still don't help. :/

For error management: right now, Arrayfire offers terse synta

[2017-02-02 14:45] cathalgarvey opened #99 "Problems with `dot` function"
I'll break this issue out of the #98 discussion..

I've reduced the problem-code down to the below. It looks like the `dot` function crashes on multidimensional data?

# Works

[code]

# Runtime Crash

[code]

[2017-02-02 16:07] pavanky commented on #99
@cathalgarvey What is a runtime crash ? Is it showing anything ? Because right now 2D arrays are not supported with dot. You should look at `matmul` which performs matrix multiplication and is what you need.

[2017-02-02 16:30] pavanky commented on #99
@cathalgarvey Since there is no reasonable way to handle errors in rust (other than forcing the users to check for errors at each function call), the decision was made to panic when you send in the wrong arguments. Recent versions of rust have enabled functionality to recover from panics: https://doc.rust-lang.org/std/panic/fn.catch_unwind.html

If you look at the error messages being printed befo

[2017-02-02 16:30] #99 closed

[2017-02-09 04:11] AtheMathmo opened #100 "Cannot find CPU backend on Ubuntu"
Hey!

I'm sure this is something stupid on my part but I can't seem to get the CPU backend working. I'm running my own crate on Ubuntu 14.04 with the arrayfire crate linked in my Cargo.toml. I followed the steps in the README and have checked that `ld` is finding the libraries correctly - but still when I try to run a test I get segfaults and cannot find any backends.

The code I'm trying to run i

[2017-02-09 06:45] pavanky commented on #100
@AtheMathmo can you try some C++ examples and see if they run fine?

[2017-02-09 14:21] AtheMathmo commented on #100
I had to install glfw3 to compile the C++ example but sadly this hasn't resolved my rust issues. Also worth noting is that I had to specify the `ArrayFire_DIR` when using cmake (`cmake -DArrayFire_DIR=/usr/local/arrayfire-3/ArrayFire/share/ArrayFire/cmake ..`).

And here is the output when I ran the executables from the unified examples.

[code]

And the `basic_cpu` is more mysterious

[code]

Jus

[2017-02-09 14:24] AtheMathmo commented on #100
It looks like the error on both the Rust and C++ side was glfw. Once I ran `ldconfig` it could successfully pick up glfw library and the CPU backend works.

I have another less severe issue which is that it recognizes an OpenCL backend but gets an `Unknown OpenCL Error` when trying to use it. I imagine this is an issue with my environment though.

I'll close this issue now.

[2017-02-09 14:24] #100 closed

[2017-02-09 15:21] AtheMathmo commented on #98
I also wanted to chime in here and say that typed Arrays would be valuable to me too. Here is an example:

[code]

Instead of matching on the Array type I'd prefer to do something like:

[code]

This way the compiler also helps me to remove the panic case above. This should also help to enforce type compatibility at compile time in the wrapper functions.

-------

I think the current error handlin

[2017-02-09 19:48] cathalgarvey commented on #98
Hey James, it's offtopic.. but will your machine learning code be open? I'd love to learn from it and perhaps use it. I'm sitting on a nice big AMD GPU that I want to use for Deep Learning, but the big frameworks are all lagging behind..

On 9 February 2017 15:21:24 GMT+00:00, James Lucas <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-02-09 22:39] AtheMathmo commented on #98
@cathalgarvey - yes, it is open source. The project is still very much in its infancy but you can [check it out](https://github.com/AtheMathmo/rugrads). Right now you can automatically differentiate some elementwise operations - I'm going to try and get R<sup>n</sup>->R functions (like loss functions) working soon.

Feel free to open an issue on the repo if you want to discuss it any further :)

[2017-02-10 01:45] botev opened #101 "Problem compiling simple example"
I have set up `AF_PATH=/opt/common/arrayfire-3` which is the install directory.
However, trying to run the simple example from the repository I get:
[code]
I think something is failing on the linking, but I can not say what and I'm not sure what needs changing in Rust.

[2017-02-10 04:59] 9prady9 commented on #101
Did you do `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$AF_PATH/lib` ?

[2017-02-10 11:58] botev commented on #101
Yes that is exported in the standard environment as I'm using Arrayfire on my C++ projects, where it works fine.

[2017-02-10 12:09] 9prady9 commented on #101
I haven't been able to reproduce this on my end using rust's stable channel. Can you clone arrayfire-rust from github and see if you can run any examples after setting the PATHSs ?

[2017-02-10 14:50] botev commented on #101
Ok, so it was my mistake all along. Since I'm working on like 4 clusters and 3 machines on my laptop apparently the correct path was `/opt/arrayfire-3` without the `common`, so doing this correctly fixed it.
I guess for anyone encountering this double check the `AF_PATH` variable.

[2017-02-10 14:51] 9prady9 commented on #101
Closing the issue in that case.

[2017-02-10 14:51] #101 closed

[2017-02-11 14:52] botev commented on #101
So something else weird is happening. So if from the example I comment out all of the printing I got an exit status `1`. E.g. the program:
[code]
Produces exit status `1`. If we add at the end the line
[code]
It works fine. Is this something that can be avoided, for instance when I just want to fetch and display the information about arrayfire without printing any matrices.

[2017-02-12 05:20] 9prady9 commented on #101
@botev Unfortunately, i am unable replicate the problem you are experiencing. Can you please show me the output of `af::info` call.

[2017-02-12 11:42] botev commented on #101
Hmm that is very weird, I will try this on a second machine tomorrow as well. So when I have the print statement the output looks like:
[code]

[2017-02-12 21:46] botev commented on #101
I've tried it on a separate machine and that does not happen. Would you by any chance have any idea of how to debug this (or anything worth looking into)? I will also post this on the rust general forum if anyone has any idea.

I'm running this on a lenovo laptop with ubuntu:
Linux botev-ThinkPad-T440 3.19.0-25-generic #26~14.04.1-Ubuntu SMP Fri Jul 24 21:16:20 UTC 2015 x86_64 x86_64 x86_64 GNU/Li

[2017-02-13 00:30] botev commented on #101
I've ran `valgrind --tool=memcheck --leak-check=full --leak-check=full --show-leak-kinds=all --track-origins=yes` on the whole program and got this back:
[code]
The full output of valgrind is here: http://www.filedropper.com/check_2.

I've repeated this with the CPU backend and that works fine. This probably concludes that the OpenCL I've downloaded and installed from Intel is what is causing the

[2017-02-13 06:43] 9prady9 commented on #101
I am afraid there isn't much we can do on the user program or library side if the problem is stemming from the Intel driver. You can try an older version of driver and see if that changes any thing.

[2017-02-13 06:46] pavanky commented on #101
@botev There are two versions of intel-opencl installed on the system. This may be the root cause of the issue. A library in 1.2-6.3 is picking a library frm 1.2-5.0. Try deleting 1.2-5 and see if it works.

[2017-02-13 09:24] botev commented on #101
@pavanky Good catch that fixed it all.

[2017-02-15 00:34] AtheMathmo opened #103 "Implement arithmetic ops for &Array vs &Array"
Is there any reason why arithmetic overloading only exists for `Array`-`Array`? Given that the `arrayfire::add/sub/mul` functions all take `&Array` arguments it seems like it is worth having the extra syntactic sugar.

Just to be clear, I mean implementations like this:

[code]

Internally these would just call `arrayfire::add`.

[2017-02-15 11:49] 9prady9 commented on #103
@AtheMathmo I have addressed these changes in https://github.com/arrayfire/arrayfire-rust/pull/104. The new features will be available in next release.

[2017-02-15 12:47] #103 closed

[2017-02-15 13:24] AtheMathmo commented on #103
Awesome, thank you!

[2017-02-15 20:04] dchammond opened #105 "Creating an Array throws an "Unknown Error""
Two simple test programs demonstrate this error:

[code]

(This same result also occurs on the latest nightly: `rustc 1.17.0-nightly (956e2bcba 2017-02-12)`)
Cargo.toml:
[code]

src/main.rs:
[code]

This works and prints:
[code]

However the following does not work:

src/main.rs:
[code]

And errors out with:
[code]

I have installed arrayfire v3.3.2 (the library) with Homebrew and verified it work

[2017-02-15 23:21] kenniskoldewyn opened #106 "Crash on exit with code 3221225477"
I've followed the installation instructions to the letter as per https://github.com/arrayfire/arrayfire-rust when installing on Windows 10 x64: installed the `x86_64-pc-windows-msvc` version of Rust 1.15.1, installed the ArrayFire binaries, set up the `AF_PATH` and `PATH` environment variables, and added `arrayfire = "3.4.1"` to my `Cargo.toml` file.  Unfortunately, any attempt to use ArrayFile cr

[2017-02-16 04:30] 9prady9 commented on #106
@kenniskoldewyn Can you post the output of `af_info` call. Since it is crashing at end of program, you can do this prior to printing the array.

[2017-02-16 04:37] 9prady9 commented on #105
@dchammond I see that you have installed ArrayFire v3.3.2 but using arrayfire-rust crate 3.4.1. The following is the API/ABI match between crate and the upstream ArrayFire.

| ArrayFire Upstream | Rust Crate |
|:--------------------------:|:---------------:|
| 3.3.x | 3.3.0 to 3.3.2 |
| 3.4.x | 3.4.0 to 3.4.1 |

[2017-02-16 04:42] pavanky commented on #105
@9prady9 not sure how that affects this particular bug

[2017-02-16 05:22] 9prady9 commented on #105
@pavanky I have tried both the versions @dchammond  provided and they run fine for me - because they are basically the same. I am not sure if the problem is with code itself. It could be his environment, so pointed out that he is using mismatched version of arrayfire crate.

[2017-02-16 05:44] pavanky commented on #105
@dchammond I can also confirm that this works in 1.14

[2017-02-16 06:11] dchammond commented on #105
@9prady9 @pavanky
So I upgraded ArrayFire to v3.4.2 (I don't know why the Homebrew version is so old).

After doing this, I find that the same test program no longer runs on stable rust, only nightly. On stable it exits without printing anything (no errors either) except that the process has an error code of 1. On nightly the code does run but the same issue presents itself (needing a temp variabl

[2017-02-16 06:25] pavanky commented on #105
@dchammond
Able to run this fine on 1.15 too

[code]

Only change I made to your code was remove the space between `array` and `fire`.

[2017-02-16 06:28] pavanky commented on #105
@dchammond can you run the example wit `AF_PRINT_ERRORS=1` exported ?

[2017-02-16 15:26] kenniskoldewyn commented on #106
Interestingly, when I tried to add the call to `af::info()` at the end of my existing example program, the crash happened before `info` produced any output (which could be a buffering issue, I suppose).  So I put it at the beginning of the program, and it produced the following (afterwards printing the random array, as before):

[code]

I note that the version of ArrayFire doesn't match the depend

[2017-02-16 15:57] 9prady9 commented on #106
We re versioning the rust crate with compatibility of Major.Minor of ArrayFire releases vs Major.Minor of crate. Fix release versions doesn't need to match.

| ArrayFire Upstream | Rust Crate |
|:--------------------------:|:---------------:|
| 3.3.x | 3.3.x |
| 3.4.x | 3.4.x |

Fix release version numbers doesn't need to match.

[2017-02-16 16:00] kenniskoldewyn commented on #106
Indeed, before I saw your reply, I figured I'd give it a shot, and sure enough, downgrading ArrayFire to 3.4.1 and recompiling did not fix the problem.

[2017-02-16 16:00] 9prady9 commented on #106
@kenniskoldewyn Does it crash even when you run the example on CPU (device 1) ?

You can set the device in code `set_device(1)`.

[2017-02-16 16:45] kenniskoldewyn commented on #106
Ah ha, in that case there's no crash.  I've experimented a bit with placing `set_device(1)` in my code, and it looks like I can still use device 0 as long as I also use device 1 somewhere.  So, for example, both of the following programs do not crash:

[code]

[code]

But this one (where I set the device to 1, but don't actually allocate anything on it) does crash:

[code]

I suppose if I benchmar

[2017-02-16 16:50] 9prady9 commented on #106
@kenniskoldewyn You don't need to do anything of that sort in theory. But the fact that it is happening is weird. Can you please try the similar example (given below) in C++ code ?
[code]

[2017-02-16 17:40] kenniskoldewyn commented on #106
Yes, I'm getting the same result from the C++ program—it crashes on exit if the allocation is done on device 0, but not if it is done on device 1.

[2017-02-16 17:40] dchammond commented on #105
@pavanky

I edited my original comment, the space between `array` and `fire` was not present in my code.

Running with `AF_PRINT_ERRORS=1` reveals the following:
[code]

[2017-02-16 17:45] 9prady9 commented on #106
Can you run the debugger on C++ executable to find out where the code is crashing ?

[2017-02-16 17:48] pavanky commented on #105
@dchammond You'll need to set `DYLD_LIBRARY_PATH` as well. For example `libforge.dylib` isn't loaded manually in arrayfire.

[2017-02-16 17:57] dchammond commented on #105
@pavanky
[code]

[2017-02-16 18:33] pavanky commented on #105
@dchammond That is a dependency mismatch on your system. I think freeimage is using a newer or older version of libJPEG than what you have.

[2017-02-16 19:01] kenniskoldewyn commented on #106
Here's what WinDBG shows me:

[code]

Let me know if Visual Studio would be expected to give me more useful debugging information, and I'll reinstall it and debug it from there.

[2017-02-16 20:41] dchammond commented on #105
@pavanky
I have been messing around with free image and libJPEG for awhile now and cannot easily find a working solution.

Is the machine you are testing on also a Mac?

I would really appreciate anyone describing their installation method and version numbers of free image and/or libjpeg (whether with home-brew or from source) so that I can compare and find the problem on my machine.

[2017-02-16 20:58] pavanky commented on #105
@mlloreda can you help out?

[2017-02-17 04:01] 9prady9 commented on #106
@kenniskoldewyn I was expecting to see the back trace of the program execution when it fails, so that we can find out which function or upstream library call is causing the failure. Could you put a break point at the last statement in your code and step through the code from there ?

[2017-02-17 21:37] AtheMathmo commented on #99
I'm also running into some issues with the dot function, down to size issues. This line from the documentation in particular has me confused:

(Emphasis mine)

In this latter case what are the expected dimensions? I assumed that in this case `dot` performs a matrix multiplication with the vector, and `matmul` is reserved for two 2d arrays. But this seems not to be the case.

[2017-02-18 19:13] AtheMathmo opened #108 "Dimension mismatch with tile"
I'm not sure if this is a bug, but I'd argue that if not the docs should be improved. I have the following code example:

[code]

I get the following output:

[code]

But the documentation states that:

So I would expect the tiled array to have dimensions `[4, 3, 1, 1]`, and look like this:

[code]

---

I'm running this on Ubuntu 14.04, with a CPU backend.

If this is expected behaviour - is ther

[2017-02-18 19:28] AtheMathmo commented on #108
I've researched a little more and I can see that the function is working as intended. I do think the docs should be updated to clarify what this function does.

I also cant find a rust binding for the arrayfire broadcast function in this library. Am I missing something there?

[2017-02-18 21:37] pavanky commented on #108
@AtheMathmo you need to pass `[1, 3, 1, 1]` for what you want. The tile dims is the number of times you want to repeat along each dimension.

[2017-02-18 21:37] #108 closed

[2017-02-18 22:39] AtheMathmo commented on #108
Is there a way to get the broadcasting functionality I want?

[2017-02-18 23:26] pavanky commented on #108
@AtheMathmo tile and broadcast are identical internally. Can you tell me specifically how you want to use broadcast ?

[2017-02-18 23:44] AtheMathmo commented on #108
I have two arrays `a` and `b` which I want to multiply (`arrayfire::mul`). I know that `a` is smaller than `b` and that it can be broadcast to it's shape. So I want to do something like:

[code]

To do this with the current tiling I have to do something like:

[code]

This approach is verbose and only works for 2d arrays. Is there a more natural way to do this?

[2017-02-19 00:08] pavanky commented on #108
@AtheMathmo Whatever you are doing is more or less what is happening internally inside the broadcast function :) I'd say create a function called `tile_as` or `broadcast` that replicates this behavior.

In fact, if you can generalize it for 4 dimensions and send it in as a PR, that'd be great!

[2017-02-19 00:11] pavanky commented on #108
@AtheMathmo Actually none of this is required! I did not realize `mul` has the batch / broadcast parameter!

You can simply do `arrayfire:mull(a, b, true)`

[2017-02-19 00:13] pavanky commented on #108
@9prady9 May be add some examples to the documentation to show how the difference between the true and false cases for the third parameter?

[2017-02-19 00:26] AtheMathmo commented on #108
Ah! I did not realise that this is what that parameter does! I assumed it was for some GPU optimisation or something. Thanks for pointing this out to me!

[2017-02-19 00:46] AtheMathmo commented on #108
@pavanky - I do actually have a situation where I need to broadcast without an operation. Would you still welcome a PR adding this functionality?

[2017-02-19 04:26] pavanky commented on #108
@AtheMathmo Sure!

[2017-02-20 11:48] 9prady9 commented on #98
@cathalgarvey I have been investigating how to make this possible and i have hit a road block.  You are welcome to provide inputs if there is some stable feature that i am not using that could make the implementation easier.

@jramapuram Any suggestions from you are also welcome.

After making Array typed. It looks like below.
[code]
so far it works fine, i was even able to print the resulting `Ar

[2017-02-20 13:25] AtheMathmo commented on #98
I am not sure why you would need to use a trait object here, why not just specify the return type in the function signature:

[code]

[Here's a dummy implementation independent of arrayfire.](https://play.rust-lang.org/?gist=589aa44e43016dd0d65851571803e9ae&version=stable&backtrace=0)

The downside is that the user must specify the return type themselves - but if the return type truly is unknown a

[2017-02-20 13:49] 9prady9 commented on #98
@AtheMathmo Lets take the example of convolve function, you can see the input, output array types for it.

| Input Array Type | Output Array Type |
|:----------------------:|:------------------------:|
| complex float | complex float |
| complex double | complex double |
|  double |  double |
| all other integral types | float |

So, the user can't write a general statement such as the below
[code

[2017-02-20 14:58] AtheMathmo commented on #98
I see the issue a little more clearly now. I am not sure if there is a really clean solution unless you build a complicate trait hierarchy in the background (which would probably be quite messy itself). One way I would consider solving this would be giving a separate function for the integral types.

[code]

Maybe there is a nicer way to solve this problem (like using specialization), but I feel l

[2017-02-20 16:14] 9prady9 commented on #98
Creating separate functions for integral types for all the functions in the library would lead to code bloat - which is one of the things we avoided earlier when we chose callback based error management over Rust's idiomatic error management. If we do this, then the argument of why not just use idiomatic error management will spring up again.

@jramapuram What's your take on having typed Array's a

[2017-02-20 16:34] AtheMathmo commented on #98
I suppose you could always do the trait object approach and do the runtime type matching within the convolve function:

[code]

Or something like that...

Personally I would prefer to have the type information readily available in the function output but I understand the issues with this.

[2017-02-21 14:08] kenniskoldewyn commented on #106
Sorry for the delay.  It turns out that things are a bit more complicated than I first realized.  At first, I had only installed the Microsoft Visual C++ Build Tools 2015 (the minimum required for a successful Rust installation on Windows), and I was compiling and debugging the crashing C++ example using those tools.  However, I was a novice at using WinDBG, so when you wanted the full stack trace

[2017-02-21 14:25] 9prady9 commented on #106
Both the stack traces terminate while releasing a cl_mem object - called from the destructor call of memory manager. I am not sure what is happening if you use build tools, may be some sort of difference in compiler flags ? Or You can find out if there is any dll dependency mismatch from executable generated by build tools and Visual Studio 2015, that can help you see if there is anything special

[2017-02-22 15:39] AtheMathmo opened #110 "Panic on SubAssign with same dimensions"
I've been trying to get a simple example working with the OpAssign traits but it seems that there is a bug there.

This code compiles and runs fine:

[code]

However if I switch to the SubAssign trait:

[code]

I get the following runtime error: `thread 'main' panicked at 'Error message: Size is incorrect'`. This message persists even if I replace `b` with `a.clone()`.

[2017-02-22 15:52] 9prady9 commented on #110
@AtheMathmo I am able to reproduce this on my end and will look into it. Thank you for reporting it.

[2017-02-23 15:47] kenniskoldewyn commented on #106
Sorry for the delay.  Once again, I have made a mistake in understanding the situation.  I discovered that when running the example program from Visual Studio, I was using the default "solution platform" of `CPU_x64`.  When running that way, there's only one device available to ArrayFire, and it's the CPU, where everything works fine.  However, when I run the example program in Visual Studio using

[2017-02-23 17:32] 9prady9 commented on #106
@kenniskoldewyn Sure, you are welcome to open one. However, at this point i am inclined to believe that it is an issue in Intel OpenCL driver. If that is the case, it can't be fixed in ArrayFire code base.

[2017-02-24 07:11] 9prady9 commented on #110
@AtheMathmo Found the problem and fixed it in https://github.com/arrayfire/arrayfire-rust/pull/111.

[2017-02-24 16:13] kenniskoldewyn commented on #106
Based on the stack traces and my experimenting with uninstalling and reinstalling the Intel OpenCL driver, I believe you are correct, so I'm closing this issue.  Thank you very much for your help!

[2017-02-24 16:13] #106 closed

[2017-02-26 06:40] #110 closed

[2017-02-26 06:45] 9prady9 commented on #95
@jaredonline Is this still an issue ? If not, what resolved the problem on your end ?

[2017-02-26 06:46] 9prady9 commented on #60
@mlloreda Do we have a OSX machine or VM with CUDA GPU on it ?

[2017-02-26 06:51] 9prady9 commented on #97
@shusson Are you still facing this issue ?

[2017-02-26 11:47] Timmmm commented on #89
Hmm you might want to make that more explicit in a more obvious place in the documentation. At the moment the only hint I can see is that `.clone()` is "Used for incrementing the reference count of Array's native resource". Also doesn't this go against the normal Rust rules? E.g. I can now do this:

[code]

I might be wrong about this. In any case it is definitely unexpected and worth documenting

[2017-02-26 14:04] Timmmm opened #114 "Matlab equivalent examples"
Closely related to #52 but it might be nice if there was a sort of translation table for people coming from Matlab:

| Matlab | arrayfire-rust |
|---------|----------------|
| `a = zeros(3, 4)` | `let mut a = constant::<f32>(0.0, Dim4::new(&[3, 4, 1, 1]));` |
| `b = a * 2` | `let mut b = a * 2.0f32;` |
| `c = 0:10` | `let mut c = range::<f32>(Dim4::new(&[10, 1, 1, 1]), 0);` |
| `d = (0:10)'` | `le

[2017-02-27 12:42] 9prady9 commented on #89
@Timmmm Thanks for pointing out the mistake in documentation about `copy` method of Array struct. I have corrected this. I have also added the suggested explanation as part of `clone`'s documentation.

[code]
Rust uses move semantics and it makes sense to use clone to create a copy of a value if we want to reuse it else where. However, in the case of a struct that is managing native resource such

[2017-02-27 17:48] 9prady9 commented on #105
@dchammond Sorry for the delay. I was finally able to replicate the problem in partial on our end. I am getting a crash but the error message is different from yours.

[code]

I will update here once i find the root cause of it.

[2017-02-27 19:11] 9prady9 commented on #105
So far, i haven't been able to find out why `clEnqueueWriteBuffer` is failing - I have verified all the input parameters that are being passed on to `clEnqueueWriteBuffer` inside ArrayFire and they have valid values.

[2017-02-27 19:14] pavanky commented on #105
@9prady9 is this OpenCL on nvidia gpus or OpenCL on other gpus ?

[2017-02-27 19:21] 9prady9 commented on #105
@pavanky The device name says "Iris", I think it is a Intel integrated GPU.

[2017-02-27 19:23] dchammond commented on #105
@pavanky @9prady9
To be clear though, my issue was on an AMD GPU with OpenCL. Interesting that it manifests itself on integrated GPUs as well.

[2017-02-27 19:25] pavanky commented on #105
@dchammond just so you know Apple's support for OpenCL has been horrid. Even more so on AMD GPUs.

[2017-02-27 22:02] Timmmm opened #115 "save_image unsupported operation"
Maybe I'm using it wrong (thought it's hard to tell because there's not really any documentation), but `save_image()` always gives me this error:

    thread 'main' panicked at 'Error message: Unsupported operation/parameter option', C:\Users\Tim\.cargo\registry\src\github.com-1ecc6299db9ec823\arrayfire-3.4.2\src\error.rs:66

I've tried PNG, JPEG, f32 arrays, u8, 3D, 2D, etc. It really needs bette

[2017-02-28 06:31] 9prady9 commented on #115
Can please share the code stub that can help me reproduce the issue. Also, please do `export AF_PRINT_ERRORS=1` from command line and then run the program to see a more detailed error message.

[2017-02-28 06:51] shusson commented on #97
@9prady9  I was just trying out arrayfire-rust, if I revisit it I'll let you know.

[2017-02-28 10:14] Timmmm commented on #89
Isn't that why [`Rc`](https://doc.rust-lang.org/std/rc/) exists? On the other hand maybe ArrayFire implements its own thread safety so having two mutable references to the same array is fine? Well it's not a big issue as long as the documentation is clear - thanks for updating it!

[2017-02-28 10:33] pavanky commented on #89
@9prady9 @Timmmm To give some background, arrayfire has copy on write semantics internally. This sometimes involves creating shallow copies as long as the data is being read, but create a new copy when data is being written to the array.

The underlying logic in the arrayfire lib uses `shared_ptr` for the gpu buffers that is shared between two arrays. There is no reason to implement the same logic

[2017-02-28 10:34] 9prady9 commented on #89
`Rc` doesn't implement `Send` trait and thus cannot be sent between threads, so it doesn't provide thread safety access to the data. `Arc` on the other hand does what you are saying. Copy-On-Write takes care of having two mutable references situation you have mentioned.

On another note, we are currently working on adding thread safety feature to the upstream(ArrayFire) library on the whole. We ma

[2017-02-28 20:34] Timmmm commented on #115
Here's a fairly minimal test case:

[code]

What's weird is that sometimes it creates between 1 and 5 images and then fails. Here's the output:

[code]

That makes it seem like it doesn't support PNG, but it has actually created valid PNG files occasionally so that can't be true. Anyway, trying `.jpg` gives the same error, but again it actually creates a few jpegs. It seems to reliably create 3 fo

[2017-02-28 20:36] Timmmm commented on #115
I wonder if this line is safe:

        let err_val = af_save_image(filename.clone().as_bytes().as_ptr() as *const u8,

Is there a risk the temporary created by `.clone()` is destroyed before `af_save_image()` is called?

[2017-03-01 06:19] #115 closed

[2017-03-01 06:19] 9prady9 commented on #115
Good catch. While we corrected this issue in all the other modules, somehow image module was not corrected. The root cause is that when we transfer a string to C-FFI, we need to build a CString from String instead of clone and then pass it on to FFI. I am fixed this in devel.

[2017-03-02 14:16] SuperFluffy opened #116 "Cuda backend not picked up"
I am trying out version `3.4.2` of the library on Archlinux with `cuda 8.0.61` and it looks like arrayfire cannot pick up the cuda backend.

Using the first few lines of the `helloworld.rs` example, I get the following info dump (running it via `optirun`):

[code]

Also, from the `unified.rs` example (which includes the line `if available.contains(&Backend::CUDA)`, which is negative):

[code]

So

[2017-03-02 16:34] pavanky commented on #116
@SuperFluffy Can you add `/path/to/cuda/nvvm/lib64` to your `LD_LIBRARY_PATH` ?

[2017-03-02 16:41] SuperFluffy commented on #116
@pavanky same result with:

[code]

[2017-03-02 16:48] pavanky commented on #116
@SuperFluffy can you run ldd on libafcuda.so ?

[2017-03-02 20:19] Timmmm commented on #115
Awesome, works like a charm. I still can't work out exactly what to `save_image()` so I don't just get a black image but `save_image_native("foo.tif", ...)` with an `f32` array worked perfectly.

Can you explain to an unlearned Rustacean what exactly was wrong with the original code?

[2017-03-03 02:35] 9prady9 commented on #115
There is a difference in how rust represents the strings using `std::ffi::Cstring` and `std::string::String`.

### std::ffi::CString
[code]

where as
### std::string::String
[code]

This was the issue we fixed.

[2017-03-06 14:47] SuperFluffy commented on #116
I think that revealed the issue. Thank you for pointing me in the right direction.

[code]

It looks like Archlinux' `arrayfire` was built on Tue 27 Sep 2016 02:13:18 PM CEST, while cuda 8 was uploaded to the repositories on 29-Sep-2016 01:48.

In other words: Archlinux' arrayfire has been linked to the correct cuda version for exactly 2 days and is since out of date. I am going to build it manual

[2017-03-06 14:47] #116 closed

[2017-03-06 16:23] pavanky commented on #116
@SuperFluffy I also maintain the aur package for arrayfire in case you are interested.

[2017-03-07 05:51] 9prady9 opened #117 "Fix shift value parameter type for af::shift function"

[2017-03-07 06:20] #117 closed

[2017-03-07 16:26] dchammond commented on #105
So I have an interesting update on this issue that might reference #60

I uninstalled the Homebrew version of Arrayfire and wiped any symlinks, then installed Arrayfire 3.4.2 from the binary installer and verified that the examples built and ran.

Here is some information on my environment (similar to last time):
[code]
As you can see, running the executable directly works fine, while running with

[2017-03-07 20:37] SuperFluffy commented on #116
@pavanky That's good to know! :-) Compared to the upstream package, your package does not have glfw as a dependency, so that ldd shows `libglfw.so.3 => not found`. Is that intentional?

[2017-03-07 21:33] pavanky commented on #116
@SuperFluffy Hmm, I thought I disabled graphics. I'll check once I get home.

[2017-03-08 05:33] HerrmannM commented on #116
I have the same problem here.
FYI : I can't compile the aur package without glfw
[code]
Compilation ok after a `sudo pacman -S glfw-x11`

After that, I have a CUDA and CPU backend, but no OPENCL backend anymore.

Thank you for your work!

[2017-03-08 05:51] pavanky commented on #116
@HerrmannM Was libafopencl.so built or is arrayfire not picking it up?

[2017-03-08 05:54] HerrmannM commented on #116
@pavanky: my bad, it was not built, sorry for that!

[2017-03-08 06:30] pavanky commented on #116
@HerrmannM Hmm, I am not sure why it did not. Does the cmake output say anything?

[2017-03-08 06:41] HerrmannM commented on #116
@pavanky The only thing I found in the output is this :
[code]
Don't know what that is... here are the only opencl related line I found in the output:
[code]

[2017-03-08 07:35] pavanky commented on #116
@HerrmannM can you check if you have `libOpenCL.so` on the system?

[2017-03-08 07:37] pavanky commented on #116
@SuperFluffy @HerrmannM I updated the aur package and built it on my system to verify.

[2017-03-09 02:36] HerrmannM commented on #116
@pavanky I guess this is ok ?

[code]

Also, boost should be added to the dependencies.

[2017-03-09 04:26] pavanky commented on #116
@HerrmannM Hmm, I originally did not want to impose too many dependencies and only build the backends that could be built. I guess I could enable it.

Does installing boost help with the OpenCL backend ?

[2017-03-09 05:23] HerrmannM commented on #116
@pavanky Actually it does not compile at all without boost (just installing a new PC and boost was not their yet). On that new machine, OpenCL is not available neither, even with the openCL lib (same as above).

[2017-03-09 05:42] pavanky commented on #116
@HerrmannM what about opencl-headers ?

[2017-03-09 21:49] HerrmannM commented on #116
@pavanky I have them installed, but still no opencl backend showing up.

[2017-03-09 22:09] pavanky commented on #116
@HerrmannM can we take the discussion to gitter: https://gitter.im/arrayfire/arrayfire Ping me personally over there

[2017-03-17 14:29] dchammond commented on #105
@9prady9 @pavanky
So the answer to why `cargo run` is different to directly running binaries is a result of these:
https://github.com/rust-lang/cargo/issues/2888
https://users.rust-lang.org/t/subprocess-and-dynamic-library-linking-problem-interaction/7873/9

Where `cargo run` messes with `DYLD_LIBRARY_PATH` and `LD_LIBRARY_PATH`.

The original issue is still not solved however.

[2017-03-20 17:57] nacardin opened #118 "AF_PATH for ArchLinux arrayfire package"
Hello,

I am trying to build this crate against the Arrayfire package provided by ArchLinux (https://www.archlinux.org/packages/community/x86_64/arrayfire)

I'm not sure how to set the AF_PATH so that it points to the libs installed by the package. According to the arch package, it looks like it installs the AF libs to /usr/lib, so setting AF_PATH=/usr seems to work. I'm not sure if this the right

[2017-03-20 18:04] pavanky commented on #118
Hmm. This is going to be tricky because there is no standard way to install arrayfire across all platforms. The windows installer automatically sets `AF_PATH`. For Linux and OSX, `AF_PATH` is technically not needed if they can be found on system path.

@9prady9 I am not sure how the rust wrapper implements this. Is it trying to load the libs from system path before falling back to AF_PATH ? Or is

[2017-03-20 18:28] nacardin commented on #118
On linux, if I run `cargo build` without specifing AF_PATH I receive the following error
[code]

It would be great if it could fall back to system path.

[2017-03-21 03:52] 9prady9 commented on #118
Right now, it does look if AF_PATH environment variable has been set.

I shall look into it and try to check & report AF_PATH unavailability only if required libraries are not found in system path.

[2017-03-21 06:47] pavanky commented on #118
@9prady9 may be also try the commonly installed paths `/usr/local/`, `/opt/arrayfire-3`

[2017-03-23 14:52] rennis250 opened #120 "svd_inplace: 'Error message: Size is incorrect'"
Hey there,

I am trying to use the arrayfire-rust interface to accelerate some image processing here at the lab. I want to do PCA by using SVD directly, but it appears to fail for certain sizes that Matlab can do without trouble. I think I found a pattern for which size matrices it accepts and for which it fails, but I am not sure. Also, is there a way to do a thin SVD? That would be preferred for

[2017-03-23 15:08] pavanky commented on #120
The limitation comes from the C++ library using  cuSolver (for CUDA) and clMagma (for OpenCL) which d not support W > H. For regular SVD, a transpose is performed and u, v are changed accordingly. This should be better documented.

I looked at the source code, it should be performing SVD on 800 x 53. Can you double check if it is really performing on 800 x 400?. The error checking mechanism in the

[2017-03-23 15:16] rennis250 commented on #120
Sorry, it's been a long few days recently. I was doing SVD on a matrix with shape = (800, 400, 53), so it was doing SVD on the 800x400 first elements.

So, I assume then that there is this limit on the matrix size? Sample data for us are typically of a size = (800*500 rows, 400 columns) on average, with some data files having twice as many rows. Currently, this won't fit in the memory of our GPU a

[2017-03-23 16:36] pavanky commented on #120
@rennis250 SVD on CPU backend should be using MKL if you are using the installer and should perform decently well. But it looks like you built it yourself. Can you run ldd on `libafcpu.so` to show what lapack you are using ?

[2017-03-23 17:08] rennis250 commented on #120
I used the installer on my Mac, which I can currently access. If I run the following code, it seems to finish in 0.7 seconds:

[code]

If I use ```svd_inplace()``` instead, then it takes longer than 3 mins and I had to cancel it.

On the other hand, if I stick with ```svd()``` and add the following code to print the first eigenvector, then it also takes >3 mins and I had to cancel the process:

[c

[2017-03-23 17:14] pavanky commented on #120
@9prady9 can you look into this and report the performance ?

[2017-03-23 18:44] 9prady9 commented on #120
@pavanky

For the GPU(GT 650M, 2G) on my laptop, i see the following results.

400x800
[code]

400x800*2
[code]

400x800*4
[code]

400x800*8
[code]

400x800*16
[code]

400x800*32
[code]
Runtime of Ouput version of svd function keeps increasing significantly with the size compared to the inplace version.

[2017-03-23 19:40] pavanky commented on #120
@9prady9 are you running a sync ? Can you run this on the CPU as well ?

[2017-03-24 00:07] rennis250 opened #121 "Creating arrays from slices"
It seems you cannot create arrays that have 0 elements in the 3rd and 4th dimensions? Using ```moddims()``` doesn't change this. For example, the following snippet of code fails:

[code]

Best,
Rob

[2017-03-24 00:12] pavanky commented on #121
@rennis250 are you trying to create [10, 10, 1, 1] or [10, 10, 0, 0] ? Arrayfire does not handle empty arrays gracefully at all so the error is kind of expected.

[2017-03-24 00:13] rennis250 opened #122 "Multiplication of arrays fails unexpectedly"
The following code works:

[code]

The following does not:

[code]

I don't understand why.

Best,
Rob

[2017-03-24 00:15] pavanky commented on #122
How can you possibly multiple two arrays of different dimensions ? What do you expect the output to be ?

[2017-03-24 00:18] rennis250 commented on #122
Shouldn't array multiplication follow the usual rules: If array1 has size MxN and array2 has size NxM, then array3 has size MxM. So, I would expect a resulting array of size 11x10 from the second example, but since I cannot create arrays of size = (10, 10, 0, 0) or size = (11, 10, 0, 0) from slices, I'm having trouble determining how I construct arrays in ArrayFire that I can succesfully multiply

[2017-03-24 00:19] rennis250 commented on #121
I would ultimately like something of size (10, 10, 0, 0), since I suspect my problems with matrix multiplication in #122 is related.

[2017-03-24 00:24] rennis250 commented on #122
Oh, I see. The ```*``` operator is not shorthand for the ```matmul()``` function, which I just found. Sorry for the noise, but then, what does ```*``` for an array mean in the Rust library? What elements does it work with? I'll take a closer look at the documentation and code.

[2017-03-24 00:24] rennis250 commented on #121
Hmmm... seems I mainly solved the problem in #122.

[2017-03-24 00:24] #121 closed

[2017-03-24 00:27] pavanky commented on #122
@rennis250 It sounds like you are coming from a matlab background. The `*` performs the equivalent of `.*` from matlab. The same is true for all mathematical operations. (i.e. `/` is equivalent to `./` etc).

[2017-03-24 00:27] #122 closed

[2017-03-24 00:32] rennis250 commented on #122
Yes, I see now. I'll spend more time reading the original ArrayFire documentation. Sorry about that!

Best,
Rib

[2017-03-24 00:34] pavanky commented on #122
@9prady9 I can't seem to find the documentation for the operators. Can you point it out ?

[2017-03-24 02:35] 9prady9 commented on #120
Yes, i did sync before printing out the elapsed time.

[2017-03-24 02:38] 9prady9 commented on #122
Operators in rust are trait implements for Array Object. So we can find the traits implemented on Array struct in Array page. You can find them over the below URL.

http://arrayfire.org/arrayfire-rust/arrayfire/struct.Array.html

[2017-03-24 04:32] 9prady9 commented on #120
[code]

400x800*1
[code]

400x800*2
[code]

400x800*4
[code]

400x800*8
[code]

400x800*16
[code]

400x800*32
[code]

As you can see, for smaller sizes the runtime difference is not much. However, it increases as the size increases.

[2017-03-24 05:02] 9prady9 commented on #105
@dchammond There isn't much we can do about cargo messing up environment variables. May be such issues will be ironed out with Cargo's stable release or next nightly.

As far as the original issue, I am quite surprised as to why it is happening although it is a perfectly valid syntax. I will give it another shot and update here if I find out anything.

[2017-03-24 05:17] dchammond commented on #105
Thanks fro your help @9prady9

This is certainly a strange bug. The different methods of calling `arrayfire::Array::new` should be equivalent... yet they are not.

If I find some spare moments I can also try some digging and testing out different calls. Maybe I'll get lucky and find something.

[2017-03-24 09:06] rennis250 commented on #120
I've been doing more testing and I think my issue is coming from problems with printing certain matrices. I'm closing this in favor of a more specific issue.

[2017-03-24 09:06] #120 closed

[2017-03-24 10:49] rennis250 opened #123 "Multiple uses of svd or svd_inplace in the same program cause it to stall"
I've found that calling SVD functions more than once in the same program cause it to stall and start eating up lots of memory. It seems to be independent of whether you use ```svd``` or ```svd_inplace```. It is also independent of whether you use the same array repeatedly or not. An example program:

[code]

On my Mac with 8GB of RAM, the second iteration of the loop hangs and starts eating up RAM

[2017-03-24 12:27] rennis250 commented on #123
On the Linux machine, which has 256GB of RAM, the loop hangs after 5 iterations. I'm also finding that SVD on the Linux machine cannot handle matrices of about 800x200x400 elements. It runs out of RAM, but that would be considered a small data file for us.

[2017-03-24 12:55] rennis250 commented on #123
It seems the size limitation is coming from Rust(??), not from the underlying libraries. If I translate a similar version of this to C++, then I can make the matrices much larger and SVD works fast and correctly.

[2017-03-24 13:22] rennis250 commented on #123
And the problem of multiple SVDs in one block of code is coming from the underlying ArrayFire libraries: arrayfire/arrayfire#1746

[2017-03-24 21:43] rennis250 commented on #122
@9prady9: I saw that, but the documentation there didn't make it clear to me that ```*``` does elementwise multplication. Perhaps a short note at the top of the README which states that the Rust operators mimic the C++ operators, as well as a link to the C++ documentation? To be honest, it was my own fault to not consider the C++ documentation while reading the Rust documentation, but I suppose th

[2017-03-25 02:52] 9prady9 commented on #122
@rennis250 Sure, will take care of it.

[2017-03-25 03:12] #118 closed

[2017-03-27 15:08] lobachevzky opened #124 "Stream Compaction"
How would you recommend performing stream compaction with this library? Using indexes?

[2017-03-28 05:06] 9prady9 commented on #124
I believe stream compaction is equivalent to the following 3 steps in that order.

1. Generate boolean map indicating which elements are important if one doesn't exist already.
2. Perform scan operation on the boolean map.
3. Index the original input array using the scanned boolean map avoiding zero values.

Given below is the C++ equivalent of above steps.
[code]

The rust version would follow th

[2017-03-28 22:06] lobachevzky commented on #124
The rust version does not have an operator equivalent to `where`, or at least I have not been able to  find one.

[2017-03-28 22:16] pavanky commented on #124
@lobachevzky It is called `locate` in rust.

[2017-03-29 13:15] lobachevzky commented on #124
This is what I'm using currently:
[code]

[2017-03-29 14:21] 9prady9 commented on #124
@lobachevzky
Many functions have this boolean batch argument. What it essentially tells the function is that there are multiple data-sets in `af::Array`  that needs to undergo the same operation.

Ley us consider the function [add](http://arrayfire.org/arrayfire-rust/arrayfire/fn.add.html) as an example. Say, the input Arrays are of mismatched dimensions i.e. one Array is two dimensional and the o

[2017-03-30 23:30] lobachevzky opened #125 "dot throws 'Type is not suppported by this function' error"
Sorry to bombard you guys. This code:
[code]
throws the following error:
[code]
What am I missing?

[2017-03-31 05:39] 9prady9 commented on #125
@lobachevzky Rust's `af::constant` is a generic function. I believe the problem here is that the first parameter passed to this function is used for type inference of the constant af::Array to be created. In Rust, i believe 1 defaults to integer type. Though were able to create such Array's dot doesn't have support for integral types. It only works on float, double, complex-float, complex-double t

[2017-03-31 08:52] 9prady9 commented on #125
To add to my above comment. You can still do dot using the following work around.

[code]

if you don't want to change the type of the original Array.

[2017-03-31 15:35] lobachevzky commented on #125
Ah thank you. So I was able to get that example to work but now this example:
[code]

Throws
[code]
The documentation seemed to indicate that `dot` could handle matrix vector operations.

[2017-03-31 15:52] 9prady9 commented on #125
Unfortunately, dot currently cannot be used in batch mode or inside GFOR. The support for batched dot is not baked in yet.

A straightforward work around would be to use a standard for-loop to run dot on each column (use indexing to get each column) against the Array with single column. As the arrayfire function calls are asynchronous, each iteration doesn't block the processing of it's subsequent

[2017-03-31 16:19] lobachevzky commented on #124
Got it. Thanks you!

[2017-03-31 16:19] lobachevzky commented on #125
Perfect. Matmul works. thanks.

[2017-03-31 16:19] #125 closed

[2017-04-01 15:44] lobachevzky opened #126 "broadcasting and scalar / array ops"
Thank you so much for all your help so far! I'm really enjoying using the library and I think my project is really shaping up as a result.

I was wondering what the most performant way would be to perform broadcast operations: eg. multiply an array with dimension `[n 1 1 1]` by an array with dimension `[n m 1 1 ]` (currently I am using `join_many').

On a slightly unrelated note, if an array conta

[2017-04-02 02:58] 9prady9 commented on #126
The only way to extract data from GPU to CPU is to use [Array::host](http://arrayfire.org/arrayfire-rust/arrayfire/struct.Array.html#method.host) member function.

Do you mean element-wise multiplication of n elements for m different data sets ? where one input is [n 1 1 1] and the other is [n m 1 1] ? If that is what you are asking, I believe [mul](http://arrayfire.org/arrayfire-rust/arrayfire/fn

[2017-04-02 21:18] lobachevzky commented on #126
Thanks so much. Tile was the function that I needed.

[2017-04-02 21:18] #126 closed

[2017-04-02 21:31] lobachevzky commented on #124
One note on this approach:
This will throw a segmentation fault if `bool` is all `0` / `false`. As a workaround, I tried first checking if `af::locate(bools)` was empty, but if it is, it does not seem possible to create a new empty array:
[code]
throws:
[code]

[2017-04-02 21:42] pavanky commented on #124
@lobachevzky Try using the latest version of arrayfire libs. I think you are using v3.3 version of the libs.

[2017-04-04 13:35] pavanky commented on #124
@lobachevzky can you upgrade to v3.4.2 for the arrayfire libs and try again ?

[2017-04-05 14:23] lobachevzky commented on #124
Sorry for the delayed response. Getting the binary downloaded from the website to work took some doing. I am running v3.4.2 and I still get the exact same error message for empty arrays.

[2017-04-23 19:50] dtolnay opened #129 "Shift to serde from rustc-serialize: rustc-serialize deprecated"
It has been deprecated: [announcement](https://users.rust-lang.org/t/deprecation-of-rustc-serialize/10485?u=dtolnay).

[2017-04-23 19:58] pavanky commented on #129
@dtolnay care to send in a PR ?

[2017-04-23 20:10] dtolnay commented on #129
Nope, just canvassing to make sure you've planned for it in case it affects your API. :slightly_smiling_face:

[2017-04-23 20:12] pavanky commented on #129
@dtolnay Thanks for the heads up.

[2017-04-24 16:43] 9prady9 commented on #129
Thanks @dtolnay . The replacement crate is [serde](https://crates.io/crates/serde). Renaming the issue to reflect the shift to serde.

[2017-04-24 17:15] pavanky commented on #129
@9prady9 what is this used for ? Do we really need it?

[2017-04-24 17:17] 9prady9 commented on #129
It is build dependency, not used by crates that are used by users. It is only needed by someone who is developing arrayfire-rust.

[2017-04-24 17:18] 9prady9 commented on #129
It is used to parse the json config file.

[2017-04-24 17:23] 9prady9 commented on #129
I have been thinking about it for a while now - we can remove this dependency if the rust wrapper doesn't try to build arrayfire locally - separate from installed binaries.

[2017-04-27 04:29] 9prady9 commented on #129
@pavanky and @jramapuram What do you guys think about my last comment of removing option to build ArrayFire locally ?

[2017-04-27 06:04] jramapuram commented on #129
Should be fair enough that AF is expected to be installed. I liked having the af as a submodule because it keeps the tight coupling as well. If we can be a little more explicit about this that would be good.

[2017-04-27 06:32] 9prady9 commented on #129
I have no objections to either way of doing it. We just have to update the current config and build file to reflect latest changes in build procedure.

[2017-04-27 06:57] 9prady9 commented on #105
@dchammond I am marking this as `Wontfix` and `OSX` since it is happening only in your development setup and we are unable to reproduce this anywhere else.

If anyone else face a similar issue, kindly upvote the original issue description and we will give it another try.

[2017-04-27 06:57] #105 closed

[2017-04-27 07:02] 9prady9 commented on #95
@jaredonline Please reopen if the issue still persists and also kindly provide a small self-contained program that can help us reproduce the issue on our end.

[2017-04-27 07:02] #95 closed

[2017-04-27 07:12] 9prady9 commented on #114
@Timmmm please feel free to contribute.

[2017-04-27 07:17] 9prady9 commented on #97
@shusson Cargo has moved to 0.17.* nightly and rustc has also updated about a month back. Can you give newer cargo version a try and reopen the issue if the problem still persists. I am closing the issue for now.

[2017-04-27 07:17] #97 closed

[2017-04-27 08:05] 9prady9 commented on #123
@rennis250 I did run the code you shared on both CPU and CUDA backend. CPU backend is eating up almost all of the RAM although it runs. However, CUDA is running out of memory.

`Note: I have 8GB RAM machine with GT650M card with 2GM GPU memory.`

I think the core issue stems from either upstream ArrayFire or the libraries ArrayFire uses for SVD implementation. I am fairly confident that is the cas

[2017-04-27 19:57] dchammond opened #131 "Arrayfire remainder function appears to give the wrong result"
The Remainder function provided in this crate (arrayfire::rem) does not seem to compute the correct result for certain inputs.

[code]

And the result:

[code]

[2017-04-28 04:22] 9prady9 commented on #131
@dchammond Thank you for reporting it, we will look into it.

[2017-04-28 04:50] 9prady9 commented on #131
@dchammond The function you are looking for is `modulo` that is equivalent of `%` operator. I confused it with `rem` function which you are using now - it is remainder operation.

[2017-04-28 05:10] 9prady9 commented on #131
@dchammond It turns what you are seeing is correct, the result is in consistence with IEEE floating point standard. Now if you change the data slice definition to the following.

[code]
You will get the desired output.

You can cross verify with this behaviour with [std::remainder](http://en.cppreference.com/w/cpp/numeric/math/remainder)

[2017-04-28 05:10] #131 closed

[2017-04-28 12:24] dchammond commented on #131
Ah I feel like I've been bitten by confusing these definitions before. Thank you.

[2017-04-28 12:27] dchammond commented on #131
To be clear, the Rust Docs does use the term `Rem` to describe the operator `%`.
https://doc.rust-lang.org/std/ops/trait.Rem.html

[2017-04-28 13:20] 9prady9 commented on #131
I will fix the discrepancy. Thank you.

On Fri, Apr 28, 2017, 5:57 PM Dillon Hammond <notifications@github.com>
wrote:

[2017-05-08 07:42] heartsh opened #133 ""arrayfire::replace_scalar" Has Opposite Replacement which Replaces when True, Not False"
Hi, I'm a user of ArrayFire in Rust.

The function seems to have the above wrong replacement.
In the document, it should replace when false, not true.
To be consistent with the document and "arrayfire::replace", it should be fixed.

[2017-05-08 08:55] 9prady9 commented on #133
@heartsh I am confused, can you please explain if the mistake in the documentation or code is producing wrong results ? If it is code, can you please show us the code you have tried.

[2017-05-08 10:48] #129 closed

[2017-05-08 11:05] heartsh commented on #133
My code is complicated, so I show an example about it below:
[code]
The version of ArrayFire in Rust is 3.4.3 and everything else has no problem.

[2017-05-08 11:33] 9prady9 commented on #133
I am looking into it.

[2017-05-08 15:06] 9prady9 commented on #133
@heartsh This seems to be bug in upstream. I have raised an [issue in ArrayFire repository](https://github.com/arrayfire/arrayfire/issues/1772). Thank you for reporting it. This should be get fixed with next ArrayFire release. Will leave this issue open as placeholder.

[2017-05-09 00:36] heartsh commented on #133
@9prady9
I see.
Thank you for your corresponding.

[2017-05-09 00:38] #133 closed

[2017-05-29 05:57] polarathene opened #134 "Return results to host?"
It seems I should use the `host` method on an `Array` mentioned in the docs [here](http://arrayfire.org/arrayfire-rust/arrayfire/struct.Array.html#method.host). The [repo md docs](https://github.com/arrayfire/arrayfire-rust/blob/devel/doc/getting_started.md) has a 404 link when referencing [Array::host()](https://github.com/arrayfire/arrayfire-rust/blob/devel/doc/struct.Array.html#method.host) and

[2017-05-29 06:00] daboross opened #135 "Array::host, a safe method, can easily cause memory unsafety"
Correct me if I'm wrong, but it seems that https://github.com/arrayfire/arrayfire-rust/blob/ce74da05f095a30bd3a58a6b4f726824bee40389/src/array.rs#L311 checks neither T nor the length of the array to see if they are correct.

In Rust this should either be an unsafe method, or it should have runtime checks on the slice's length and type.

Using `host::<String>()` for example will give you a bunch of

[2017-05-29 07:44] daboross commented on #135
I believe part of this could be solved by requiring `T: HasAfEnum` on the type, and then making `HasAfEnum` an `unsafe trait`.

`unsafe trait`s must be explicitly implemented using `unsafe` in user code, so the user knows they are doing something unsupported when implementing it.

At least with that, this would no longer be a safety violation (where any T even Box or String can be passed in).

[2017-05-29 10:22] polarathene opened #136 "Host array of eq is incorrect"
When doing an `eq` or `neq` on two Arrays, `print()` will give the expected result such as `[0, 1, 0]`, when moved to the host I would see `[256, 0, 0]`. For `neq` `[1, 0, 1]` would convert to `[65537, 0, 0]`.

[code]

I've found out changing `u32` to `u8` gives the correct array values. The [docs](http://arrayfire.org/arrayfire-rust/arrayfire/fn.eq.html) don't mention the Array returned is `u8`.

[2017-05-29 14:00] polarathene commented on #124
[code]
I know that in Rust we can do `a += b` or `a + b` but conditionals like above don't seem to work. Can we only use the method versions like `gt()`?

`scan`has much more parameters according to the [docs](http://arrayfire.org/arrayfire-rust/arrayfire/fn.scan.html). Your input seems to be boolean values whereas the Rust version takes an Array, is restricted to a dimension, does an add,mul,min

[2017-05-29 14:40] polarathene commented on #124
[code]

Output:
[code]

Change Dims to [3, 1, 1, 1] however:

[code]

The original method by @lobachevzky fails on me. I've been using [1, 3, 1, 1] because of errors that dims of [3, 1, 1, 1] were giving me earlier. While @lobachevzky method doesn't crash it does produce unexpected results.

[2017-05-29 15:06] ultimaRatio opened #137 "need a example on indexing"
Hi,

i'm trying to extract channels from an image, like in the following example : http://blog.accelereyes.com/blog/2013/04/16/arrayfire-examples-part-4-of-8-image-processing/
[code]
It doesn't seem to be possible, at least not that easily.

I haven't found span but it can be replaced with a seq, but i've been unable translate this example in Rust.

if someone could give me a hint :-)

[2017-05-29 18:25] daboross commented on #98
@9prady9 If Array was typed, I believe `HasAFEnum` could have a `ConvolveOutput` associated type so the user wouldn't specify it. Associated types are a type system 'output', so there'd only be one per input type and it should work correctly?

Like if you have `Array<T>` and `enum HasAfEnum { type ConvolveOutput; }`, you can specify the ConvolveOutput correctly for each input, then convolve is lik

[2017-05-30 02:01] polarathene commented on #124
It seems to work correctly if I change
[code]

To this:
[code]

I've been told the reason for this is:

I guess the Rust wrapper for ArrayFire has plenty of cases like this where the compiler could have picked up on the errors I've been running into like this and other methods. I'll raise this as a separate issue.

[2017-05-30 02:10] polarathene opened #138 "locate() does not implement borrow check?"
See my comments on [this issue](https://github.com/arrayfire/arrayfire-rust/issues/124#issuecomment-304677872). I've provided a test sample to demonstrate slight change in when locate is used that provides an incorrect result or triggers a not so helpful panic depending on dims used. I've been told that making use of the borrow checker can inform users at compile time when the API is used incorrec

[2017-05-30 02:30] polarathene commented on #137
There are some vague docs here: https://github.com/arrayfire/arrayfire-rust/blob/devel/doc/getting_started.md#indexing

And a few examples of it in the repo examples folder. Here is one from there:
[code]
So a span equivalent is `Seq::default()`, the `index()` method takes an array and a sequence. I'm not sure but I guess for a single value like in that example it would still need to use `Seq::new

[2017-05-30 02:50] polarathene commented on #98
As much as I appreciate the terseness, I'd agree with the above wanting better typing with compile checks to avoid errors that cost me much more time to figure out with the limited examples and docs/community for the Rust wrapper. Several times I've been tripped up because a method takes my arrays and returns another of a different type than the variable I stored them to was, no error thrown, leav

[2017-05-30 09:24] ultimaRatio commented on #134
Hi,

a very short example (i hope it'll help you) where d is an af::Array of u8 values
let mut truc = vec![0u8;d.elements() as usize];
d.host(&mut truc);

i don't know about indexing (still fighting with it)

[2017-05-30 09:32] polarathene commented on #134
@ultimaRatio Thanks, I've managed to figure this out and will share an example here for docs if I find time. I ran into a problem for a while where I expected u32 value that I had been working with but the array returned from AF eq() was actually u8 and didn't throw any errors giving me a result that didn't make sense at first.

I can help you with indexing probably if the advice I gave on your is

[2017-05-30 12:02] ultimaRatio commented on #137
thanks for your help, but I've stop fighting with indexing (one could say i've lost :-) )

I think I've just made a bad analysis on the problem.
This example is fine when it's easy to extract the 3 channels from a [height,width,4,1] array.

But when if it's not that easy, it's easier to simply shape (Array::new) or reshape (with moddims) the array to something like [4, height*width, 1, 1] and simp

[2017-05-30 12:02] #137 closed

[2017-05-30 16:35] polarathene commented on #137
[code]

would convert to

[code]

I don't know if the third dim has to be selected like that for individual indices, might be a better way. For more complex indexing I can try help if  you have example.

[2017-05-30 19:34] ultimaRatio commented on #137
thanks, it's clearer now ... but it doesn't work (or i've missed something)

let's take a small example.
if you do this :
[code]
it'll print something like
[code]
so
[code]
is the same thing as loading a 2x6 pixels RGB24 image

if you try
[code]
r should be filled with 1, g should be filled with 2, ... but it's not the case.

I've made a small benchmark of moddims and index (your code) (GTX 970 /

[2017-05-31 06:00] polarathene opened #139 "Image types supported with load_image()?"
There is quite a few formats listed on official docs, on the rust docs no format is mentioned. I've saved an image as jpg, png, bmp but only jpg would work. The other two gave the error:

[code]

I am loading the image like this:

[code]

[2017-05-31 06:29] polarathene commented on #137
@ultimaRatio The slice you create your tmp Array with, values first fill the row length which is 6, so :

[code]
then columns(2nd dim) which you have at 2

[code]

Then the next dim which you're using for rgb values at 3:
[code]

When you see it this way you can see that the order of the values you gave wouldn't fit into the R G B elements like you were thinking, this is red values first(basically

[2017-05-31 07:48] ultimaRatio commented on #137
you're right, my example was wrong.

But since it wasn't working with the image I was loading, it means I've made an error elsewhere and I was looking at the wrong place for a wrong culprit. My bad, I apologize.

Anyway, I've stop using loadImage (for others reasons), so I could shape directly the Array and that means no need for moddims or index.

for the benchmark, it's very basic :
[code]

the

[2017-06-01 09:01] 9prady9 commented on #137
Sorry for the delayed response, I wasn't working for the past couple of days.

@ultimaRatio To answer your initial question on how to extract the channels from an RGB `af::Array`, you can use indexing. However, there is a much simpler way for this use case - [slice](http://arrayfire.org/arrayfire-rust/arrayfire/fn.slice.html) to extract channels.

@polarathene The documentation link you have share

[2017-06-01 09:31] ultimaRatio commented on #137
@9prady9 : ok, thanks.

[2017-06-01 09:46] 9prady9 commented on #134
The documentation `repo md docs` link you shared earlier is not from current release of arrayfire-rust crate.
 The markdown file you are looking at is from the devel branch on github repository landing page. The current release's documentation is available [here](http://arrayfire.github.io/arrayfire-rust/arrayfire/index.html) and it is hyper-linked on the repo landing page in the [documentation se

[2017-06-01 09:46] #134 closed

[2017-06-01 09:58] 9prady9 commented on #136
`eq()` is a comparison operation and thus the result of that operation is boolean in nature irrespective of the input Array type. This is expected behaviour of this function. ArrayFire's upstream implementation represents boolean results using `char` C type. So, the output of eq() call should be an Array of type `DType::B8` - the equivalent enum value of ArrayFire C API is `b8`. Hence, one would o

[2017-06-01 10:46] 9prady9 commented on #139
Can you please do `export AF_PRINT_ERRORS=1` and show the output of your program execution.

[2017-06-02 16:20] ultimaRatio commented on #139
ArrayFire use FreeImage, so it should be able to open a great numbers of files : http://freeimage.sourceforge.net/features.html

have you try to use load_image_native ?

[2017-06-07 11:49] dehn opened #140 "Helloworld panics on version 3.4.3 with backend version 3.4.2."
Running the helloworld example produced the following error. My laptop does not have a GPU. ArrayFire works perfectly when using C++.

Downloaded binary version of arrayfire (3.4.2) and installed in /usr/local. Setup AF_PATH etc. to include this path.
[code]

[2017-06-07 11:52] 9prady9 commented on #140
Can you run again with `export AF_PRINT_ERRORS=1` and show us the output here.

[2017-06-07 11:56] dehn commented on #140
Yes. I just updated the output.

[2017-06-07 12:03] 9prady9 commented on #140
Do you have any OpenCL compatible devices present on your machine ? Since you have installed ArrayFire binaries, it has all the necessary libraries for all backends, however if you don't have a compatible device, you would see error messages such as above.

If your intention was to run ArrayFire on CPU, make sure your AF_PATH doesn't have `libafopencl.so` and `libafcuda.so` in it.

[2017-06-07 12:26] dehn commented on #140
My intention is to run ArrayFire on CPU. I use this for prototyping and then transfer my applications to GPU cluster once done.

Removing `libafcuda.so` and `libafopencl.so` from `AF_PATH` does not seem solve the issue on my machine. If I am to compile a new version of the backend which does not support CUDA and OpenCL, then it will produce version 3.5.0. This will give another kind of error.

Run

[2017-06-07 12:29] dehn commented on #140
It works now.

Removing `libafcuda.so` and `libafopencl.so` from `AF_PATH` works. My bash did not remove the old path for arrayfire (with CUDA and OpenCL support) from LD_LIBRARY_PATH.

[2017-06-07 12:43] dehn commented on #140
Marking issue as closed.

[2017-06-07 12:43] #140 closed

[2017-06-08 04:20] polarathene opened #141 "Extract non-zero indexes / reduce array size?"
Operating on Arrays of 100 mil values, I want to check if any match a value(s) in another Array. `set_intersect()` seems good for this but is quite slow, 430ms or 220ms when unique is set to true.

Another approach was to use `eq()` with `locate()` which converts the equal values of 1 into array of indexes with no zero elements. This took between 480-647ms, `eq()` was very fast but `locate()` was

[2017-06-08 04:58] pavanky commented on #141
@polarathene `eq` + `locate` + index is the only way to do this correctly for now. If the values are not sorted, `set_intersect` will not give correct results. `truc` is for truncating floating point numbers and is not relevant.

What do you intend to do with the output ?

[2017-06-08 06:30] polarathene commented on #141
**TL;DR:** I need a mapping of the original value(that the hash is computed against) for it to be of any value(no good knowing I've found the correct hash if it's not mapped to the input value that produced it).

[NVIDIA wrote a blog article in 2014 about filtering arrays via predicate](https://devblogs.nvidia.com/parallelforall/cuda-pro-tip-optimized-filtering-warp-aggregated-atomics/), Thrust ha

[2017-06-08 06:34] polarathene commented on #141
Far as I can tell I was being given the correct results with this method. Given an small array of possible keys to intersect, it correctly returned the only valid one I expected. If it had a way to provide the indexes of the larger array it would be better than locate performance.

[2017-06-08 07:17] 9prady9 commented on #135
@daboross Sure, that is a bug - the generic's trait bound is missing for `Array::host` method.

I believe adding the HasAfEnum trait bound and a check for slice's length against the output of `Array::elements()` should take care of the memory safety concerns you have expressed. After these changes, do you still think HasAfEnum should be marked unsafe ?

[2017-06-08 07:22] 9prady9 commented on #124
@polarathene I haven't been able to reproduce the error you got in the [comment](https://github.com/arrayfire/arrayfire-rust/issues/124#issuecomment-304677872) that says `thread 'main' panicked at 'Error message: Input does not belong to the current device`

However, I do see the difference in output from changing bools from [3 1 1 1] dims to [1 3 1 1] dims. I am looking into it.

[2017-06-08 07:24] daboross commented on #135
@9prady9 that would be great! I don't think it would need `unsafe` if it requires HasAfEnum, as it could not cause data unsafety.

[2017-06-08 07:45] polarathene commented on #141
I tried a different approach using `sort_index()`, I used `count_all()` to get number of non-zero elements, created a new array with indice as value, dim size  matched number returned from count_all(eg 9). `sort_index()` with descending then gave me two arrays(values and indices) that I could use index_gen() on with the range array to extract the first 9 elements.

Unfortunately the `sort_index()`

[2017-06-08 08:40] 9prady9 commented on #124
@lobachevzky

W.r.t to your [comment](https://github.com/arrayfire/arrayfire-rust/issues/124#issuecomment-291016701), you can create empty arrays ([0, 0, 0, 0] dims) using Array::new_empty(). This is not yet available in latest crate release but available on current HEAD of devel branch. Will try to do a fix release if 3.5.0 doesn't happen soon enough.

[2017-06-08 10:00] polarathene commented on #141
This is apparently known as Stream Compaction as requested on issue #124 . It can take a predicate and perform better than Thrust's `copy_if()` as described [here](http://www.orangeowlsolutions.com/archives/1977)(links to article and github repo with cuda implementation).

Other search results mention using `scan()` to achieve this(issue #124 has a C++ version example for ArrayFire using it), but

[2017-06-08 11:02] 9prady9 commented on #138
@polarathene I think I found the problem. The bug was in indexing code and not in af::locate.

Using the below code
[code]
I don't get the below corrupted output for filter_original after the fix.
[code]
After the fix, the following code gives expected output.

[code]
[code]

[code]
[code]

[2017-06-08 11:12] 9prady9 commented on #139
@polarathene Is this still an issue ?

[2017-06-08 11:24] polarathene commented on #138
That's interesting, my current version is:

[code]

Which is similar to what my edited version I shared earlier did, not sure why the behaviour was different. Was it due to set_index with 0 instead of 1 for dimension on a [1,3,1,1] array? Oh I see the output shifted the dimension, I thought this was expected due to a new array.

[2017-06-08 11:41] 9prady9 commented on #138
What do you mean by shifted the dimension ?

May be I confused you, I shall try to explain in detail once again. The dimension with which set_index is called will have an effect on how the output looks like. In this case, input array is considered 2D because there are > 1 elements along second dimension. The indexing operations will repeat elements if index array size is greater than the number of

[2017-06-08 11:48] polarathene commented on #139
I've tried `load_image_native()`, same problems. The env var to show more detailed errrors has pointed out the problem though, I guess the program I used to export other formats is doing something unexpectedly making it incompatible, I'll look into if I can change that. If possible to forward such an error or mentioning in the docs that a user could have an issue with the bits per channel the imag

[2017-06-08 11:51] 9prady9 commented on #139
@polarathene I shall update the load_image docs about the supported bits per channel information. Sorry about the inconvenience.

[2017-06-08 11:51] polarathene commented on #139
The bits per channel look normal, the image editor claims 8-bit Integer per channel.

[2017-06-08 11:54] 9prady9 commented on #139
load_image should be able to load alpha channels. Can you share the image ? Do you have a C++ setup where you can try loading this image using C++ API ? Ideally, that should also result in same error. Just want to eliminate the possibility of error from rust wrapper side.

[2017-06-08 11:58] polarathene commented on #138
Yes, I think we're on the same page there. Prior [1,3,1,1] as reported when set_index was applied, the array returned was [3,1,1,1]. This isn't what was meant to happen according to info here, and instead the result you shared should have happened unless the correct dimension was given to set_index to return [1,2,1,1] (not [2,1,1,1]) with elements [2,6] instead.

[2017-06-08 12:00] polarathene commented on #139
![rgb](https://user-images.githubusercontent.com/5098581/26927563-84bd6162-4ca6-11e7-860e-4d715eb66054.png)

Assuming the uploaded version isn't different than what I have this is the png. I do not have C++ setup for AF as I'm not a C++ dev. I'll download the uploaded png and verify the error still occurs with it.

[2017-06-08 12:02] polarathene commented on #139
Yeah that throws an error for me. You should be able to confirm on your side too and that it is 8-bit per channel?

[2017-06-08 12:04] ultimaRatio commented on #139
you could check the format of the image with ImageMagick :
`identify -verbose /storage/rgb.png `

[2017-06-08 12:08] polarathene commented on #139
`identify -verbose /storage/rgb.png`:

[code]

It seems since I used pure RGB 255 values only, it optimized it to 1-bit channels...
[code]

[2017-06-08 12:09] 9prady9 commented on #139
I copy pasted a portion of the output of the command `identify -verbose <name>.png`

[code]

It is 1 bit per channel.

[2017-06-08 12:10] polarathene commented on #139
TIL... Krita doesn't seem to have an option for preventing that, time to go raise an issue with them :)

[2017-06-08 12:10] #139 closed

[2017-06-08 12:13] ultimaRatio commented on #139
try this :
convert /storage/rgb.png png24:/storage/rgb24.png

[2017-06-09 05:26] polarathene commented on #138
I ran into the issue I described with locate on another function. Where my solution above does:

[code]

Instead of the original that did:
[code]

Which caused problems described in [the other thread](https://github.com/arrayfire/arrayfire-rust/issues/124#issuecomment-304677872). You can see that instead of assigning to a variable `locate()` call was used as a paramater that was passed to `set_ind

[2017-06-09 05:39] polarathene commented on #138
Avoiding the `join_many!` macro and using the `join_many()` method directly with a vector, it doesn't matter if I push `&c` or `c` versions, both work fine. Perhaps this time the issue is due to the macro?

[2017-06-09 05:46] 9prady9 commented on #138
@polarathene I shall look into the macro. Thank you once again for reporting it.

[2017-06-09 10:04] polarathene commented on #139
@ultimaRatio that didn't seem to work.

I raised the [issue with Krita](https://bugs.kde.org/show_bug.cgi?id=380970) team. They've noted that GIMP and Photoshop have the same behaviour, that it's apparently due to the formats standard. No idea what happens when ArrayFire creates such an image and saves to disk if it also respects that standard(I guess that is up to FreeImage?). If it does, then cr

[2017-06-09 10:19] 9prady9 commented on #139
@polarathene PNG format does work as long as the image loaded by FreeImage has 8/16/32 bit channels. We do have couple of PNG files in our repository that are being used by ArrayFire examples.

We do not handle 1-bit depth per channel images at ArrayFire level I believe, it may not be a FreeImage support issue. You can probably raise an issue on [ArrayFire](https://github.com/arrayfire/arrayfire/i

[2017-06-09 10:34] polarathene commented on #139
@9prady9 Create an image of 0 and 255 values for the RGB channels, save this as a PNG. The Krita dev mentioned the same problem happens with GIMP and Photoshop when doing this. Instead of being able to choose an 8-bit per channel depth the png format optimizes this to 1-bit per channel.

As mentioned earlier in this thread, FreeImage throws an error about 1-bit depth per channel pngs not being sup

[2017-06-09 11:01] polarathene opened #143 "set_col() fails"
[`set_col()` docs](http://arrayfire.org/arrayfire-rust/arrayfire/fn.set_col.html) could do with an example.

It is not clear what the expected array for `new_col` should look like. I have tried dims `[3, 1, 1, 1]` and `[1, 3, 1 ,1]`, both times an error was thrown about incorrect size.

[code]

This throws the following error:
[code]

This might be due to the indexing bug that @9prady9 fixed [here

[2017-06-09 12:04] ultimaRatio commented on #139
i believe it's more a FreeImage Issue than an ArrayFire issue, and maybe more a libpng issue, since png24:rgb.png is supposed to create a RGB24 file.
you could webp  instead of png :
[code]

[2017-06-09 14:05] 9prady9 commented on #138
@polarathene The error `error: expected ident, found &` indicates one can't pass a reference of object to parameter marked as `ident` in macro definition. `&<name>` is not considered an `ident` but an `expr`. Once I changed the macro parameter as `expr`, the code where you pass `&c` instead `c` worked just fine. This has nothing to do with the problem you were seeing earlier with `set_index`.

[2017-06-09 14:17] polarathene commented on #138
@9prady9 Good to know, another bug fixed :)

[2017-06-09 14:18] 9prady9 commented on #138
I am not sure if `expr` is better or `ident` is better. One thing is sure, this is not a bug, neither in ArrayFire nor Rust. May be the macro can be changed to use `expr` but I would have to think about it.

[2017-06-09 14:24] polarathene commented on #138
I am used to creating my arrays as shown elsewhere not with the variable assignment  of the call being referenced. When I use AF methods I add the reference. The `af_print!` macro does not seem to require reference. Like stated `c` as in the example appeaers to be the equivalent of `&c` macro aside, it breaks consistency a bit.

If you'd like an experienced opinion the guys on #rust-beginners IRC

[2017-06-09 14:38] 9prady9 commented on #143
@polarathene I believe you misunderstood what column means here. Given that your input is [1 3 1 1], there are three columns in the Array and each column has single element. Therefore, the `new_col` parameter of `set_col` should be an Array of size 1. Hence, you are seeing an error - your `new_col` Array is of again [1 3 1 1] size where as the function is expecting [1 1 1 1].

I agree that an exam

[2017-06-09 14:38] #143 closed

[2017-06-09 14:41] 9prady9 opened #144 "Improve Macros `eval` and `join_many`"

[2017-06-09 14:43] 9prady9 commented on #138
I have created an issue for improvement of macros, https://github.com/arrayfire/arrayfire-rust/issues/144, you can track the progress of it over there.

[2017-06-09 14:49] polarathene commented on #143
If there were 5 rows of 3 columns(`[5, 3, 1, 1]`), then the `new_col` dims would be `[5,1,1,1]`?

[2017-06-09 15:07] 9prady9 commented on #143
Yes, that is correct.

Array with dimensions [ M N O P ]
has
* `N ` **column**s
* `M` **row**s
* `O` **slice**s of size `M`x`N`

M is number of element in a column
N is number of elements in a row
O is number of elements in a slice of MxN elements

Thus the naming convention of `set_[row | col | slice]` and `get_[row | col | slice]` functions.

[2017-06-09 15:21] polarathene commented on #143
I was familiar with row and col, I noticed slice but it didn't click to me that it was related to these two like that for some reason :) I guess the new docs will mention the 3 together like you just did. I put together an example for using `set_col()` and `col()`(Rust wrapper doesn't call it `get_col()`).

[code]

[2017-06-09 15:24] polarathene commented on #143
Rust docs for `set_col()` I think just need brief code snippet and perhaps mention:

[2017-06-09 15:24] 9prady9 commented on #143
@polarathene My bad, I guessed it is `get_*`. Can you please send in a PR with the code example added to the function ?

[2017-06-09 15:34] 9prady9 commented on #143
Documentation would be part of source code. You can look at the example written for [shift](https://github.com/arrayfire/arrayfire-rust/blob/devel/src/data/mod.rs#L380-L412) to get an idea of how to write an example.

Also, once you write a test - the command `cargo test` will run the code stub you add to the documentation - this way you can check that the code snippet you add compiles fine. You c

[2017-06-10 06:21] polarathene opened #145 "Q: Most performant way to update an entire column or row to a scalar value?"
**TL;DR:** How to efficiently update a large column or row with a single value many times without creating similar sized arrays that use up GPU memory?

---

### Example size and two approaches I can think of
If I have an array with 300 million rows and 5 columns, and I want to update all elements in a column to a shared value multiple times, what is the best way to go about this?

- `set_col()` w

[2017-06-10 06:26] pavanky commented on #145
Can you provide a simple input and output ? Instead of 300 million rows may be chose 10 ? I am trying to understand if there is existing functions to do this efficiently.

[2017-06-10 06:36] pavanky commented on #145
If I understand this correctly there may be a really fast way to do this. I don't know how you would do this in rust, but the fastest (and least memory used way) to do this would be to do the following in C++.

[code]
If the following issue goes through, you can achieve same behavior using `out = select(a, a != x_tiled, y_tiled);` https://github.com/arrayfire/arrayfire/issues/1345

But if you don'

[2017-06-10 06:48] polarathene commented on #145
@pavanky Here is an example based on my existing code, sorry about the wait. With the given result at the end, I would say add a col of the same row height, dims just add a dimension via join. But to batch instead of create all 3 tiles/permutations for 3^4, I'd only be updating that new column(1st column when merged) to be a(97), then process, then change to b(98), and so forth. If the characters

[2017-06-10 06:56] polarathene commented on #145
@pavanky I am using pretty much the same code as above to generate strings, and then my other ArrayFire logic to use this large array for computation. I've tiled it to increase the rows to 300 mil from 26^5("a" to "z" with 5 columns permutates to about 11mil rows).

When around the 300 mil mark I've noticed GPU memory is around 6-7GB, some of that may be due to other ArrayFire logic being affected

[2017-06-10 07:03] polarathene commented on #145
@pavanky When you refer to tile not allocating memory, is this a better option than using constant? At least in this case for creating the boolean cond array for targeting a single column.

[2017-06-10 12:12] #124 closed

[2017-06-10 12:12] #135 closed

[2017-06-10 12:12] #136 closed

[2017-06-10 15:51] pavanky commented on #145
I want an example to show where you are exactly replacing the values. The example doesnt show that.

[2017-06-10 16:19] polarathene commented on #145
@pavanky With the example set, replace any column with a new value? Middle column to `0x100` for example. In my case it will be the left most column(0), if 3 columns of permutations (27x3) was the most my vRAM could support, and I required a length of 5(columns) then I would:

- `join()` to the left side 2 new columns(all value "a"), process this array.
- cycle through the given alphabet/charset("

[2017-06-10 17:16] polarathene commented on #144
Still new to macros, I have a timing macro and I'm trying to replicate the C++ example [here](https://github.com/arrayfire/arrayfire/issues/1818#issuecomment-307574205), in my timing macro it wraps the code to do the AF eval call...which is a macro. It doesn't seem happy about that though.

[code]

Error thrown:
[code]

If I don't namespace the macro instead it throws this:
[code]

If I skip doing

[2017-06-11 11:23] polarathene opened #146 "`replace_scalar()` should allow scalar value to be scalar type"
Out of curiousity is there a reason [`replace_scalar()`](http://arrayfire.org/arrayfire-rust/arrayfire/fn.replace_scalar.html) restricts the scalar type to f64 and not allowing a user provided scalar type like [`constant_t()`](http://arrayfire.org/arrayfire-rust/arrayfire/fn.constant_t.html) does? With `constant_t()` it's a little confusing why it asks for a DType and Scalar unless I've misunderst

[2017-06-11 11:55] 9prady9 commented on #146
Regarding the signature of `constant_t()` - it provides the flexibility of creating an Array of type DType::F32 from an integer. If the scalar is of complex type, then the value of dtype is ignored and the returned Array will be of complex type. This is a bit complex behaviour and could use a more detailed explanation in the documentation - `perhaps a table with input combinations and correspondin

[2017-06-11 11:55] #146 closed

[2017-06-11 12:13] polarathene commented on #146
That's ok @9prady9 , I understand :) Thanks for pointing that out. If I have the time spare I will contribute to documentation or examples in future. I'll raise the issue with upstream. One feature they seem to have natively is assignment, they can apply an index to an array and then apply arithmetic and only those values are updated in the Array. For Rust wrapper, when we use index methods it ext

[2017-06-11 13:27] polarathene commented on #52
Question that can be included in doc(not sure if rust api docs) FAQ. For developers wanting to adopt ArrayFire but not familiar with OpenCL/CUDA or programming with parallelism in mind.

When processing large datasets where you could process millions/billions(a large enough workload to keep the hardware busy at full) at a time, if the algorithm permitted working on **8 individual u8 values(bytes)

[2017-06-12 11:28] Muhd opened #147 "lookup returns array with more dimensions than expected and redundant data"
[code]

Output:
[code]
**Problem**
Result is tiled across the selected dimension in the output, squaring the amount of space used.

**Expected**
It would be better if the result were not tiled and the result only filled n-1 dimensions where n in the number of dimensions in the input. From the above example, I would expect a 1-dimensional array (ideally oriented along the 0th dimension):
[code]

[2017-06-12 11:36] polarathene opened #148 "bitwise XOR assignment fails on 1st dimension"
Not sure why this is failing, trying `array_a ^= array_b` both are U64 type elements, error "Size is incorrect"

Detailed error:
[code]

array_a:
[code]

array_b:
[code]

Example code:
[code]
---

I think this is possibly related to the indexing bug @9prady9 recently fixed. If I increase row elements it fails, if I increase by column elements no crash. I guess I need to wait until the crate is upd

[2017-06-12 11:55] polarathene commented on #148
Just tried the devel branch with the bug fix that was committed and no luck.

[2017-06-12 12:03] polarathene commented on #147
It's returned 20 columns matching the indices you supplied from `winner` to the columns in `utilities`. I've not used the lookup method yet, but that doesn't look like it's broken? Perhaps you misunderstood how it works?

`&lookup(utilities, winners, 1);`
`pub fn lookup(input: &Array, indices: &Array, seq_dim: i32) -> Array`

Your output is correct. You queried the 2nd dimension(cols == 1) with th

[2017-06-12 12:10] Muhd commented on #147
I want to get a one dimensional array with the lookup values:
[0.6000     0.6000     1.0000     1.0000     1.0000     1.0000     1.0000     0.6000     1.0000     1.0000     1.0000     1.0000     1.0000     0.0000     1.0000     1.0000     0.0000     1.0000     1.0000     1.0000]

[2017-06-12 12:21] polarathene commented on #148
[bixor()](http://arrayfire.org/arrayfire-rust/arrayfire/fn.bitxor.html) method works without crashing.

---

While looking into this operator, is it possible to support arithmetic against numbers(eg array_a *= 2)?

I noticed I can do `array_a = array_a * 2` but some operators like shift fail `array_a = array_b << 8` requiring the shiftl() method to use(I'm not sure if batched being true or false m

[2017-06-12 12:21] 9prady9 commented on #148
@polarathene I found a much bigger issue with `Indexer`struct and `Indexer::set_index` which is what I am working now, hence reopened the https://github.com/arrayfire/arrayfire-rust/issues/138. The bit assign `^=` uses indexing internally. So, you would see similar problems using it.

[2017-06-12 12:24] 9prady9 opened #149 "Indexing broken due to incorrect lifetime of borrowed references"
Have to change Indexing to appropriately handle inputs so that borrow checker doesn't allow invalid inputs.

[2017-06-12 12:25] polarathene commented on #147
`utilities` has dims `[20 3 1 1]`, 20 rows, 3 columns. All rows are tiling the first value/row in each column, is this intended? Is utilities only meant to be 3 values and not 60?

[2017-06-12 12:27] Muhd commented on #147
Yes that is intended... perhaps I should have done random values to avoid confusion.

[2017-06-12 12:28] 9prady9 commented on #148
As I said earlier, there is a [know issue](https://github.com/arrayfire/arrayfire-rust/issues/149) with indexing and I am currently looking into it. Closing this issue as locate doesn't have any issue.

[2017-06-12 12:28] #148 closed

[2017-06-12 12:31] 9prady9 commented on #138
Closing this issue as locate doesn't have issues as suspected earlier. Please follow the indexing issue progress on the #149.

[2017-06-12 12:31] #138 closed

[2017-06-12 12:37] polarathene commented on #52
FAQ question:

I noticed I can do `array_a = array_a * 2` but some operators like shift fail `array_a = array_b << 8` requiring the shiftl() method to use. Show table of supported operators and if they allow arithmetic against numbers or AF Arrays only.

Does batched being true or false matters when supplying a number, does it make a difference?

`array_a += 42` vs `array_a = array_a + 42`, does t

[2017-06-12 12:39] polarathene commented on #147
@Muhd So when you supply indices of 0-2 you intend them to map to the columns as they currently do but also matching utilities row to the row of winners?

[2017-06-12 13:05] 9prady9 commented on #147
@Muhd The reason output's first dimension(`0`) has twenty rows is because your input has twenty rows. May I know why there are identical elements in each row ? Is that something you added intentionally using `tile` ?

As far as `lookup` is concerned it is seeing 20 rows and thus it is indexing along all those rows using the `winners` Array object.

[2017-06-12 13:13] polarathene commented on #147
It's intended that the values in each column is the same? Do they ever change? If they don't you might prefer `[1,3,1,1]` for dimensions, that lookup method would work as expected then for you, you'll get a result array of `[1,20,1,1]` you can reshape that or use flat() to get `[20,1,1,1]`.

If the row values in utilities actually do vary(in which case your example is confusing if there is more th

[2017-06-12 13:56] polarathene commented on #148
This applies to all assign ops I think(just ran into it again with +=), though you probably already knew that :)

Doing `a = a ^ b` works, which I guess is what the method equivalents do. At least my lengthy equation can be slimmed back down a bit(really not nice to look at with method chains like this :P :

[code]

[2017-06-12 14:15] Muhd commented on #147
Oh, that works actually, and now I understand what lookup is actually doing. The "tiling" is a feature—it just didn't make sense in the way I wanted to use it. I still feel that it would be nice to have a more direct way to do what I was suggesting initially, in the case where the utilities array is full of independent and random values, but if I ever need that I'll try your second solution.

[2017-06-12 14:27] #147 closed

[2017-06-12 14:39] 9prady9 commented on #149
This has been fixed in devel with 1c19542f4306c0f9b757493e5fdaadd568fe3e11

[2017-06-12 14:41] 9prady9 commented on #138
@polarathene I have put in a fix for this in devel just now. Can you please test it on your end and let me know if everything is working fine. The borrow check will complain now if you are using temporarily allocated Arrays to call set_index.

[2017-06-12 14:41] 9prady9 commented on #148
@polarathene I have put in a fix for this in devel just now. Can you please test it on your end and let me know if everything is working fine. The borrow check will complain now if you are using temporarily allocated Arrays to call set_index.

[2017-06-12 15:17] polarathene commented on #138
@9prady9 Compiling with latest devel with this function in my src:

[code]

Error:
[code]

So my "fix" earlier was incorrect? :P Or was this unintended?

[2017-06-12 15:19] polarathene commented on #138
Compiler is happy with this change:

[code]

[2017-06-12 15:22] polarathene commented on #138
It's also happy if I change the set_index line to `idxr.set_index(&af::locate(bools), 0, None);` So I guess my new error was about indices on join()? I haven't tried running the function.

[2017-06-12 15:24] 9prady9 commented on #138
@polarathene That's odd `idxr.set_index(&af::locate(bools), 0, None);` that should throw an error. It should work after the fix. The fix is to force the user to not pass Array objects created in such manner.

[2017-06-12 15:29] 9prady9 commented on #138
fyi - 8893683fb875673798ca941edd498f24fc17eba2 should be the hash of latest devel HEAD.

[2017-06-12 15:31] polarathene commented on #138
`idxr.set_index(&af::locate(bools), 0, None);` was the way the original method was written on the Steam Compaction [issue](https://github.com/arrayfire/arrayfire-rust/issues/124#issuecomment-304677872). That didn't throw an error in the past, just caused a panic in my test. I've not tested the logic, presumably it's correct now like you mentioned earlier.

`let indices = &af::locate(bools);` cause

[2017-06-12 15:32] 9prady9 commented on #138
This is what I get on my machine if we do `idxr.set_index(&af::locate(bools), 0, None);`
[code]

[2017-06-12 15:35] polarathene commented on #138
Oh the latest commit should be throwing an error for that? Maybe I need to do a cargo clean, hold on.

[2017-06-12 15:38] polarathene commented on #138
Cargo clean seemed to fix that.

[code]

Errors:
[code]

[2017-06-12 15:40] polarathene commented on #138
1st errror was referring to this:

[code]

2nd to filter_original()

[2017-06-12 15:42] 9prady9 commented on #138
You have to move `let indices = af::locate(bools);` before `let mut idxr = af::Indexer::new();` because the objects are dropped in the reverse order of creation. Since `idxr` is borrowing a reference of `indices`, we can't drop indices before idxr - this is order is chosen because of the order in which we created those variables.

[2017-06-12 15:43] 9prady9 commented on #138
@polarathene Is it clear now why `idxr.set_index(&af::locate(bools), 0, None);` should not be allowed ?

[2017-06-12 15:51] polarathene commented on #138
@9prady9 Thanks that fixed it, I was just about to ask how I was meant to use the method now :P First time I've seen the order of declaration matter like that.

I'm still reasonably fresh to Rust, so I don't quite grasp the ownership/borrowing/lifetimes fully yet. I can see that tripping up other users who might not be experienced enough with Rust, though an example snippet with the correct order

[2017-06-12 16:20] 9prady9 commented on #138
@polarathene The business of borrow checking references is surely confusing for a while in the beginning. I took me a while to understand that lifetime of references in set_index call are the reason why borrow checker did not complain earlier. However, the rust compiler's error messages is what guided me in fixing this problem. I guess this order of creation plays a significant role when objects a

[2017-06-13 01:22] #149 closed

[2017-06-13 05:20] polarathene opened #150 "Trouble using CUDA backend"
strace log with `grep -i nvvm`:
[code]

This is the path that is mentioned for [Linux in the unified docs](http://arrayfire.org/docs/unifiedbackend.htm). I'd like to use the CUDA backend but on my Manjaro(Arch Linux) OS nvvm appears to live at `/opt/cuda/nvvm/lib64`

I have both AF and nvvm in my `LD_LIBRARY_PATH`:
[code]
But as can be seen in the above output AF doesn't appear to try loading it a

[2017-06-13 05:49] polarathene commented on #150
I've been using AF binary that I downloaded from the AF site. There is an AUR package maintained by @pavanky but for some reason on my system when I run it, it'll mention my GPU but stall, not sure how to debug as to why.

AUR package:
ldd /usr/lib64/libafcuda.so
[code]

Binary package:
ldd /storage/lib/AF/arrayfire-3/lib/libafcuda.so
[code]

I have CUDA 8, but I guess I had CUDA 7.5 when I got th

[2017-06-13 06:25] polarathene commented on #150
Swapping out the libafcuda.so files in my binary download location with the updated ones from the AUR package also causes the same behaviour even if I don't choose to use the CUDA backend(I guess AF tries to use it which causes the my program to not run properly(but doesn't crash/exit).

[2017-06-13 07:11] ultimaRatio commented on #150
Hi,

could you share your ld.so.conf ? it should contains something like :
[code]
and if you edit your ld.so.conf, remember to do a ldconfig after

[2017-06-13 07:21] 9prady9 commented on #150
@polarathene The code doesn't hard code any paths and also doesn't use versioned library names. Required CUDA version is 6.5 or higher for v3.4.2. CUDA 8.0 should just work fine. The issue's description comment says `export LD_LIBRARY_PATH=/storage/lib/AF/arrayfire-3/lib:/opt/cuda/nvvm/lib64` you should also have `/opt/cuda/lib64` in the path for ArrayFire to work - that is the path where other cu

[2017-06-13 08:14] polarathene commented on #150
@9prady, If you're referring to the title, I accidentally posted the issue forgetting to change it after I noticed my strace output was looking in the correct path and I had set my LD_LIBRARY_PATH to use the one in the Linux setup guide not my own. I changed the title immediately afterwards.

I have also tried with `/opt/cuda/lib64`, that did not work, as `ldd` commands show, the version of AF I'v

[2017-06-13 08:17] polarathene commented on #150
@ultimaRatio I'm not sure how to list the config as one output, it seems to be empty in that file besides an include for a config directory. I have cuda.conf like this:

[code]
The rest of my conf files:
[code]

The main conf file:
[code]

[2017-06-13 08:44] polarathene commented on #150
I swapped Cuda 8 for 7.5, now my ArrayFire binaries that used to work are hanging.

[code]

`before` is printed when I do `cargo run --release`, then it hangs until I ctrl+c to exit the program.

[2017-06-13 08:46] ultimaRatio commented on #150
@polarathene : my bad, i've been too generic. On recent distros, ld.so.conf is indeed a collection of small files located in /etc/ld.so.conf.d/
Maybe not related with your problem, but your cuda.conf implies you have installed 64 bits and 32 bits of Cuda. Is it correct ?

[2017-06-13 08:49] polarathene commented on #150
@ultimaRatio I've got my cuda package installed, I don't think there was a 32 and 64 bit package of each, anyway to tell which one AF is attempting to use? I removed the libafcuda.so files from my AF binaries location and my program runs again using the OpenCL backend.

[2017-06-13 09:03] ultimaRatio commented on #150
nvidia driver could install both 64 and 32 bits files, so it may be fine.
you could play with ENV variable to select the one you want, but it may be best to only keep the 64 bits version, if you don't need both.
just curious, could you show the result of :
[code]

[2017-06-13 09:11] polarathene commented on #150
@ultimaRatio

**ls -alh /opt/cuda/lib64**
[code]

**ls -alh /opt/cuda/lib**
[code]

**ls -alh /opt/cuda/nvvm/lib64**
[code]

**ls -alh /opt/cuda/nvvm/lib**
[code]

[2017-06-13 09:26] ultimaRatio commented on #150
you have only 64 bit version installed, and it seems correct.
you could confirm Cuda is ok with :
`cuda-memcheck --version`
it should gives you something like
`CUDA-MEMCHECK version 8.0.61 ID:(41)`

you should also remove
[code]
and ldconfig after

after that, we could guess Cuda is correct and the problem comes from elsewhere.

[2017-06-13 14:27] polarathene commented on #150
@ultimaRatio I have the same response from that cuda command. I removed and ran ldconfig. It didn't seem to help. I used the arrayfire-git AUR package instead. v3.4.2-2 vs 3.4.2-4(git), the other package I used wasn't from AUR after all and was in the community repo for my distro.

No idea why it's broken, it seems the git pacakge works properly though :)

[2017-06-13 14:28] #150 closed

[2017-06-14 06:44] polarathene opened #151 "If conditions for logic?"
There are methods like all_true, is_zero, etc that return an array with a single element of 0 or 1. We should not transfer that to the host to be able to do a true/false comparison right? Instead do I just create a constant or array with  [1,1,1,1] dims containing one element `0` and another one with `1` instead for these comparisons?(which puts the conditional in JIT kernel instead of switching b

[2017-06-14 14:55] ultimaRatio commented on #151
not sure i have really understood your problem, but sum_all may help you.

[2017-06-14 15:01] polarathene commented on #151
@ultimaRatio I wanted to do an if statement to decide what to do based on the result of a method that returns an array with 0 or 1 as the only value(all_true(), any_true(), iszero(), etc). Since they were an array I could not have an if condition against true/false, similar with other methods like count_zeroes().

I solved it for now with locate(), if it's elements() is not empty then it is true.

[2017-06-15 09:25] ultimaRatio opened #152 "bilateral filter"
Hi,

I need some confirmations on the behavior of bilateral's filter as documentation doesn't tell much about it.

I've dig the code a little bit and it seems the radius is forced to 1.5 x spatial_sigma, and spatial_sigma seems clamped to 11.5 on the CPU backend, and not clamped on GPU (but with visibles artefacts or a runtime error on high values my tests)

So basically, it means it can only prov

[2017-06-16 03:23] 9prady9 commented on #152
@ultimaRatio If there is discrepancy in behaviour between CPU backend and GPU backend, then it seems to me like a bug in the code. Can you please raise this issue [at upstream repo](https://github.com/arrayfire/arrayfire/issues) with the following information. I will look into it.

* Code snippet to test/debug this problem.
* If possible the images too.
* In which cases are you seeing artefacts in

[2017-06-16 03:23] #152 closed

[2017-06-16 04:39] ultimaRatio commented on #152
@9prady9 : thanks for the link. I'm working on examples but before I want to reproduce the artefacts on others configurations (maybe a driver related bug or something like this).

For the discrepancy in behaviour, i'm sure it's not a bug. It's just that higher values will eat too much cpu and take to long to execute to be usable.
The code used for the bilateral filter is correct, but it's the simp

[2017-06-16 04:47] 9prady9 commented on #151
@ultimaRatio @polarathene

There are two versions of reduction based functions always(w.r.t ArrayFire)
1. Reduce operation takes place a given specific dimension. Functions such as all_true, any_true etc. - note that these functions take an additional integer argument that is used to specify the dimension along with reduction operation will take place.
2. Reduce the whole array. Functions such as

[2017-06-16 05:33] 9prady9 commented on #151
@polarathene Thats true, the rust API can be improved in that aspect. I will try to fix this in rust wrapper's 3.4.4 crate release.

This was initially written with `f64` following the C API which looks like `af_sum_all(double real, double imag, af_array arr)` instead of `af_sum_all(void* out, af_array arr)`. The upstream will fix this issue in next major release of ArrayFire as it involves API ch

[2017-06-16 08:03] ultimaRatio commented on #152
done.
https://github.com/arrayfire/arrayfire/issues/1827

one more thing, with strong values (spatial_sigma >=25 for example), i've got this message :
[code]

[2017-06-16 08:37] 9prady9 commented on #152
@ultimaRatio That is because the neighbourhood of current pixel is loaded into local(shared in CUDA) memory of the GPU for fast neighbourhood pixel access in a given work group(block in CUDA). There limit to how much shared(local) memory is available on each GPU. We check for this in each function's kernel implementation and throw unsupported operation if the size goes beyond what the hardware can

[2017-06-16 10:22] 9prady9 opened #154 "Use Array's type as return type for reduction fns"
The following functions currently return `f64` values irrespective of the input `Array` data's native type.
* [x] `sum_all`
* [x] `sum_nan_all`
* [x] `product_all`
* [x] `product_nan_all`
* [x] `min_all`
* [x] `max_all`
* [x] `all_true_all`
* [x] `any_true_all`
* [x] `count_all`
* [x] `imin_all`
* [x] `imax_all`

The above functions need to return the appropriate type value instead of `f64`. This

[2017-06-16 10:23] 9prady9 commented on #151
@polarathene I have created a separate issue for this change, please follow it's progress over there. https://github.com/arrayfire/arrayfire-rust/issues/154

[2017-06-16 10:23] #151 closed

[2017-06-17 03:40] polarathene opened #155 "&mut support?"
[code]

This seems to work so far(still working on fixing compiler errors as I've moved my code into structs/functions):

[code]

[2017-06-17 16:16] 9prady9 commented on #155
@polarathene Each rust function delegates the call to C API and the `const` qualifier on C API is translated to `&Array` (immutable reference in correspondence to the `const`ness of the C API's af_array) input in rust API. If there is a variable of type `&mut Array`, you can always deref it and pass a immutable reference which is the following is working for you.
```*permutations_af = shiftl(&*per

[2017-06-17 16:16] #155 closed

[2017-06-20 04:27] polarathene commented on #151
@9prady9 I've replaced `locate` with `any_true_all` like so:

[code]

I've noticed that locate added about 20 seconds to my test data in my program that would otherwise take 20 secs without the `is_match` check, so total time 40 seconds. `any_true_all` helps but still seems quite expensive adding 12 seconds.

Any idea how to reduce this? The eq() operation seems to be fast but having some way to k

[2017-06-20 05:35] 9prady9 commented on #151
Can you please share the code. A a smaller code snippet to reproduce the same behaviour on our side is more helpful.

[2017-06-20 09:00] polarathene commented on #151
@9prady9 Yeah I intend to as soon as I've got the code in a more organized/digestable state :) Still learning rust and moving it into struct with smaller functions has been a frustrating process due to the borrow checker.

**I'll put the project on github in the next few days hopefully where you can run it for yourself** and see this issue and possibly the other one I've experienced with noise(coi

[2017-06-20 09:20] 9prady9 commented on #151
@polarathene A lot of fixes have been going into devel and we will soon push for v3.5 release and I will update rust wrapper the week following v3.5 release. Hopefully, most of the errors you see now will be fixed then.

I will try to add some timing mechanism to rust wrapper if possible. I don't think timing the entire program's run is a good representative of the average run time of your algorit

[2017-06-20 10:08] polarathene commented on #151
@9prady9 It's not the best way no :) I just know that timing the ArrayFire logic isn't too reliable right? Plus the first JIT isn't clear for me when it's done, all I know is until the JIT part is done it'd be slower initially, from what is said on here. In results below it's either been cached or the JIT part takes very little time that it doesn't matter.

This is my usual timing macro:

[code]

[2017-06-20 10:21] 9prady9 commented on #151
@polarathene You should probably look at https://github.com/arrayfire/arrayfire-rust/blob/devel/examples/pi.rs example that times PI computation. Since the PI computation code calls `sum_all` which copies the final reduction result to host, it doesn't need an explicit `af::sync` call before we call `start.elapsed()`.

If there are multiple devices in play, it is probably better to move computation

[2017-06-20 10:39] polarathene commented on #151
@9prady9 That'd make sense why the any_true_all() results were the same across chunks whereas without it, af::sync(0) was required to get proper timing information.

v3.5 sounds good :) I'll let you know when I have the source on github, hopefully there is a way to know when to stop processing early and return the results without the condition causing such a perf impact. At 18s it's competitive ag

[2017-06-20 10:43] 9prady9 commented on #151
Once you upload your code to github, may be we can suggest some improvements that can further speed up the code.

[2017-06-21 13:02] Muhd opened #158 "Panic when trying to draw surface"
[code]
Panic occurs at last line above

std out:
[code]

[2017-06-21 13:05] 9prady9 commented on #158
@Muhd Can you please do `export AF_PRINT_ERRORS=1 && cargo run` and paste the error message here.

[2017-06-21 14:20] Muhd commented on #158
[code]

[2017-06-21 14:25] 9prady9 commented on #158
@Muhd When you pass vectors as `x_values` and `y_values`. Internally, `x_values` is repeated along 1st dimension and `y_values` is repeated along 0th dimension so that a grid is formed. Hence forth, Z should contain `len(x_values)*len(y_values)` elements. Which is what the error message is indicating `X_dims[0] * Y_dims[0] == (dim_t)Sinfo.elements()`.

[2017-06-22 10:06] Muhd commented on #158
Okay, I believe I fixed it but now it is giving me a new error:
[code]

Looks like the first argument is supposed to be the window handle? Don't see how that could possibly be wrong...

[2017-06-22 10:45] 9prady9 commented on #158
@Muhd Arguments are usually zero-based when it comes to ArrayFire function arguments. So, 1 here probably is x_values. Can you share the code that I can run and check on my end.

[2017-06-22 11:08] Muhd commented on #158
@9prady9
[code]

[2017-06-22 11:26] 9prady9 commented on #158
I see it now, `0.0` defaults to double type on rust, thus resulting in creation of an Array of type `DType::F64`. You have to write `0.0f32` for the first value in slice so that type of all elements defaults to `f32` instead of `f64`

[2017-06-22 11:57] Muhd commented on #158
Ah okay, that fixed it. Thanks.

[2017-06-22 11:58] #158 closed

[2017-08-30 04:05] KrishnaPG commented on #100
Thanks @AtheMathmo for sharing the `ldconfig` tip. I was facing the same problem and after trying many things, finally running `ldconfig` solved the problem in a second. Thanks.

[2017-10-22 07:52] leonard7e commented on #118
Hi.
I run into similar problems.
Tried following ...

[code]
AF_PATH is correct, but my crate wont build. This ...

`$ env AF_PATH=/opt/arrayfire-3
`
did not help.

Thank you,
Leonard

___
Error message I get ...

[code]

[2017-10-22 09:18] pavanky commented on #118
You need to use `export`. Not `env`

[2017-10-22 18:32] leonard7e commented on #118
Hi Pavanky.
First I used export ( (echo $AF_PATH) gave right response) , but it did not work. Since this didn't work, I tried with env...

Somehow environment variables are used
`process didn't exit successfully: `rustc --crate-name arrfir_1 src/main.rs ... native=/opt/arrayfire-3/lib ...
`
Given right path, it still fails to link against arrayfire libs.

[2017-11-09 15:56] sorenmortensen opened #162 "RandomEngine instances are consumed by random_normal() and random_uniform()"
I'm not sure if I'm fully understanding the way the Rust wrapper interacts with the C API, but it seems strange/inconvenient to me that `random_normal()` and `random_uniform()` consume instances of `RandomEngine` rather than taking a `&RandomEngine` or a `&mut RandomEngine`. For example:

[code]

In that example, `random_engine` is moved by the first call to `random_normal()`, so it can't be used

[2017-11-11 04:54] Muhd opened #163 "Cannot get join to work..."
af_print!("mean1: ", mean1);
    af_print!("max: ", max);
    let mean1max = &join(0, mean1, max); // note: also tried with &join(1, mean1, max) and same result

Produces:

    mean1:
    [10 1 1 1]
        0.6503
        0.5258
        0.4585
        0.4492
        0.3626
        0.5375
        0.7091
        0.2010
        0.6620
        0.1955

    max:
    [10 1 1 1]
        1.0000
        1.0

[2017-11-12 08:52] pavanky commented on #163
@Muhd Are they the same type?

@9prady9 Whenever there is an error in any language wrapper, both `af_get_last_error` and `af_err_to_string` should be called and the appropriate message should be shown.

This particular error message is not very useful.

[2017-11-12 16:26] 9prady9 commented on #163
The current implementation of error reporting in rust wrapper works as follows.

1. Any function call at rust level doesn't do any argument validation other than what rust provides automatically to any native function - This can be improved I guess by adding checks, but that will add redundant checks at rust level and increase code maintenance cost.
2. The call to the native library API is wrapped

[2017-11-12 18:37] pavanky commented on #163
@9prady9 This is OK, but I was suggesting that additional info can be given so that `AF_PRINT_ERRORS` is not necessary. If you additionally print out the info from `af_get_last_error`, you will get the same errors we see in C++.

[2017-11-12 18:52] 9prady9 opened #164 "Add additional error info from af_get_last_error to rust failure error messages"

[2017-11-12 18:53] 9prady9 commented on #163
@pavanky Sure, I have created an issue for this. https://github.com/arrayfire/arrayfire-rust/issues/164
@Muhd Is your issue resolved ?

[2017-11-13 13:11] Muhd commented on #163
Yes, thank you.

[2017-11-13 13:11] #163 closed

[2017-11-15 13:00] Haniyya opened #165 "'Error either in ArrayFire or in a project upstream' on arch Linux using arrayfire-rust 3.5.0"
There seems to be an Issue with the bindings on arch linux when initializing an array (or i guess basically anything).
Example code:
[code]
And the Cargo.toml
[code]
The installed version is
[code]

And the resulting error:
[code]

I tried downgrading both arrayfire and the bindings to 3.4.2 i think the results were the same.
I hope this is not a duplicate, i couldn't find any.
And thanks for the

[2017-11-16 03:38] 9prady9 commented on #165
@Haniyya Are the rust cargo examples also reporting similar errors ?

[2017-11-16 16:35] pavanky commented on #165
@Haniyya Can you run the program after running `export AF_PRINT_ERRORS=1`

[2017-11-17 10:51] Haniyya commented on #165
@9prady9 Checking out 'v.3.5.0' or master the error is the same (tried helloworld and acoustic_wave).

@pavanky Running my example from above with `AF_PRINT_ERRORS=1` gives the following:
[code]
So i installed [intels opencl](https://aur.archlinux.org/packages/intel-opencl/)
which works, though it is not as great as using my built in gpu. But that would
require nvidias proprietary drivers which is

[2017-11-17 10:52] Haniyya commented on #165
Would be nice to have some diagnostics that could tell you whether you are missing dependencies (or, if arrayfire already has something similar, to link to it in the README).

[2017-11-17 17:30] pavanky commented on #165
@Haniyya The error seems to indicate you already had an OpenCL driver installed. Probably mesa-opencl (which is known to be buggy) ?

[2017-11-30 21:39] Haniyya commented on #165
@pavanky Sorry for the long wait. By now i have three packages pertaining to OpenCL installed:
`opencl-mesa opencl-nvidia intel-opencl-runtime`. I guess i had mesa and nvidia installed alongside each other.
Just out of curiosity i tried to run examples from [this ocl lib](https://github.com/cogciprocate/ocl) which told me there were no ocl devices (CL_DEVICE_NOT_FOUND).
Btw im trying to follow [ar

[2017-11-30 22:49] pavanky commented on #165
@Haniyya Can you try after uninstalling `opencl-mesa` ?

[2017-12-01 08:04] Haniyya commented on #165
@pavanky Without either mesa or intels opencl both arrayfire and rust-ocl are unable to find a opencl platform (unknown Error when calling clGetPlatformIDs). I reinstalled intel and am able to use it for both projects now.
For hardware reference:
`lspci`:
[code]
And `lscpu`
[code]
So technically i have a compatible gpu, but maybe mesa-opencl is broken for it.

[2018-02-10 19:45] sorenmortensen commented on #162
Any update on this? Thanks.

[2018-02-11 11:28] 9prady9 commented on #162
Sorry about the delay. Haven't been able to look into it until now. Firstly, `RandomEngine` is a wrapper around C-pointer/handle, thus I had to implement `Drop` trait on the struct to properly clean up the resource. Once we did that, we couldn't implement Copy trait as that is not allowed. That is the reason, we can't do `#[derive(Copy)]`.

As far as why I wasn't borrowing RandomEngine instead of

[2018-02-11 11:30] #162 closed

[2018-03-03 15:44] adamisntdead opened #167 "Modifying Values In Array"
I have an array

[code]
Is there to modify a single element of the array in place? If not, how is this done?

I know using C++ I can do

[code]

Any help would be appreciated.

[2018-03-06 09:32] #167 closed

[2018-03-13 00:15] adamisntdead opened #168 "Typo documentation for sparse_get_col_indices"
The documentation reads `Get cololumn indices Array` in `sparse/mod.rs`.

[2018-03-13 03:49] #168 closed

[2018-03-13 03:49] 9prady9 commented on #168
Thank you for the fix.

[2018-03-19 13:03] pravic opened #170 "Docs.rs contains invalid links"
In particular, the Tutorials section: https://docs.rs/arrayfire/3.5.0/arrayfire/#tutorials

[2018-03-19 13:52] 9prady9 commented on #170
@pravic I am not sure docs.rs works. The current hyperlinks for the tutorial sections use relative paths. They work as expected in the documentation we hosted via github pages.

http://arrayfire.org/arrayfire-rust/arrayfire/index.html

[2018-03-19 13:57] 9prady9 commented on #170
We have [separate script ](https://github.com/arrayfire/arrayfire-rust/blob/master/generate_docs.sh) that runs rustdoc on standalone markdown files. We use the output files from previous step along the main documentation. I think whatever `docs.rs` process that generated documentation for our project didn't do this and thus those links are broken on the docs hosted by `docs.rs`. [Our documentation

[2018-03-19 13:57] #170 closed

[2018-03-19 14:42] pravic commented on #170
Yes, I saw it.

May be it is better to make them absolute, at least in the root `lib.rs` to make it less confusing?

Anyway, I just wanted to stop by and tell you about it :)

[2018-03-19 14:56] 9prady9 commented on #170
We definitely appreciate your feedback.

I can make them aboslute but that will make docs.rs documentation point back to our ghpages documentation. I am not sure whether that is good or bad in web world. Do you have any idea how `docs.rs` generates the documentation ? Is it documented anywhere ?

[2018-03-19 14:59] pravic commented on #170
No, unfortunately I can't help you. But you can ask at https://github.com/onur/docs.rs

Personally, I would prefer an absolute link rather than 404.

[2018-04-08 18:36] csheaff opened #171 "Segmentation fault when trying to print arrays to console"
Hello, I'm running a simple example that prints an array to console:

[code]
and I receive the following error after building and executing cargo run:

[code]
This orginally occured using ArrayFire's print command. I thought perhaps using the af_print macro would help. When this didn't work, I attempted to flush stdout. Any assistance would be grand. I'm running Manjaro Linux, Kernel 4.14.31-1.

[2018-04-09 05:44] 9prady9 commented on #171
@csheaff Please re-run the program after setting the environment variable `AF_PRINT_ERRORS` to 1.

[2018-04-09 13:57] csheaff commented on #171
@9prady9 Hello, this has already been done. The following are my variables:

[code]

[2018-04-09 15:40] 9prady9 commented on #171
That is odd to not have any sort of error message. Which version of ArrayFire are you using?

[2018-04-09 15:44] csheaff commented on #171
@9prady9

ArrayFire v3.5.1-4

[2018-04-09 15:51] 9prady9 commented on #171
Can you try and see if gdb shows any stack trace. Although I doubt because ArrayFire libs are release binaries.

[2018-04-09 15:52] 9prady9 commented on #171
Which OS is this happening on?

[2018-04-18 03:29] 9prady9 commented on #171
It is seg-faulting at program exit. What devices(CPU & GPUs) do you have on the machine ? Can you try it on any non-intel device ?

I am wondering if this is because of Intel opencl libs.

[2018-04-18 03:47] 9prady9 commented on #165
Intel reinstall probably installed the `ocl-icd` loader and hence you were able to use it after the reinstall. Closing the issue as the issue seems to be with `mesa-opencl` package.

[2018-04-18 03:47] #165 closed

[2018-04-18 13:57] csheaff commented on #171
Current machine has an Intel Core i5-6300U CPU. No GPU. Running intel-opencl 5.0.r63503-1. I'll try to find another machine, but it may take some time.

Thanks for the feedback!

[2018-05-10 14:10] treenix opened #172 "Q: Implementing outer product"
I am trying to implement an outer product function. I found [this example](https://stackoverflow.com/questions/45635161/row-column-wise-outer-product-in-arrayfire-python) for python which also uses arrayfire.

This is how I implemented it
[code]

And I call it with the values from the example
[code]

But I get this error
[code]
In line
[code]

Can someone provide me information to get this working

[2018-05-10 16:41] treenix commented on #172
@9prady9
I got it working now. First of all, I initialized the values in the wrong order rows/columns swapped, but that was not the problem.

Enabling broadcasting by changing
[code]
to
[code]
fixed the issue.
Thanks to [this comment](https://github.com/arrayfire/arrayfire-rust/issues/108#issuecomment-280884961) for point that out.

Note: The documentation does not clearly say that the batch flag

[2018-05-10 16:41] #172 closed

[2018-06-03 08:48] dineshadepu opened #173 "Example fails to run"
Hi,
I am trying to build simple example using arrayfire. I get the following error.

[code]

The file I am running is in examples folder and is
[code]
My bashrc has the path of arrayfire where, and is

[code]